Repository neo4j/graphql, changes with the labels that .github/labeler.yml gives for each.
All labels: graphql, ogm

.github/labeler.yml:

graphql:
  - packages/graphql/**/*

ogm:
  - packages/ogm/**/*

Fixed issue #425 (broken count)
  packages/graphql/src/schema/resolvers/count.ts
Labels: graphql

Fixed issue #425 (broken count)
  packages/graphql/src/schema/resolvers/count.ts
Labels: graphql

fix: incorrect replacement of projection params
  packages/graphql/src/translate/translate-create.ts
Labels: graphql

fix: incorrect replacement of projection params
  packages/graphql/src/translate/translate-create.ts
Labels: graphql

add: int test
  packages/graphql/tests/integration/create.int.test.ts
Labels: graphql

add: int test
  packages/graphql/tests/integration/create.int.test.ts
Labels: graphql

add: tck test
  packages/graphql/tests/tck/tck-test-files/cypher/operations/create.md
Labels: graphql

add: tck test
  packages/graphql/tests/tck/tck-test-files/cypher/operations/create.md
Labels: graphql

Refactor count-fix using existing patterns
  packages/graphql/src/schema/resolvers/count.ts
Labels: graphql

Refactor count-fix using existing patterns
  packages/graphql/src/schema/resolvers/count.ts
Labels: graphql

Cover count-fix by unit-tests
  packages/graphql/src/schema/resolvers/count.test.ts
Labels: graphql

Cover count-fix by unit-tests
  packages/graphql/src/schema/resolvers/count.test.ts
Labels: graphql

Renames workflows, and fixes publishing
  .github/workflows/docs.yml
  .github/workflows/main.yml
Labels: none

Renames workflows, and fixes publishing
  .github/workflows/docs.yml
  .github/workflows/main.yml
Labels: none

Add changelog builder
  .github/workflows/main.yml
  config/release-changelog-builder-action/configuration-graphql.json
  config/release-changelog-builder-action/configuration-ogm.json
Labels: none

Add changelog builder
  .github/workflows/main.yml
  config/release-changelog-builder-action/configuration-graphql.json
  config/release-changelog-builder-action/configuration-ogm.json
Labels: none

cleanup: int test
  packages/graphql/tests/integration/create.int.test.ts
Labels: graphql

cleanup: int test
  packages/graphql/tests/integration/create.int.test.ts
Labels: graphql

fix: regexp to replace all reassignments
  packages/graphql/src/translate/translate-create.ts
Labels: graphql

fix: regexp to replace all reassignments
  packages/graphql/src/translate/translate-create.ts
Labels: graphql

Add SonarCloud job
  .github/workflows/main.yml
Labels: none

Add SonarCloud job
  .github/workflows/main.yml
Labels: none

Add in steps to actually publish packages
  .github/workflows/main.yml
Labels: none

Add in steps to actually publish packages
  .github/workflows/main.yml
Labels: none

Add sonar-project.properties files
  packages/graphql/sonar-project.properties
  packages/ogm/sonar-project.properties
Labels: graphql, ogm

Add sonar-project.properties files
  packages/graphql/sonar-project.properties
  packages/ogm/sonar-project.properties
Labels: graphql, ogm

config: adjust root config to pick up on neo4j-graphql-ogm-types
  jest.config.base.js
  tsconfig.json
Labels: none

config: add base files for neo4j-graphql-ogm-types
  packages/ogm-types/.npmignore
  packages/ogm-types/.npmrc
  packages/ogm-types/LICENSE.txt
  packages/ogm-types/jest.config.js
  packages/ogm-types/package.json
  packages/ogm-types/src/tsconfig.json
Labels: none

docs: add root link to neo4j-graphql-ogm-types
  README.md
Labels: none

feat: changed to OGM properties and export to support neo4j-graphql-ogm-types
  packages/ogm/src/classes/OGM.ts
  packages/ogm/src/index.ts
Labels: ogm

feat: neo4j-graphql-ogm-types
  packages/ogm-types/src/generate.ts
  packages/ogm-types/src/index.ts
Labels: none

test: neo4j-graphql-ogm-types
  packages/ogm-types/src/generate.test.ts
Labels: none

config: changes to yarn lock and gitignore to support neo4j-graphql-ogm-types
  .gitignore
  yarn.lock
Labels: none

docs: add readme.md for neo4j-graphql-ogm-types
  packages/ogm-types/README.md
Labels: none

docs: remove lingering banner
  README.md
Labels: none

docs: ts code highlight in docs
  packages/ogm-types/README.md
Labels: none

docs: add typescript type generation to asci docs
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/ogm/api-reference/index.adoc
  docs/modules/ROOT/pages/ogm/api-reference/type-generation.adoc
  docs/modules/ROOT/pages/ogm/index.adoc
  docs/modules/ROOT/pages/ogm/type-generation.adoc
Labels: none
