Repository neo4j/graphql, pull requests merged in 2021-11, with the labels that each got.

#566 Fix: call new on GraphQLString
  packages/graphql/src/schema/validation/directives.ts
Labels: graphql, fix

#565 Fix/null points
  packages/graphql/src/translate/projection/elements/create-point-element.test.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/tests/integration/issues/560.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/projection.test.ts
  packages/graphql/tests/tck/tck-test-files/types/point.test.ts
  packages/graphql/tests/tck/tck-test-files/types/points.test.ts
Labels: graphql, fix

#568 fix: error when only selecting info on update and create operations
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/only-info.test.ts
Labels: graphql, fix

#564 Added OpenID Json Web Key Sets for verification via the @auth directive
  docs/markdown/DEVELOPING.md
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/package.json
  packages/graphql/src/auth/get-jwt.ts
  packages/graphql/src/classes/Neo4jGraphQL.ts
  yarn.lock
Labels: documentation, graphql

#571 refactor: remove old publish scripts
  package.json
  packages/graphql/package.json
  packages/graphql/scripts/check-version.js
  packages/ogm/package.json
  packages/ogm/scripts/check-version.js
Labels: graphql, ogm

#495 feat: Resolve fields on unions returned by custom cypher
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/315.int.test.ts
  packages/graphql/tests/integration/issues/388.int.test.ts
  packages/graphql/tests/integration/issues/487.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/cypher.test.ts
Labels: graphql, feature

#572 Fix/non null relationships
  packages/graphql/src/classes/Error.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/get-field-type-meta.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-relationship-validation-str.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/interface-relationships/create/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/update.int.test.ts
  packages/graphql/tests/integration/issues/247.int.test.ts
  packages/graphql/tests/integration/issues/315.int.test.ts
  packages/graphql/tests/integration/issues/388.int.test.ts
  packages/graphql/tests/integration/issues/440.int.test.ts
  packages/graphql/tests/integration/issues/549.int.test.ts
  packages/graphql/tests/integration/relationship-properties/create.int.test.ts
  packages/graphql/tests/integration/relationship-properties/delete.int.test.ts
  packages/graphql/tests/integration/relationship-properties/disconnect.int.test.ts
  packages/graphql/tests/integration/relationship-properties/update.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/update.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/update.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/update.test.ts
Labels: graphql, fix

#528 Feat: Autogenerated Typescript for OGM
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/api-reference/index.adoc
  docs/modules/ROOT/pages/ogm/api-reference/index.adoc
  docs/modules/ROOT/pages/ogm/api-reference/type-generation.adoc
  docs/modules/ROOT/pages/ogm/index.adoc
  docs/modules/ROOT/pages/ogm/type-generation.adoc
  packages/ogm/package.json
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
  packages/ogm/src/index.ts
  packages/ogm/tests/integration/ogm.int.test.ts
  yarn.lock
Labels: documentation, feature, ogm

#584 Correct remnant assertConstraints in documentation
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
Labels: documentation

#579 Fixed edge updates on one to one relationships
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/579.int.test.ts
Labels: graphql

#576 fix/559: add subscription type fields to resolve tree field resolver
  packages/graphql/src/utils/get-neo4j-resolve-tree.test.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
Labels: graphql, fix

#587 Querying DateTime in the edge of a connection throws an error
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/date-in-edge.test.ts
Labels: graphql

#599 Generate scalar typedefs before extra definitions
  packages/graphql/package.json
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/integration/issues/586.int.test.ts
  yarn.lock
Labels: graphql

#578 Fix/564: Async error when reading from JWKS endpoint
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/package.json
  packages/graphql/src/auth/get-jwt.ts
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/translate/create-auth-param.ts
  packages/graphql/tests/integration/directives/auth/jwks-endpoint.int.test.ts
  packages/graphql/tests/integration/directives/auth/object-path.int.test.ts
  packages/graphql/tests/integration/issues/505.int.test.ts
  yarn.lock
Labels: documentation, graphql, fix

#598 Sorting by relationship properties for union and interface fields
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/connections/interfaces.int.test.ts
  packages/graphql/tests/integration/connections/unions.int.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/unions.test.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, feature

#603 Fix for missing auth parameter
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/tck/tck-test-files/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
Labels: graphql, fix

#602 Fix on some lint errors
  .eslintrc.js
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/schema/create-relationship-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/aggregations/where/count.int.test.ts
  packages/graphql/tests/integration/custom-directives.int.test.ts
  packages/graphql/tests/integration/issues/586.int.test.ts
  packages/graphql/tests/integration/teardown.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/node-labels.test.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/src/generate.ts
Labels: graphql, ogm

#597 Feat/Aggregate Sum
  docs/modules/ROOT/pages/filtering.adoc
  docs/modules/ROOT/pages/queries.adoc
  packages/graphql/src/schema/create-relationship-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/field-aggregations/aggregation-sub-queries.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/integration/aggregations/field-level/field-level-aggregations.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/bigint.test.ts
  packages/graphql/tests/integration/aggregations/top-level/float.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/int.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/int.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/int.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations-alias.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations-edge.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/float.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/int.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/float.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/int.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/float.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/int.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, feature, ogm

#590 Fix: Project All Interface Fields For Types Implementing `@relationship` Interface
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/tests/integration/issues/583.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/583.test.ts
Labels: graphql, fix

#581 Introspect a database schema and generate GraphQL typedefs from it
  .github/labeler.yml
  .github/workflows/main.yml
  .github/workflows/pull-requests.yml
  docs/markdown/DEVELOPING.md
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/introspector.adoc
  docs/modules/ROOT/pages/troubleshooting/index.adoc
  docs/modules/ROOT/pages/type-definitions/index.adoc
  jest.config.base.js
  packages/introspector/.npmignore
  packages/introspector/.npmrc
  packages/introspector/LICENSE.txt
  packages/introspector/README.md
  packages/introspector/jest.config.js
  packages/introspector/package.json
  packages/introspector/src/classes/Node.ts
  packages/introspector/src/classes/Property.ts
  packages/introspector/src/classes/Relationship.ts
  packages/introspector/src/constants.ts
  packages/introspector/src/index.ts
  packages/introspector/src/to-internal-struct.ts
  packages/introspector/src/transforms/neo4j-graphql/GraphQLNode.ts
  packages/introspector/src/transforms/neo4j-graphql/NodeField.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Exclude.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Node.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Relationship.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/RelationshipProperties.ts
  packages/introspector/src/transforms/neo4j-graphql/graphql.ts
  packages/introspector/src/transforms/neo4j-graphql/index.ts
  packages/introspector/src/transforms/neo4j-graphql/types.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/create-node-fields.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/create-relationship-fields.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/generate-relationship-field-name.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/generate-relationship-props-name.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/map-neo4j-to-graphql-type.ts
  packages/introspector/src/tsconfig.build.json
  packages/introspector/src/tsconfig.json
  packages/introspector/src/types.ts
  packages/introspector/src/utils/clean-type-name.test.ts
  packages/introspector/src/utils/clean-type-name.ts
  packages/introspector/src/utils/pascal-case.test.ts
  packages/introspector/src/utils/pascal-case.ts
  packages/introspector/src/utils/unique-string.test.ts
  packages/introspector/src/utils/unique-string.ts
  packages/introspector/tests/integration/graphql/graphs.test.ts
  packages/introspector/tests/integration/graphql/nodes.test.ts
  packages/introspector/tests/integration/neo4j.ts
  packages/introspector/tests/tsconfig.json
  packages/introspector/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: documentation, feature, introspector

#605 Fix/not null field aggregations
  packages/graphql/src/schema/aggregations/aggregation-types-mapper.ts
  packages/graphql/src/schema/aggregations/aggregations-types-mapper.test.ts
  packages/graphql/src/schema/aggregations/field-aggregation-composer.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/field-aggregations/utils.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/integration/issues/594.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/custom-mutations.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/autogenerate.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/ignore.test.ts
  packages/graphql/tests/schema/directives/node-plural.test.ts
  packages/graphql/tests/schema/directives/private.test.ts
  packages/graphql/tests/schema/directives/readonly.test.ts
  packages/graphql/tests/schema/directives/timestamps.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/extend.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/schema/inputs.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/200.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/scalar.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/schema/types/date.test.ts
  packages/graphql/tests/schema/types/datetime.test.ts
  packages/graphql/tests/schema/types/duration.test.ts
  packages/graphql/tests/schema/types/localdatetime.test.ts
  packages/graphql/tests/schema/types/localtime.test.ts
  packages/graphql/tests/schema/types/time.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
Labels: graphql, fix, ogm

#607 Eslint fix
  .eslintrc.js
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/tests/integration/fragments.int.test.ts
  packages/graphql/tests/integration/issues/349.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/integration/unions.int.test.ts
Labels: graphql
