Repository neo4j/graphql, pull requests merged in 2021-10, with the labels that each got.

#523 Fix access-control.adoc operations field for @exclude directive
  docs/modules/ROOT/pages/type-definitions/access-control.adoc
Labels: documentation

#519 Feat/where aggregations
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/tests/integration/aggregations/where/count.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/bigint.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/datetime.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/float.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/id.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/int.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/string.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/bigint.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/datetime.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/float.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/id.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/int.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/string.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/count.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/bigint.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/datetime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/duration.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/float.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/id.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/int.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/localdatetime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/localtime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/logical.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/string.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/edge/time.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/logical.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/bigint.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/datetime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/duration.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/float.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/id.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/int.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/localdatetime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/localtime.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/logical.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/string.md
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/where/node/time.md
Labels: documentation, graphql

#527 Fix transformation of arguments to @cypher directives
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/tests/integration/issues/526.int.test.ts
Labels: graphql, fix
