Repository neo4j/graphql, pull requests merged in 2021-12, with the labels that each got.

#616 Set all aggregation fields as nullable
  packages/graphql/src/schema/aggregations/aggregation-types-mapper.ts
  packages/graphql/src/schema/aggregations/aggregations-types-mapper.test.ts
  packages/graphql/src/translate/field-aggregations/utils.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/custom-mutations.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/autogenerate.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/ignore.test.ts
  packages/graphql/tests/schema/directives/node-plural.test.ts
  packages/graphql/tests/schema/directives/private.test.ts
  packages/graphql/tests/schema/directives/readonly.test.ts
  packages/graphql/tests/schema/directives/timestamps.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/extend.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/schema/inputs.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/200.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/scalar.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/schema/types/date.test.ts
  packages/graphql/tests/schema/types/datetime.test.ts
  packages/graphql/tests/schema/types/duration.test.ts
  packages/graphql/tests/schema/types/localdatetime.test.ts
  packages/graphql/tests/schema/types/localtime.test.ts
  packages/graphql/tests/schema/types/time.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
Labels: graphql, ogm

#614 Introspector fixes
  packages/introspector/src/transforms/neo4j-graphql/graphql.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/create-relationship-fields.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/generate-graphql-safe-name.test.ts
  packages/introspector/src/transforms/neo4j-graphql/utils/generate-graphql-safe-name.ts
  packages/introspector/src/tsconfig.json
  packages/introspector/tests/integration/graphql/graphs.test.ts
  packages/introspector/tests/integration/graphql/nodes.test.ts
Labels: introspector

#617 Fix: Escape all @node directive labels
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/NodeDirective.test.ts
  packages/graphql/src/classes/NodeDirective.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations-labels.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/label.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-additional-labels.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label-jwt.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-plural.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth.test.ts
Labels: graphql, fix

#618 Fix versions for release
  .yarn/versions/b4e19398.yml
  docs/package-lock.json
  docs/package.json
  package.json
  packages/introspector/package.json
  packages/introspector/src/tsconfig.json
  yarn.lock
Labels: introspector

#637 Fix: Removes escaped labels from filter IN labels statements
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/NodeDirective.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/tests/integration/issues/escape-in-union.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label-union.test.ts
Labels: graphql, fix

#639 Fix context being overriden in for multiple queries #620
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/resolvers/aggregate.ts
  packages/graphql/src/schema/resolvers/count.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/schema/resolvers/delete.ts
  packages/graphql/src/schema/resolvers/numerical.ts
  packages/graphql/src/schema/resolvers/read.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
  packages/graphql/tests/integration/issues/620.int.test.ts
Labels: graphql, fix

#643 Reverts #572 non nullable relation checks
  packages/graphql/src/classes/Error.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/get-field-type-meta.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-relationship-validation-str.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/interface-relationships/create/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/update.int.test.ts
  packages/graphql/tests/integration/issues/247.int.test.ts
  packages/graphql/tests/integration/issues/315.int.test.ts
  packages/graphql/tests/integration/issues/388.int.test.ts
  packages/graphql/tests/integration/issues/440.int.test.ts
  packages/graphql/tests/integration/issues/549.int.test.ts
  packages/graphql/tests/integration/issues/572.int.test.ts
  packages/graphql/tests/integration/relationship-properties/create.int.test.ts
  packages/graphql/tests/integration/relationship-properties/delete.int.test.ts
  packages/graphql/tests/integration/relationship-properties/disconnect.int.test.ts
  packages/graphql/tests/integration/relationship-properties/update.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/update.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/update.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/update.test.ts
Labels: graphql, fix

#625 Fix some flakey integration tests for aliases
  packages/graphql/tests/integration/connections/alias.int.test.ts
Labels: graphql

#640 Fix issues with Introspector regarding nodes with zero and multiple labels
  packages/introspector/src/to-internal-struct.ts
  packages/introspector/src/transforms/neo4j-graphql/graphql.ts
  packages/introspector/src/utils/neo4j-token-escape.test.ts
  packages/introspector/src/utils/neo4j-token-escape.ts
  packages/introspector/src/utils/node-key.test.ts
  packages/introspector/src/utils/node-key.ts
  packages/introspector/tests/integration/graphql/graphs.test.ts
  packages/introspector/tests/integration/graphql/nodes.test.ts
Labels: fix, introspector

#648 Document 4.4 compatibility and add GitHub Actions test runs
  .github/workflows/main.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release.yml
  docs/modules/ROOT/pages/introduction.adoc
Labels: documentation

#658 Pin graphql-compose to 9.0.4 until we have upgraded to GraphQL 16.x
  packages/graphql/package.json
  yarn.lock
Labels: graphql, fix
