Repository neo4j/graphql, pull requests merged in 2021-08, with the labels that each got.

#401 Remove prerelease marker
  docs/antora/antora.yml
Labels: documentation, 2.0.0

#436 GitHub Actions tweaks following release
  .github/workflows/fallback-bump-version.yml
  .github/workflows/fallback-changelog.yml
  .github/workflows/fallback-publish.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  packages/graphql/tests/integration/issues/402.int.test.ts
  packages/graphql/tests/integration/issues/413.int.test.ts
Labels: graphql

#438 Fix variable assignment for filtering on relationship node in connections
  packages/graphql/src/translate/where/create-node-where-and-params.ts
  packages/graphql/tests/integration/connections/filtering.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/connections/filtering/node/relationship.md
Labels: graphql, fix

#439 Fix aliasing of ID, Int, and Float fields
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/tests/integration/alias.int.test.ts
Labels: graphql, fix

#445 Allow MutationResponse and SortDirection through validation
  packages/graphql/src/schema/validation/enums.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql

#443 Refactor of execute.ts ahead of adding bookmark return
  packages/graphql/src/schema/resolvers/count.test.ts
  packages/graphql/src/schema/resolvers/count.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/schema/resolvers/delete.ts
  packages/graphql/src/schema/resolvers/read.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
Labels: graphql

#450 Update delete.adoc
  .github/labeler.yml
  docs/modules/ROOT/pages/mutations/delete.adoc
  docs/modules/ROOT/pages/ogm/index.adoc
Labels: documentation

#453 Fix/433 - Exclude empty where from cypher generation
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/issues/433.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/issues/433.md
Labels: graphql, fix

#455 Add @relationshipProperties directive
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/guides/migration-guide/type-definitions.adoc
  docs/modules/ROOT/pages/type-definitions/basics.adoc
  docs/modules/ROOT/pages/type-definitions/relationships.adoc
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/tests/tck/tck-test-files/schema/relationship-properties.md
Labels: documentation, graphql, feature

#457 Fix @id and @timestamp for relationship properties
  packages/graphql/src/translate/create-set-relationship-properties-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/autogenerate.int.test.ts
  packages/graphql/tests/integration/timestamps.int.test.ts
Labels: graphql, fix

#441 Wrap disconnect operations in subqueries
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/integration/issues/440.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/allow.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/bind.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/is-authenticated.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/roles.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/where.md
  packages/graphql/tests/tck/tck-test-files/cypher/nested-unions.md
  packages/graphql/tests/tck/tck-test-files/cypher/operations/update.md
  packages/graphql/tests/tck/tck-test-files/cypher/pringles.md
  packages/graphql/tests/tck/tck-test-files/cypher/union.md
Labels: graphql, fix

#449 Feature: Add Time Scalar
  docs/modules/ROOT/pages/type-definitions/types.adoc
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/scalars/Time.ts
  packages/graphql/src/schema/scalars/index.ts
  packages/graphql/tests/integration/types/time.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/types/time.md
  packages/graphql/tests/tck/tck-test-files/schema/types/time.md
Labels: documentation, graphql, feature

#451 Feature: Add LocalTime Scalar
  docs/modules/ROOT/pages/type-definitions/types.adoc
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/scalars/LocalTime.ts
  packages/graphql/src/schema/scalars/index.ts
  packages/graphql/tests/integration/types/localtime.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/types/localtime.md
  packages/graphql/tests/tck/tck-test-files/schema/types/localtime.md
Labels: documentation, graphql, feature

#460 Feature: Add LocalDateTime Scalar
  docs/modules/ROOT/pages/type-definitions/types.adoc
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/scalars/LocalDateTime.ts
  packages/graphql/src/schema/scalars/index.ts
  packages/graphql/tests/integration/types/localdatetime.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/types/localdatetime.md
  packages/graphql/tests/tck/tck-test-files/schema/types/localdatetime.md
Labels: documentation, graphql, feature

#458 Return bookmarks so that users can read their own writes
  docs/modules/ROOT/pages/driver-configuration.adoc
  docs/modules/ROOT/pages/troubleshooting/faqs.adoc
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/delete.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/info.int.test.ts
  packages/graphql/tests/tck/tck-test-files/schema/arrays.md
  packages/graphql/tests/tck/tck-test-files/schema/comments.md
  packages/graphql/tests/tck/tck-test-files/schema/connections/enums.md
  packages/graphql/tests/tck/tck-test-files/schema/connections/sort.md
  packages/graphql/tests/tck/tck-test-files/schema/connections/unions.md
  packages/graphql/tests/tck/tck-test-files/schema/custom-mutations.md
  packages/graphql/tests/tck/tck-test-files/schema/directive-preserve.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/access-directives.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/autogenerate.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/cypher.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/default.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/exclude.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/ignore.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/private.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/timestamps.md
  packages/graphql/tests/tck/tck-test-files/schema/enum.md
  packages/graphql/tests/tck/tck-test-files/schema/extend.md
  packages/graphql/tests/tck/tck-test-files/schema/inputs.md
  packages/graphql/tests/tck/tck-test-files/schema/interfaces.md
  packages/graphql/tests/tck/tck-test-files/schema/issues/162.md
  packages/graphql/tests/tck/tck-test-files/schema/issues/200.md
  packages/graphql/tests/tck/tck-test-files/schema/null.md
  packages/graphql/tests/tck/tck-test-files/schema/relationship-properties.md
  packages/graphql/tests/tck/tck-test-files/schema/relationship.md
  packages/graphql/tests/tck/tck-test-files/schema/scalar.md
  packages/graphql/tests/tck/tck-test-files/schema/simple.md
  packages/graphql/tests/tck/tck-test-files/schema/types/bigint.md
  packages/graphql/tests/tck/tck-test-files/schema/types/date.md
  packages/graphql/tests/tck/tck-test-files/schema/types/datetime.md
  packages/graphql/tests/tck/tck-test-files/schema/types/localdatetime.md
  packages/graphql/tests/tck/tck-test-files/schema/types/localtime.md
  packages/graphql/tests/tck/tck-test-files/schema/types/point.md
  packages/graphql/tests/tck/tck-test-files/schema/types/time.md
  packages/graphql/tests/tck/tck-test-files/schema/unions.md
Labels: documentation, graphql, feature, blocked

#467 fix small errors in example code
  docs/modules/ROOT/pages/ogm/examples/custom-resolvers.adoc
Labels: documentation
