Repository neo4j/graphql, pull requests merged in 2021-09, with the labels that each got.

#463 @alias directive - map a GraphQL field to a Neo4j node/relationship property under a different name
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  docs/modules/ROOT/pages/type-definitions/index.adoc
  packages/graphql/package.json
  packages/graphql/src/schema/get-alias-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/map-to-db-property.ts
  packages/graphql/tests/integration/alias-directive.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/directives/alias.md
  packages/graphql/tests/tck/tck-test-files/schema/directives/alias.md
Labels: documentation, changelog, graphql, feature

#466 Refactor: dateTimeFields to temporalFields
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/Relationship.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties.ts
  packages/graphql/src/translate/create-update-and-params.test.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/create-where-and-params.test.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.test.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.ts
  packages/graphql/src/translate/where/create-node-where-and-params.ts
  packages/graphql/src/translate/where/create-relationship-where-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/map-to-db-property.ts
  packages/graphql/tests/integration/timestamp/datetime.int.test.ts
  packages/graphql/tests/integration/timestamp/time.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/directives/timestamp/datetime.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/timestamp/time.md
  packages/ogm/src/classes/OGM.ts
Labels: graphql, ogm

#481 Update tck tests on nested disconnect
  packages/graphql/tests/tck/tck-test-files/cypher/operations/disconnect.md
Labels: graphql

#478 Fix roles int test
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/troubleshooting/security.adoc
  packages/graphql/tests/integration/auth/roles.int.test.ts
Labels: documentation, graphql

#459 Feature: Add Duration Scalar
  docs/modules/ROOT/pages/type-definitions/types.adoc
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/scalars/Duration.test.ts
  packages/graphql/src/schema/scalars/Duration.ts
  packages/graphql/src/schema/scalars/index.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/where/create-node-where-and-params.ts
  packages/graphql/src/translate/where/create-relationship-where-and-params.ts
  packages/graphql/tests/integration/types/duration.int.test.ts
  packages/graphql/tests/schema/types/duration.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/types/duration.md
Labels: documentation, graphql, feature

#477 Fix: Project Interface Fields
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/fragments.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/fragments.md
Labels: graphql

#475 Specify mapping of GraphQL type -> Neo4j node label using `@node` directive
  .prettierrc
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/NodeDirective.test.ts
  packages/graphql/src/classes/NodeDirective.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse-node-directive.test.ts
  packages/graphql/src/schema/parse-node-directive.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-count.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/test/index.ts
  packages/graphql/src/utils/test/node-builder.ts
  packages/graphql/tests/tck/tck-test-files/cypher/aggregations/label.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/where.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-additional-labels.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-label-union.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-label.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-with-auth-projection.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-with-auth.md
  packages/graphql/tests/tck/tck-test-files/cypher/nested-unions.md
  packages/graphql/tests/tck/tck-test-files/cypher/union.md
Labels: documentation, graphql, feature

#503 Fix missing subscription payload
  .eslintrc.js
  .gitignore
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: graphql, fix

#507 Remove Node casting in tests
  packages/graphql/src/schema/resolvers/count.test.ts
  packages/graphql/src/schema/resolvers/delete.test.ts
  packages/graphql/src/schema/resolvers/read.test.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-update-and-params.test.ts
  packages/graphql/src/translate/create-where-and-params.test.ts
  packages/graphql/src/utils/test/node-builder.ts
Labels: graphql

#497 Fix: Creation of Empty `{Create,Update}Input` for Relationship Properties
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/operations/update.md
Labels: graphql, fix

#494 Fix: Filter Null Values In Union Relationship
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/unions.int.test.ts
  packages/graphql/tests/tck/tck-test-files/cypher/directives/auth/arguments/where.md
  packages/graphql/tests/tck/tck-test-files/cypher/directives/node/node-label-union.md
  packages/graphql/tests/tck/tck-test-files/cypher/nested-unions.md
  packages/graphql/tests/tck/tck-test-files/cypher/union.md
Labels: graphql, fix

#506 fix: wrap auth sub clauses in parentheses to preserve precedence
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/utils/join-predicates.test.ts
  packages/graphql/src/utils/join-predicates.ts
  packages/graphql/tests/integration/issues/505.int.test.ts
Labels: graphql

#502 Document usage with Next.js
  .github/workflows/main.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/examples/code-partials/nextjs/add-dependencies.sh
  docs/modules/ROOT/examples/code-partials/nextjs/create-app.sh
  docs/modules/ROOT/examples/code-partials/nextjs/env.example
  docs/modules/ROOT/examples/code-partials/nextjs/graphql.js
  docs/modules/ROOT/pages/guides/frameworks/nextjs.adoc
  docs/modules/ROOT/pages/guides/index.adoc
Labels: documentation
