Repository neo4j/graphql, pull requests merged in 2022-06, with the labels that each got.

#1490 Fix/toolbox wss redirect
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/types.ts
  packages/graphql-toolbox/tests/headless/login.test.ts
  packages/graphql-toolbox/tests/headless/pages/Login.ts
Labels: fix

#1502 Fix: Lint issue in GHA workflow for changelog
  .github/workflows/fallback-changelog.yml
Labels: fix

#1504 Fix: SonarCloud workflow
  .github/workflows/sonarcloud.yml
Labels: fix

#1507 Docs: Migration guide - schema configuration
  docs/modules/ROOT/pages/guides/migration-guide/server.adoc
Labels: documentation

#1539 Fix: Toolbox - spell favourite as favorite
  packages/graphql-toolbox/src/constants.ts
  packages/graphql-toolbox/src/modules/SchemaView/Favorites.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/types.ts
Labels: fix

#1517 Fix: Toolbox - resolve onClick warning on login page
  packages/graphql-toolbox/src/modules/Login/Login.tsx
Labels: fix

#1546 Fix: Toolbox - import Codemirror stylesheet
  packages/graphql-toolbox/src/index.html
  packages/graphql-toolbox/src/utils/utils.ts
Labels: fix

#1572 5.0 requires `RETURN` clauses in subqueries to be aliased
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.test.ts
  packages/graphql/src/translate/cypher-builder/README.md
  packages/graphql/src/translate/cypher-builder/statements/Call.ts
  packages/graphql/src/translate/utils/wrap-in-call.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/update.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/update.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1115.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1131.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1182.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/324.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/894.test.ts
  packages/graphql/tests/tck/tck-test-files/nested-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/disconnect.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/update.test.ts
  packages/graphql/tests/tck/tck-test-files/pringles.test.ts
  packages/graphql/tests/tck/tck-test-files/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql

#1577 Fix some unrealiable integration tests
  packages/graphql/tests/integration/aggregations/top-level/alias.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/many.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/string.int.test.ts
  packages/graphql/tests/integration/connections/nested.int.test.ts
  packages/graphql/tests/integration/interface-relationships/read.int.test.ts
  packages/graphql/tests/integration/issues/582.int.test.ts
  packages/graphql/tests/integration/issues/630.int.test.ts
Labels: fix

#1585 Docs: remove unnecessary requirement from Toolbox page
  docs/modules/ROOT/pages/toolbox.adoc
Labels: documentation

#1583 Remove support for neo4j 4.2.*
  .github/workflows/dev.yml
  .github/workflows/hotfix.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release-plugin-auth.yml
  .github/workflows/release.yml
  docs/modules/ROOT/pages/introduction.adoc
  packages/graphql/src/classes/utils/verify-database.test.ts
  packages/graphql/src/constants.ts
Labels: documentation, graphql

#1563 Fix: Correctly translate Relay IDs when Id Field is an Int
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/utils/global-ids.ts
  packages/graphql/tests/tck/tck-test-files/global-node.test.ts
Labels: graphql, fix

#1593 Feat: Toolbox - remove the beta tag
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
Labels: feature

#1594 Fix: Return multiple values when custom Cypher field is a list of Union types
  packages/graphql/src/constants.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1566.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/cypher.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1139.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1566.test.ts
Labels: graphql, fix

#1596 Throw an error if trying to set a non-nullable field to null in update Mutation
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/1551.int.test.ts
Labels: graphql, fix

#1584 Fix update subscriptions dev
  docs/modules/ROOT/pages/subscriptions/getting-started.adoc
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/utils/indent-block.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
  packages/graphql/tests/tck/tck-test-files/subscriptions/update.test.ts
Labels: documentation, graphql, fix

#1618 Added missing '.' before well-known in url for JWKS
  docs/rfcs/rfc-006-auth-plugin.md
Labels: rfc

#1611 Fix: use NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN over GITHUB_TOKEN
  .github/workflows/fallback-changelog.yml
  .github/workflows/hotfix.yml
  .github/workflows/labeler.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release-plugin-auth.yml
  .github/workflows/release-plugin-subscriptions-amqp.yml
  .github/workflows/release-toolbox.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
Labels: fix

#1617 add enumFields to relationships when creating connection fields
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/tests/schema/issues/1614.test.ts
Labels: graphql

#1451 Feature/mathematical operators
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/mathematical-operators.adoc
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/math.ts
  packages/graphql/src/translate/create-set-relationship-properties.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/utils/math.ts
  packages/graphql/tests/integration/math.int.test.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/update.test.ts
  packages/graphql/tests/tck/tck-test-files/math.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, feature, ogm

#1622 Fix: UI and doc publish
  .github/workflows/docs-build.yml
  .github/workflows/docs-publish.yml
  .github/workflows/ui-stage-build.yml
  .github/workflows/ui-stage-publish.yml
Labels: fix

#1506 Fix: Mutation on Interface fail to keep one to one constraint
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/1430.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1430.test.ts
Labels: graphql, fix

#1620 Feat: Jest shard integration tests
  .github/workflows/dev.yml
  .github/workflows/hotfix.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Labels: feature

#1645 Fix/1528
  examples/neo-place/typedefs.graphql
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/issues/1528.int.test.ts
  packages/graphql/tests/integration/issues/594.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/composite.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/relationship.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/temporal.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/projections.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/update.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship-properties.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/coalesce.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1221.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1528.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/433.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/988.test.ts
  packages/graphql/tests/tck/tck-test-files/math.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
Labels: graphql, fix

#1658 Merge `master` into `dev` ahead of release
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/index.adoc
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/1430.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1430.test.ts
Labels: documentation, graphql
