Repository neo4j/graphql, pull requests merged in 2022-09, with the labels that each got.

#2010 Minor improvements on cypher builder
  packages/graphql/src/translate/cypher-builder/clauses/Clause.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/Delete.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/ImportWith.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/Remove.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/Set.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/SubClause.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/Where.ts
  packages/graphql/src/translate/cypher-builder/utils/utils.test.ts
Labels: graphql

#2014 Eslint error fixes and Typescript return types
  .changeset/rare-trees-thank.md
  .eslintrc.js
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/debounce.ts
  packages/graphql-toolbox/src/modules/EditorView/utils.ts
  packages/graphql-toolbox/src/modules/SchemaView/utils.ts
  packages/graphql/src/classes/CallbackBucket.ts
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/classes/utils/verify-database.ts
  packages/graphql/src/graphql/scalars/Duration.ts
  packages/graphql/src/graphql/scalars/LocalDateTime.ts
  packages/graphql/src/graphql/scalars/LocalTime.ts
  packages/graphql/src/index.ts
  packages/graphql/src/schema/check-directive-combinations.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/ensure-non-empty-input.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/cypher-builder/CypherASTNode.ts
  packages/graphql/src/translate/cypher-builder/clauses/sub-clauses/Set.ts
  packages/graphql/src/translate/cypher-builder/clauses/utils/apply-mixin.ts
  packages/graphql/src/translate/cypher-builder/expressions/operations/comparison.ts
  packages/graphql/src/translate/cypher-builder/utils/utils.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/src/translate/utils/resolveTree.ts
  packages/graphql/src/utils/filter-interface-nodes.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
  packages/graphql/src/utils/is-root-type.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/integration/connections/filtering.int.test.ts
  packages/graphql/tests/integration/create.int.test.ts
  packages/graphql/tests/integration/directives/timestamp/datetime.int.test.ts
  packages/graphql/tests/integration/types/duration.int.test.ts
  packages/graphql/tests/integration/types/localtime.int.test.ts
  packages/graphql/tests/integration/types/time.int.test.ts
  packages/graphql/tests/performance/utils/setup-database.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
  packages/graphql/tests/utils/graphql-types.ts
  packages/graphql/tests/utils/is-multi-db-unsupported-error.ts
  packages/introspector/src/classes/Node.ts
  packages/introspector/src/classes/Relationship.ts
  packages/introspector/src/to-internal-struct.ts
  packages/introspector/src/transforms/neo4j-graphql/NodeField.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Exclude.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Node.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/Relationship.ts
  packages/introspector/src/transforms/neo4j-graphql/directives/RelationshipProperties.ts
  packages/introspector/src/transforms/neo4j-graphql/graphql.ts
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/generate.ts
  packages/ogm/src/utils/index.ts
  packages/ogm/tests/utils.ts
Labels: graphql, ogm, introspector

#1717 rfc/unwind-create
  docs/rfcs/rfc-023-string-comparator-operators.md
  docs/rfcs/rfc-024-unwind-create.md
Labels: rfc

#2017 fix: test checks the average of integers for the edge aggregate
  packages/graphql/tests/integration/aggregations/where/edge/int.int.test.ts
Labels: fix

#2016 feat: additional interface tests
  packages/graphql/tests/integration/interfaces.int.test.ts
  packages/graphql/tests/tck/tck-test-files/interfaces.test.ts
Labels: feature

#2023 fix 2022
  .changeset/good-penguins-vanish.md
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/2022.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/2022.test.ts
Labels: graphql

#2019 Clean cypher-where-predicate logic
  packages/graphql/src/translate/field-aggregations/create-count-expression.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/where/create-cypher-where-predicate.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
Labels: graphql

#2027 feat: add rel noreferrer to link
  packages/graphql-toolbox/src/modules/HelpDrawer/Resources.tsx
Labels: fix, feature

#2028 fix: remove unsused script and stylesheets links in neo-push client
  examples/neo-push/client/src/index.html
Labels: fix

#2044 docs: change wording from push to pop for pop example
  docs/modules/ROOT/pages/array-methods.adoc
Labels: documentation, fix

#2030 Move interface projection to cypher builder
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/cypher-builder/variables/RelationshipRef.ts
  packages/graphql/src/translate/where/create-element-where-and-params.ts
  packages/graphql/src/translate/where/create-where-clause.test.ts
  packages/graphql/src/translate/where/create-where-clause.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/interfaces.test.ts
  packages/graphql/tests/tck/issues/1348.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1535.test.ts
  packages/graphql/tests/tck/issues/1536.test.ts
  packages/graphql/tests/tck/issues/583.test.ts
  packages/graphql/tests/tck/issues/847.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-relationships.test.ts
Labels: graphql

#2039 fix: docs - include Toolbox page in content navigation
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/index.adoc
Labels: documentation, fix

#2052 Remove extra labels in Auth
  examples/neo-push/server/package.json
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
Labels: graphql, fix

#2053 Connections subquery
  .changeset/cool-spoons-battle.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/tck/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/issues/1249.test.ts
  packages/graphql/tests/tck/issues/601.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
Labels: graphql

#2060 Update complex example
  docs/rfcs/rfc-024-unwind-create.md
Labels: rfc

#2061 Further fixes for 5.0.0 compatibility
  examples/neo-push/server/package.json
  package.json
  packages/graphql-toolbox/package.json
  packages/graphql/package.json
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
  packages/graphql/tests/integration/directives/unique.int.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: graphql, fix

#2062 Fix: following the creation of multiple nodes, selection of interface relationships will work
  .changeset/soft-emus-sneeze.md
  examples/neo-push/server/package.json
  package.json
  packages/graphql-toolbox/package.json
  packages/graphql/package.json
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/2022.int.test.ts
  packages/graphql/tests/integration/issues/date-in-edge.int.test.ts
  packages/graphql/tests/integration/issues/interface-post-multi-create.ts
  packages/graphql/tests/integration/issues/label-cypher-injection.int.test.ts
  packages/graphql/tests/integration/issues/only-info.int.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/interfaces.test.ts
  packages/graphql/tests/tck/issues/1348.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1535.test.ts
  packages/graphql/tests/tck/issues/1536.test.ts
  packages/graphql/tests/tck/issues/583.test.ts
  packages/graphql/tests/tck/issues/847.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-relationships.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/plugins/graphql-plugin-auth/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: graphql, fix

#2065 Fix: duplicate nodes created if creating following the connection of interface relationships
  .changeset/quick-badgers-move.md
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/832.int.test.ts
  packages/graphql/tests/tck/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/update.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/operations/disconnect.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#1972 Implement filters on subscriptions
  .changeset/kind-toys-act.md
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/subscriptions/events/create.adoc
  docs/modules/ROOT/pages/subscriptions/events/delete.adoc
  docs/modules/ROOT/pages/subscriptions/events/update.adoc
  docs/modules/ROOT/pages/subscriptions/filtering.adoc
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.test.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.test.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/utils/neo4j-serializers.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/e2e/setup/ws-client.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: documentation, graphql

#2081 Fulltext index compatibility for ID fields
  .changeset/early-ears-kneel.md
  packages/graphql/src/schema/parse/parse-fulltext-directive.test.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
Labels: graphql, feature

#2025 Extend subscriptions with @exclude
  .changeset/stale-grapes-accept.md
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/type-definitions/access-control.adoc
  docs/rfcs/rfc-007-subscriptions.md
  packages/graphql/src/graphql/directives/arguments/enums/ExcludeOperation.ts
  packages/graphql/src/schema/parse-exclude-directive.test.ts
  packages/graphql/src/schema/parse-exclude-directive.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: documentation, graphql, rfc

#2099 Implement and/or filters on subscriptions
  .changeset/proud-houses-love.md
  docs/modules/ROOT/pages/filtering.adoc
  docs/modules/ROOT/pages/subscriptions/filtering.adoc
  packages/graphql/src/schema/resolvers/subscriptions/update-diff-filter.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: documentation, graphql

#2091 Update rfc-024-unwind-create.md
  docs/rfcs/rfc-024-unwind-create.md
Labels: rfc

#2104 Adds relatesTo and minor improvements to relationships in cypherbuilder
  packages/graphql/src/translate/cypher-builder/Pattern.ts
  packages/graphql/src/translate/cypher-builder/variables/NodeRef.ts
  packages/graphql/src/translate/cypher-builder/variables/RelationshipRef.test.ts
  packages/graphql/src/translate/cypher-builder/variables/RelationshipRef.ts
Labels: graphql

#2015 feat: GHA - code scanning with Github CodeQL
  .github/codeql/codeql-config.yml
  .github/workflows/pull-requests.yml
  .github/workflows/reusable-codeql-analysis.yml
Labels: feature

#2141 Cypher builder improvements
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/cypher-builder/clauses/Call.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Call.ts
  packages/graphql/src/translate/cypher-builder/clauses/Create.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.ts
  packages/graphql/src/translate/cypher-builder/clauses/Merge.ts
  packages/graphql/src/translate/cypher-builder/clauses/Return.ts
  packages/graphql/src/translate/cypher-builder/clauses/Unwind.ts
  packages/graphql/src/translate/cypher-builder/clauses/With.ts
  packages/graphql/src/translate/cypher-builder/clauses/utils/mixin.ts
  packages/graphql/src/translate/cypher-builder/examples/call.test.ts
  packages/graphql/src/translate/cypher-builder/expressions/list/ListComprehension.ts
  packages/graphql/src/translate/cypher-builder/expressions/list/PatternComprehension.ts
  packages/graphql/src/translate/cypher-builder/expressions/procedures/db.ts
  tsconfig.base.json
Labels: graphql
