Repository neo4j/graphql, pull requests merged in 2022-10, with the labels that each got.

#2166 RFC: `@fulltext` improvements
  docs/rfcs/rfc-027-fulltext-improvements.md
Labels: rfc

#2175 Feature/1100 extra custom scalar where fields
  .changeset/thick-boats-peel.md
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/tests/integration/custom-scalar-filtering.int.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/scalar.test.ts
Labels: graphql, feature

#2181 Fix clean nodes
  packages/graphql/tests/utils/clean-nodes.ts
  packages/graphql/tests/utils/run-cypher.ts
Labels: fix

#2183 Fix invalid auth clauses in `connectOrCreate`
  .changeset/curly-melons-serve.md
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/tests/tck/connections/connect-or-create/connect-or-create-auth.test.ts
Labels: graphql

#2190 Fix/explain tck errors
  .changeset/honest-ligers-marry.md
  .changeset/late-apples-fetch.md
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/update.test.ts
  packages/graphql/tests/tck/math.test.ts
Labels: graphql, fix

#2196 2189 cypher directive seems to force query to omit results with missing fields
  .changeset/smooth-panthers-nail.md
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/tests/integration/issues/2189.int.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/issues/1364.test.ts
  packages/graphql/tests/tck/issues/1528.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/issues/2100.test.ts
  packages/graphql/tests/tck/issues/387.test.ts
  packages/graphql/tests/tck/sort.test.ts
Labels: graphql

#2068 Add optional `EXPLAIN` to `TCK` tests
  .github/workflows/reusable-api-library-tests.yml
  .github/workflows/reusable-integration-tests-on-prem.yml
  docs/modules/ROOT/pages/introduction.adoc
  packages/graphql/tests/tck/types/point.test.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
Labels: documentation

#2180 Fix sort priority not maintained for edge vs node sorting fields
  .changeset/serious-walls-greet.md
  packages/graphql/src/translate/connection-clause/create-connection-clause.ts
  packages/graphql/src/translate/connection-clause/create-edge-subquery.ts
  packages/graphql/src/translate/connection-clause/create-sort-and-limit.ts
  packages/graphql/src/translate/connection-clause/get-sort-fields.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/tests/integration/relationship-properties/read.int.test.ts
  packages/graphql/tests/tck/connections/relationship-properties.test.ts
  packages/graphql/tests/tck/rfcs/query-limits.test.ts
Labels: graphql, fix

#2207 Fix lastBookmark compatibility with neo4j-driver 4 in tests
  .changeset/gentle-insects-live.md
  docs/package.json
  examples/migration/package.json
  examples/neo-push/server/package.json
  package.json
  packages/graphql/package.json
  packages/graphql/tests/integration/custom-scalar-filtering.int.test.ts
  packages/package-tests/apollo/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: fix

#2220 Add plural directive
  .changeset/cuddly-worms-fold.md
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/node.ts
  packages/graphql/src/graphql/directives/plural.ts
  packages/graphql/src/schema/check-directive-combinations.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/parse-node-directive.ts
  packages/graphql/src/schema/parse/parse-plural-directive.test.ts
  packages/graphql/src/schema/parse/parse-plural-directive.ts
  packages/graphql/tests/schema/deprecated/node-plural.test.ts
  packages/graphql/tests/schema/directives/plural.test.ts
  packages/graphql/tests/tck/deprecated/node-plural.test.ts
  packages/graphql/tests/tck/directives/plural.test.ts
Labels: documentation, graphql

#2222 Remove flatten and map.values apoc procedures
  packages/graphql/src/constants.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
Labels: graphql

#2169 RFC: Subscribe to connections
  docs/rfcs/rfc-007-subscriptions.md
Labels: rfc

#2200 implement throw when modifying >= 2 properties that clash with db properties
  .changeset/calm-spiders-hear.md
  .eslintrc.js
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/utils/is-property-clash.ts
  packages/graphql/tests/integration/directives/alias.int.test.ts
  packages/graphql/tests/integration/directives/alias/connect-or-create.int.test.ts
  packages/graphql/tests/integration/directives/alias/nodes.int.test.ts
  packages/graphql/tests/integration/directives/alias/unions.int.test.ts
  packages/graphql/tests/integration/issues/2068.int.test.ts
Labels: graphql, fix

#2226 Add Foreach to cypher builder
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/clauses/Foreach.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Foreach.ts
Labels: graphql

#2223 Remove foreach
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/integration/issues/1566.int.test.ts
  packages/graphql/tests/performance/graphql/connect.graphql
  packages/graphql/tests/performance/utils/setup-database.ts
  packages/graphql/tests/tck/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/delete/delete.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/delete.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1751.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/operations/delete.test.ts
  packages/graphql/tests/tck/operations/disconnect.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/subscriptions/delete.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql

#2246 Fix count without alias in subqueries
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/tck/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/delete/delete.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/delete.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1751.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/operations/delete.test.ts
  packages/graphql/tests/tck/operations/disconnect.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/subscriptions/delete.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#2252 Fix #2250
  .changeset/eight-ducks-pull.md
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/2250.int.test.ts
Labels: graphql

#2258 Fix flakiness on allow-unauthenticated integration test
  packages/graphql/tests/integration/directives/auth/allow-unauthenticated.int.test.ts
Labels: fix

#2260 2249 update with create on an interface type fails
  .changeset/early-jobs-wait.md
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/2249.int.test.ts
Labels: graphql

#2259 fix: ESlint errors in graphql-toolbox package
  packages/graphql-toolbox/src/components/ProTooltip.tsx
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/contexts/screen.tsx
  packages/graphql-toolbox/src/contexts/settings.tsx
  packages/graphql-toolbox/src/contexts/theme.tsx
  packages/graphql-toolbox/src/modules/AppSettings/AppSettings.tsx
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/GraphQLQueryEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/SearchResults.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/TypeDoc.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/TypeLink.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/types.ts
  packages/graphql-toolbox/src/modules/HelpDrawer/HelpDrawer.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/Keybindings.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/modules/SchemaView/Favorites.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/tests/drawer.test.ts
  packages/graphql-toolbox/tests/introspection.test.ts
  packages/graphql-toolbox/tests/introspectionprompt.test.ts
  packages/graphql-toolbox/tests/login.test.ts
  packages/graphql-toolbox/tests/urlqueryparameters.test.ts
  packages/graphql-toolbox/tests/utils/pagemodel.ts
  packages/graphql-toolbox/tests/workflow.test.ts
Labels: fix

#2051 RFC-026: GraphQL Toolbox tracking
  docs/rfcs/rfc-026-toolbox-tracking.md
Labels: rfc

#2232 Check for custom resolvers on start up
  .changeset/funny-geckos-march.md
  docs/modules/ROOT/pages/custom-resolvers.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/get-custom-resolver-meta.test.ts
  packages/graphql/src/schema/get-custom-resolver-meta.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/integration/directives/customResolver.int.test.ts
  packages/graphql/tests/schema/directives/customResolver.test.ts
  packages/graphql/tests/tck/directives/customResolver.test.ts
  packages/ogm/tests/issues/635.test.ts
Labels: documentation, graphql

#2266 Fix #2261
  .changeset/rare-oranges-beam.md
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/2250.int.test.ts
  packages/graphql/tests/integration/issues/2261.int.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/directives/node/node-label-union.test.ts
  packages/graphql/tests/tck/fragments.test.ts
  packages/graphql/tests/tck/interfaces.test.ts
  packages/graphql/tests/tck/issues/1348.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1535.test.ts
  packages/graphql/tests/tck/issues/1536.test.ts
  packages/graphql/tests/tck/issues/488.test.ts
  packages/graphql/tests/tck/issues/583.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/847.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-relationships.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql

#2268 2262 incorrect query results when sorting on a relationship with no edges
  .changeset/bright-seas-listen.md
  packages/graphql/src/translate/connection-clause/create-connection-clause.ts
  packages/graphql/src/translate/cypher-builder/clauses/Call.ts
  packages/graphql/tests/integration/issues/2262.int.test.ts
  packages/graphql/tests/tck/connections/relationship-properties.test.ts
  packages/graphql/tests/tck/issues/1528.test.ts
  packages/graphql/tests/tck/issues/2262.test.ts
  packages/graphql/tests/tck/rfcs/query-limits.test.ts
Labels: graphql

#2273 2269 incorrect nodes created in nested update operation with interfaces
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/2249.int.test.ts
  packages/graphql/tests/tck/issues/2249.test.ts
Labels: graphql

#2274 2267 field sort order is incorrect when a relationship field is also queried
  .changeset/good-scissors-juggle.md
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/clauses/utils/concat.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/2267.int.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/issues/1628.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/rfcs/query-limits.test.ts
Labels: graphql

#2296 Build fixes
  packages/cypher-builder/package.json
  packages/cypher-builder/src/expressions/procedures/db.ts
  packages/cypher-builder/tsconfig.json
  packages/graphql/package.json
  packages/graphql/src/tsconfig.production.json
  tsconfig.production.json
  yarn.lock
Labels: graphql

#2293 feat: Toolbox product usage tracking - events
  .changeset/sharp-singers-shop.md
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/analytics/analytics.test.ts
  packages/graphql-toolbox/src/analytics/analytics.ts
  packages/graphql-toolbox/src/analytics/segment-snippet.ts
  packages/graphql-toolbox/src/analytics/tracking-types.ts
  packages/graphql-toolbox/src/analytics/tracking.ts
  packages/graphql-toolbox/src/modules/AppSettings/AppSettings.tsx
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/utils.ts
  packages/graphql-toolbox/src/modules/HelpDrawer/HelpDrawer.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/Resources.tsx
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/src/utils/tracking.ts
  packages/graphql-toolbox/webpack.config.js
  yarn.lock
Labels: feature

#2306 fix: Toolbox GHA housekeeping
  .github/workflows/ui-stage-build.yml
  .github/workflows/ui-stage-publish.yml
Labels: fix

#2307 feat: Toolbox - link to GraphQLaaS interest form
  .changeset/sour-tables-type.md
  packages/graphql-toolbox/src/analytics/tracking-types.ts
  packages/graphql-toolbox/src/analytics/tracking.ts
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
Labels: feature

#2315 Update tsconfig with ts-node paths
  packages/graphql/tsconfig.json
Labels: fix

#2281 Add reconnect to AMQP plugin
  .changeset/big-ways-obey.md
  .changeset/config.json
  examples/neo-place/create-plugin.js
  examples/neo-place/server.js
  packages/graphql/src/schema/subscriptions/publish-events-to-plugin.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/README.md
  packages/plugins/graphql-plugin-subscriptions-amqp/examples/example.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/src/amqp-0-9-1-api.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/src/index.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tsconfig.json
Labels: graphql

#2286 Full-text improvements
  .changeset/chilled-clocks-march.md
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  packages/cypher-builder/src/expressions/procedures/apoc/date.ts
  packages/cypher-builder/src/expressions/procedures/db.test.ts
  packages/cypher-builder/src/expressions/procedures/db.ts
  packages/cypher-builder/src/types.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/graphql/directives/fulltext.ts
  packages/graphql/src/graphql/input-objects/FloatWhere.ts
  packages/graphql/src/schema/augment/fulltext.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.test.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.ts
  packages/graphql/src/schema/resolvers/query/fulltext.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/deprecated/fulltext.int.test.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/performance/utils/setup-database.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/tck/aggregations/auth.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/fulltext/aggregate.test.ts
  packages/graphql/tests/tck/fulltext/auth.test.ts
  packages/graphql/tests/tck/fulltext/match.test.ts
  packages/graphql/tests/tck/fulltext/node-labels.test.ts
  packages/graphql/tests/tck/issues/1628.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/pagination.test.ts
  packages/graphql/tests/tck/rfcs/query-limits.test.ts
  packages/graphql/tests/tck/sort.test.ts
  packages/graphql/tests/utils/graphql-types.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, ogm
