Repository neo4j/graphql, pull requests merged in 2022-02, with the labels that each got.

#857 Fix: Sort Fails for Aliased Field
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/tck/tck-test-files/sort.test.ts
Labels: graphql, fix

#902 Adds default and max options to limit
  docs/rfcs/rfc-005-query-limits.md
Labels: rfc

#875 Crude check if any empty interfaces or objects exist in the schema
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/schema/directives/private.test.ts
Labels: graphql, fix

#747 Fix: Pagination on Abstract Connection
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/pagination.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/connections/interfaces.int.test.ts
  packages/graphql/tests/integration/connections/unions.int.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/projections.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, fix, ogm, next

#910 Test and document case where rolesPath contains dot character
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/tests/integration/directives/auth/roles.int.test.ts
Labels: documentation, next

#830 Fix/Duplicate Ogm Type Names
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
  packages/ogm/tests/issues/635.test.ts
Labels: fix, ogm, next

#883 Feat/Query Limits
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/type-definitions/default-values.adoc
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse/parse-query-options-directive.test.ts
  packages/graphql/src/schema/parse/parse-query-options-directive.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/rfcs/query-limits.int.test.ts
  packages/graphql/tests/tck/tck-test-files/rfcs/query-limits.test.ts
Labels: documentation, graphql, feature, next

#842 Feature: Add Required Fields For Custom Resolver
  docs/modules/ROOT/pages/custom-resolvers.adoc
  docs/modules/ROOT/pages/type-definitions/access-control.adoc
  packages/graphql/src/classes/GraphElement.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/Relationship.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/get-ignore-meta.test.ts
  packages/graphql/src/schema/get-ignore-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/cypher.test.ts
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/utils/generate-projection-field.ts
  packages/graphql/src/translate/utils/resolveTree.test.ts
  packages/graphql/src/translate/utils/resolveTree.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/integration/directives/ignore.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/ignore.test.ts
Labels: documentation, graphql, feature, next

#957 Merge refs/heads/hotfix/2.5.8 into dev
  .github/workflows/hotfix.yml
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/introduction.adoc
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql/package.json
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-auth.int.test.ts
  packages/graphql/tests/integration/issues/923.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/901.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  yarn.lock
Labels: documentation, graphql

#914 Merge root-level args from resolvers when translating queries and mutations
  packages/graphql/package.json
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/delete.ts
  packages/graphql/src/schema/resolvers/read.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.test.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
  packages/graphql/tests/integration/middleware.int.test.ts
  yarn.lock
Labels: graphql, feature

#796 Feature: Additional Relationship Filters
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql/src/schema/check-directive-combinations.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-where-and-params.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/translate/where/create-element-where-and-params.ts
  packages/graphql/src/translate/where/create-filter.test.ts
  packages/graphql/src/translate/where/create-filter.ts
  packages/graphql/src/translate/where/create-node-where-and-params.ts
  packages/graphql/src/translate/where/create-relationship-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.test.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/translate/where/create-where-clause.test.ts
  packages/graphql/src/translate/where/create-where-clause.ts
  packages/graphql/src/translate/where/types.ts
  packages/graphql/src/translate/where/utils.ts
  packages/graphql/src/utils/map-to-db-property.ts
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, feature, ogm, next

#945 Add @default logic for enum fields
  docs/modules/ROOT/pages/type-definitions/default-values.adoc
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/default.int.test.ts
  packages/graphql/tests/integration/enums.int.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
Labels: documentation, graphql

#956 Fix/872 Change ConnectOrCreateFieldInputOnCreate types
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
Labels: graphql, fix

#646 Feature: Sort On Interface Relationship
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/get-sortable-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/interface-relationships/read.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
Labels: graphql, feature, next

#971 Use unique types in interfaces.int.test
  packages/graphql/tests/integration/connections/interfaces.int.test.ts
Labels: fix

#968 Null one-to-one Rel Validation
  docs/modules/ROOT/pages/troubleshooting/faqs.adoc
  packages/graphql/src/translate/create-relationship-validation-string.ts
  packages/graphql/tests/integration/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/894.test.ts
  packages/graphql/tests/tck/tck-test-files/rfcs/rfc-003.test.ts
Labels: documentation, graphql, feature

#924 Fix: Multiple Fragment Levels
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/fragments.int.test.ts
Labels: graphql, fix

#979 Rename `@ignore` directive to `@computed`, and `dependsOn` argument to `from`
  docs/modules/ROOT/pages/custom-resolvers.adoc
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/guides/migration-guide/type-definitions.adoc
  docs/modules/ROOT/pages/type-definitions/access-control.adoc
  packages/graphql/src/classes/GraphElement.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/Relationship.ts
  packages/graphql/src/schema/check-directive-combinations.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/get-computed-meta.test.ts
  packages/graphql/src/schema/get-computed-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/computed.int.test.ts
  packages/graphql/tests/schema/directives/computed.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/ignore.test.ts
  packages/graphql/tests/utils/builders/node-builder.ts
  packages/ogm/tests/issues/635.test.ts
Labels: documentation, graphql, fix

#990 Update dangle_underscore eslint rule
  .eslintrc.js
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/translate/utils/stringify-object.ts
  packages/ogm/src/classes/Model.ts
Labels: graphql, ogm

#991 Allow __resolveType through no-underscore-dangle
  .eslintrc.js
  packages/graphql/src/schema/make-augmented-schema.ts
Labels: graphql

#987 Fix: #976 Issues with aliases on connectOrCreate
  packages/graphql/src/translate/cypher-builder/build-merge-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/tests/integration/issues/976.int.test.ts
Labels: graphql, fix

#986 Enum support for coalesce directives
  docs/modules/ROOT/pages/type-definitions/default-values.adoc
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/schema/validation/scalars.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/translate/where/create-element-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/coalesce.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/coalesce.test.ts
Labels: documentation, graphql

#1004 Fix 988 by making params entries unique (dev)
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/tests/integration/issues/487.int.test.ts
  packages/graphql/tests/integration/issues/988.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/901.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/988.test.ts
Labels: graphql, fix

#791 RFC-006 Auth Plugin
  docs/rfcs/rfc-006-auth-plugin.md
Labels: rfc

#1007 Update docs version to 3.0
  docs/antora.yml
  docs/modules/ROOT/pages/index.adoc
Labels: documentation

#1008 Remove Secret from jsonwebtoken in Neo4jGraphQL
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: graphql

#977 Migration guide 3.0.0
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  docs/modules/ROOT/pages/guides/index.adoc
  docs/modules/ROOT/pages/guides/v2-migration/index.adoc
  docs/modules/ROOT/pages/guides/v3-migration/index.adoc
Labels: documentation

#1009 Proof read and corrections in documentation
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  docs/modules/ROOT/pages/driver-configuration.adoc
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/introspector.adoc
  docs/modules/ROOT/pages/mutations/create.adoc
  docs/modules/ROOT/pages/mutations/update.adoc
  docs/modules/ROOT/pages/ogm/api-reference/ogm.adoc
  docs/modules/ROOT/pages/ogm/examples/custom-resolvers.adoc
  docs/modules/ROOT/pages/ogm/examples/rest-api.adoc
  docs/modules/ROOT/pages/ogm/private.adoc
  docs/modules/ROOT/pages/ogm/selection-set.adoc
  docs/modules/ROOT/pages/queries.adoc
  docs/modules/ROOT/pages/sorting.adoc
  docs/modules/ROOT/pages/troubleshooting/index.adoc
  docs/modules/ROOT/pages/type-definitions/custom-directives.adoc
  docs/modules/ROOT/pages/type-definitions/cypher.adoc
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  docs/modules/ROOT/pages/type-definitions/interfaces.adoc
  docs/modules/ROOT/pages/type-definitions/unions.adoc
Labels: documentation

#1012 Security prompt in RFC template
  docs/rfcs/rfc-000-template.md
Labels: rfc

#1025 Refactor: Extract parsing of document and definition nodes into separate functions
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/get-custom-resolvers.ts
  packages/graphql/src/schema/get-definition-nodes.ts
  packages/graphql/src/schema/get-document.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/src/utils/is-root-type.ts
Labels: graphql

#1024 Refactor: Centralise static GraphQL types outside of makeAugmentedSchema
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/point.ts
  packages/graphql/src/schema/types/enums/SortDirection.ts
  packages/graphql/src/schema/types/input-objects/CartesianPointDistance.ts
  packages/graphql/src/schema/types/input-objects/CartesianPointInput.ts
  packages/graphql/src/schema/types/input-objects/PointDistance.ts
  packages/graphql/src/schema/types/input-objects/PointInput.ts
  packages/graphql/src/schema/types/input-objects/QueryOptions.ts
  packages/graphql/src/schema/types/objects/CartesianPoint.ts
  packages/graphql/src/schema/types/objects/CreateInfo.ts
  packages/graphql/src/schema/types/objects/DeleteInfo.ts
  packages/graphql/src/schema/types/objects/PageInfo.ts
  packages/graphql/src/schema/types/objects/Point.ts
  packages/graphql/src/schema/types/objects/UpdateInfo.ts
  packages/graphql/src/schema/types/scalars/BigInt.ts
  packages/graphql/src/schema/types/scalars/Date.ts
  packages/graphql/src/schema/types/scalars/DateTime.ts
  packages/graphql/src/schema/types/scalars/Duration.test.ts
  packages/graphql/src/schema/types/scalars/Duration.ts
  packages/graphql/src/schema/types/scalars/LocalDateTime.ts
  packages/graphql/src/schema/types/scalars/LocalTime.ts
  packages/graphql/src/schema/types/scalars/Time.ts
  packages/graphql/src/schema/types/scalars/index.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/tests/integration/types/duration.int.test.ts
  packages/graphql/tests/integration/types/localdatetime.int.test.ts
  packages/graphql/tests/integration/types/localtime.int.test.ts
  packages/graphql/tests/integration/types/time.int.test.ts
Labels: graphql

#1040 Reintroduce camelcase for generating field names
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/235.int.test.ts
  packages/graphql/tests/integration/issues/288.int.test.ts
  packages/graphql/tests/schema/issues/1038.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/288.test.ts
  packages/graphql/tests/utils/graphql-types.ts
  packages/ogm/package.json
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/src/generate.ts
  packages/ogm/tests/utils.ts
Labels: documentation, graphql, fix, ogm

#1044 Merge refs/heads/hotfix/3.0.1 into dev
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql/package.json
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/235.int.test.ts
  packages/graphql/tests/integration/issues/288.int.test.ts
  packages/graphql/tests/schema/issues/1038.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/288.test.ts
  packages/graphql/tests/utils/graphql-types.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/src/generate.ts
  packages/ogm/tests/utils.ts
  yarn.lock
Labels: documentation, graphql, ogm

#588 RFC: Global Node Resolution
  docs/rfcs/01-global-object-identification/global-object-identification.md
Labels: rfc

#1042 RFC/performance testing
  docs/rfcs/rfc-011-performance-testing.md
Labels: rfc

#1043 Create rfc-009-top-level-unions.md
  docs/rfcs/rfc-009-top-level-unions.md
Labels: rfc

#1062 RFC/autogenerated-properties
  docs/rfcs/rfc-012-autogenerated-properties.md
Labels: rfc

#647 RFC: Subscriptions
  docs/rfcs/rfc-006-subscriptions.md
Labels: rfc
