Repository neo4j/graphql, pull requests merged in 2022-03, with the labels that each got.

#1035 Extract Node generation into separate function
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/make-augmented-schema.ts
Labels: graphql

#1033 RFC: Successor for GraphQL Architect
  docs/rfcs/rfc-009-graphql-ui-poc.md
Labels: rfc

#1072 Feature/subscriptions plugin and schema
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/subscriptions/event-meta.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql, feature

#1051 Pass multiple connection parameters to runFirstColumn
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1050.int.test.ts
Labels: graphql

#1126 Fix/ogm node import
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/ogm/src/classes/OGM.ts
Labels: graphql, fix, ogm

#1110 Fix 1073 connectOrCreate schema
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/src/schema/ensureNonEmptyInput.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/integration/issues/976.int.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
Labels: graphql, fix

#1112 Subscriptions: Nested create and delete under update Mutation
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
  packages/graphql/tests/tck/tck-test-files/subscriptions/update.test.ts
Labels: graphql, feature

#1140 Fix extra node being created by connectOrCreate
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/utils/wrap-in-call.ts
  packages/graphql/tests/integration/issues/1127.int.test.ts
Labels: graphql, fix

#1143 Write details to transaction metadata instead of useragent
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
Labels: graphql, fix

#1142 Make sure aliases are checked against connectOrCreate where input
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.ts
  packages/graphql/tests/tck/tck-test-files/issues/1131.test.ts
Labels: graphql, fix

#1141 Fix: #1132, CONNECT and DISCONNECT auth rules check allow rules against target node instead of source
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/integration/issues/1132.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
Labels: graphql, fix

#1152 Port PR #1051 to master
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1050.int.test.ts
Labels: graphql

#1151 Merge refs/heads/hotfix/3.0.2 into dev
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/src/schema/ensureNonEmptyInput.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/integration/issues/1127.int.test.ts
  packages/graphql/tests/integration/issues/1132.int.test.ts
  packages/graphql/tests/integration/issues/976.int.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1131.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/ogm/src/classes/OGM.ts
  yarn.lock
Labels: graphql, ogm

#1170 Fix: UnionTypes with Authorization and ConnectionWhere generates illegal Cypher Query
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/issues/1150.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
Labels: graphql, fix

#1116 Add new multi DB error message, move to util function
  packages/graphql/tests/integration/indexes-and-constraints/fulltext.int.test.ts
  packages/graphql/tests/integration/indexes-and-constraints/unique.int.test.ts
  packages/graphql/tests/integration/multi-database.int.test.ts
  packages/graphql/tests/utils/is-multi-db-unsupported-error.ts
Labels: fix

#1171 Finalising Subscriptions types
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/subscriptions/generate-event-payload-type.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/schema/types/enums/EventType.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql, feature

#1174 apollo server and websocket client helpers for tests
  packages/graphql/package.json
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/tests/e2e/setup/apollo-server.ts
  packages/graphql/tests/e2e/setup/ws-client.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/utils/TestSubscriptionPlugin.ts
  packages/graphql/tests/utils/graphql-types.ts
  yarn.lock
Labels: graphql, feature

#1057 Cypher builder
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/cypher-builder/CypherASTNode.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.test.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/CypherContext.ts
  packages/graphql/src/translate/cypher-builder/README.md
  packages/graphql/src/translate/cypher-builder/build-merge-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.ts
  packages/graphql/src/translate/cypher-builder/build-relationship-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-relationship-statement.ts
  packages/graphql/src/translate/cypher-builder/join-statements.test.ts
  packages/graphql/src/translate/cypher-builder/join-statements.ts
  packages/graphql/src/translate/cypher-builder/references/Node.ts
  packages/graphql/src/translate/cypher-builder/references/Param.ts
  packages/graphql/src/translate/cypher-builder/references/References.ts
  packages/graphql/src/translate/cypher-builder/references/Relationship.ts
  packages/graphql/src/translate/cypher-builder/references/utils.ts
  packages/graphql/src/translate/cypher-builder/statements/Apoc.ts
  packages/graphql/src/translate/cypher-builder/statements/Call.ts
  packages/graphql/src/translate/cypher-builder/statements/Create.ts
  packages/graphql/src/translate/cypher-builder/statements/Merge.ts
  packages/graphql/src/translate/cypher-builder/statements/Query.ts
  packages/graphql/src/translate/cypher-builder/types.ts
  packages/graphql/src/translate/cypher-builder/utils.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/get-relationship-direction.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1131.test.ts
Labels: graphql

#1198 Add missing fields to `onCreate` input types
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1182.test.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
Labels: graphql, fix

#1196 Remove broken and redundant full-text `defaultThreshold` and `score`
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
  packages/graphql/tests/integration/directives/node/label.int.test.ts
  packages/graphql/tests/integration/directives/unique.int.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/aggregate.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/match.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/node-labels.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/score.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, fix, ogm

#1204 Readme Fixes
  docs/modules/ROOT/pages/guides/migration-guide/server.adoc
  packages/graphql/README.md
  packages/ogm/README.md
Labels: documentation, fix
