Repository neo4j/graphql, pull requests merged in 2022-07, with the labels that each got.

#1679 Remove runFirstColumn from aggregation strings
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/performance/performance.json
  packages/graphql/tests/tck/tck-test-files/aggregations/alias-directive.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/label.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/many.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/string.test.ts
Labels: graphql

#1691 Feat: Adding SonarCloud scan for graphql-plugin-subscriptions-amqp
  .github/workflows/sonarcloud.yml
Labels: feature

#1650 Feat: Use commit hash for all non-verified GHA
  .github/workflows/bug-reopened.yml
  .github/workflows/bug-report.yml
  .github/workflows/docs-publish.yml
  .github/workflows/docs-teardown.yml
  .github/workflows/fallback-changelog.yml
  .github/workflows/feature-request.yml
  .github/workflows/hotfix.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-github-actions.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/project-card-moved.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/pull-request-opened.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release-plugin-auth.yml
  .github/workflows/release-plugin-subscriptions-amqp.yml
  .github/workflows/release-toolbox.yml
  .github/workflows/release.yml
  .github/workflows/ui-stage-publish.yml
  .github/workflows/ui-stage-teardown.yml
  .github/workflows/yarn-update.yml
Labels: feature

#1649 Feat: Use CODEOWNERS for GHA workflows
  .github/CODEOWNERS
Labels: feature

#1689 Fix: database execution is not using transaction functions
  .changeset/eight-seals-stare.md
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/utils/builders/context-builder.ts
Labels: graphql, fix

#1547 Feat: Toolbox - URL query parameters connectURL and db
  packages/graphql-toolbox/README.md
  packages/graphql-toolbox/jest.config.js
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/constants.ts
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/contexts/utils.test.ts
  packages/graphql-toolbox/src/contexts/utils.ts
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/tests/pages/Login.ts
  packages/graphql-toolbox/tests/pages/TopBar.ts
  packages/graphql-toolbox/tests/urlqueryparameters.test.ts
  packages/graphql-toolbox/tests/utils/pagemodel.ts
  yarn.lock
Labels: feature

#1728 Fix: Add tag for renovate to pinned GHA SHAs
  .github/workflows/bug-reopened.yml
  .github/workflows/bug-report.yml
  .github/workflows/docs-publish.yml
  .github/workflows/docs-teardown.yml
  .github/workflows/fallback-changelog.yml
  .github/workflows/feature-request.yml
  .github/workflows/hotfix.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-github-actions.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/project-card-moved.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/pull-request-opened.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release-plugin-auth.yml
  .github/workflows/release-plugin-subscriptions-amqp.yml
  .github/workflows/release-toolbox.yml
  .github/workflows/release.yml
  .github/workflows/ui-stage-publish.yml
  .github/workflows/ui-stage-teardown.yml
  .github/workflows/yarn-update.yml
Labels: fix

#1674 Update rfc-010-cypher-builder.md
  docs/rfcs/rfc-010-cypher-builder.md
Labels: rfc

#1723 Fix: Simple connection query with totalCount fails
  .changeset/silent-snakes-complain.md
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/tests/integration/issues/1686.int.test.ts
Labels: graphql, fix

#1724 Fix: Filtering using connection fields could fails
  .changeset/violet-apples-hammer.md
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/tests/integration/issues/1687.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1687.test.ts
Labels: graphql, fix

#1743 Fix: remove redundant check against non-existent parameter when querying interface connection
  .changeset/tall-windows-relax.md
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/tests/tck/tck-test-files/issues/1263.test.ts
Labels: graphql, fix

#1757 Fix collection of edges in connection
  .changeset/gentle-chicken-listen.md
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/integration/issues/1683.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/composite.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/relationship.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/temporal.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/projections.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/update.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship-properties.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/coalesce.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1221.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1528.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/433.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/988.test.ts
  packages/graphql/tests/tck/tck-test-files/math.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-connection.test.ts
Labels: graphql, fix

#1738 Fix 1735
  .changeset/green-suns-think.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1735.int.test.ts
Labels: graphql

#1513 RFC: Array methods
  docs/rfcs/rfc-020-array-methods.md
Labels: rfc

#1781 fix: always specify a default database
  .changeset/eight-doors-own.md
  packages/graphql/src/classes/Executor.ts
Labels: graphql, fix

#1778 fixed: Aggregation column contains implicit grouping expressions
  .changeset/breezy-peaches-draw.md
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/tests/tck/tck-test-files/connections/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/composite.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/relationship.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/and.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/equality.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/numerical.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/or.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/string.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/temporal.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/interfaces.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/projections.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/projections/update.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship-properties.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/coalesce.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1221.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1263.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1348.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1528.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/433.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/630.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/988.test.ts
  packages/graphql/tests/tck/tck-test-files/math.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-connection.test.ts
Labels: graphql, fix

#1787 Wraps translation in CypherBuilder
  packages/graphql/src/schema/resolvers/mutation/create.ts
  packages/graphql/src/schema/resolvers/mutation/delete.ts
  packages/graphql/src/schema/resolvers/query/global-node.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/index.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/utils.ts
Labels: graphql

#1770 Cypher builder connections
  .changeset/large-hounds-stare.md
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/where/create-cypher-where-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/translate/where/property-operations/create-where-property-operation.ts
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/integration/connections/filtering.int.test.ts
  packages/graphql/tests/integration/issues/1221.int.test.ts
  packages/graphql/tests/integration/issues/1782.int.test.ts
  packages/graphql/tests/integration/issues/1783.int.test.ts
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1221.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1687.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1783.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/488.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/582.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/901.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/988.test.ts
Labels: graphql

#1773 RFC 019, 020 initial implementation
  .changeset/string-comparators-changeset.md
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/schema/string-comparators.test.ts
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
Labels: documentation, graphql, feature

#1694 RFC String comparators and Optional features
  docs/rfcs/rfc-019-optional-features.md
  docs/rfcs/rfc-020-string-comparator-operators.md
Labels: rfc

#1789 Fix structure of `CASE` statements
  .changeset/swift-lamps-march.md
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/projection/elements/create-point-element.test.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/alias-directive.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/label.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/many.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/string.test.ts
  packages/graphql/tests/tck/tck-test-files/array-methods.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1430.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/324.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/894.test.ts
  packages/graphql/tests/tck/tck-test-files/nested-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/create.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/disconnect.test.ts
  packages/graphql/tests/tck/tck-test-files/operations/update.test.ts
  packages/graphql/tests/tck/tck-test-files/pringles.test.ts
  packages/graphql/tests/tck/tck-test-files/projection.test.ts
  packages/graphql/tests/tck/tck-test-files/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/tck-test-files/types/point.test.ts
  packages/graphql/tests/tck/tck-test-files/types/points.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql, fix

#1794 Revise graphql statement
  docs/modules/ROOT/pages/subscriptions/events/delete.adoc
Labels: documentation

#1790 Cypher Builder return and extra functions
  .gitignore
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/clauses/Call.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Call.ts
  packages/graphql/src/translate/cypher-builder/clauses/Create.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Create.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.ts
  packages/graphql/src/translate/cypher-builder/clauses/Merge.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Merge.ts
  packages/graphql/src/translate/cypher-builder/clauses/RawCypher.ts
  packages/graphql/src/translate/cypher-builder/clauses/Return.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Return.ts
  packages/graphql/src/translate/cypher-builder/clauses/mixins/ClauseMixin.ts
  packages/graphql/src/translate/cypher-builder/clauses/mixins/WIthSet.ts
  packages/graphql/src/translate/cypher-builder/clauses/mixins/WithReturn.ts
  packages/graphql/src/translate/cypher-builder/clauses/mixins/WithWhere.ts
  packages/graphql/src/translate/cypher-builder/clauses/procedures/db.ts
  packages/graphql/src/translate/cypher-builder/clauses/utils/apply-mixin.ts
  packages/graphql/src/translate/cypher-builder/clauses/utils/concat.test.ts
  packages/graphql/src/translate/cypher-builder/examples/call.test.ts
  packages/graphql/src/translate/cypher-builder/examples/create.test.ts
  packages/graphql/src/translate/cypher-builder/examples/match.test.ts
  packages/graphql/src/translate/cypher-builder/functions/CypherFunction.ts
Labels: graphql

#1796 Fix: move `ORDER BY`, `SKIP` and `LIMIT` to as early as possible in Cypher
  .changeset/afraid-peas-hang.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/1760.int.test.ts
  packages/graphql/tests/performance/graphql/sorting.graphql
  packages/graphql/tests/tck/tck-test-files/directives/cypher.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1628.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1760.test.ts
  packages/graphql/tests/tck/tck-test-files/pagination.test.ts
  packages/graphql/tests/tck/tck-test-files/rfcs/query-limits.test.ts
  packages/graphql/tests/tck/tck-test-files/sort.test.ts
Labels: graphql, fix

#1803 RFC Database info
  docs/rfcs/rfc-021-database-info.md
Labels: rfc

#1810 Count field aggregation using size
  .changeset/moody-weeks-arrive.md
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/cypher-builder/list/ListComprehension.ts
  packages/graphql/src/translate/cypher-builder/list/PatternComprehension.ts
  packages/graphql/src/translate/cypher-builder/operations/boolean.ts
  packages/graphql/src/translate/cypher-builder/sub-clauses/Where.ts
  packages/graphql/src/translate/field-aggregations/aggregation-sub-queries.ts
  packages/graphql/src/translate/field-aggregations/create-count-expression.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
  packages/graphql/src/translate/field-aggregations/utils.ts
  packages/graphql/src/utils/get-relationship-direction.ts
  packages/graphql/tests/integration/aggregations/field-level/where/field-aggregation-where-with-auth.int.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations-where.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/field-level-aggregations/field-level-aggregations.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1320.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction-aggregations.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-aggregations.test.ts
Labels: graphql
