Repository neo4j/graphql, pull requests merged in 2022-05, with the labels that each got.

#1356 Fix Issue 1348: Missing results when querying interface relationships
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/tests/integration/issues/1348.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1348.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/583.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/847.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-relationships.test.ts
Labels: graphql, fix

#1292 Fix: Missing filter with deep relations
  packages/graphql/src/translate/utils/apoc-run.ts
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/translate/where/create-element-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/tests/integration/issues/1221.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1221.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/582.test.ts
Labels: graphql, fix

#1362 update to include supported algorithms
  docs/modules/ROOT/pages/auth/setup.adoc
Labels: documentation

#1372 Prevent `@callback` directive from being used with `@relationship`
  packages/graphql/src/schema/check-directive-combinations.ts
Labels: graphql, fix

#1375 Fix: neo-push server seed
  examples/neo-push/server/src/seeder.ts
Labels: fix

#1393 Fix/aggregation count
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/tests/integration/issues/1320.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1320.test.ts
Labels: graphql, fix

#1398 Fix typing issue with semver
  packages/graphql/package.json
  packages/graphql/src/classes/utils/verify-database.ts
  yarn.lock
Labels: graphql

#1353 Create rfc-018-mathematical-operators.md
  docs/rfcs/rfc-018-mathematical-operators.md
Labels: rfc

#1417 Remove pointless casting in getDocument
  packages/graphql/src/schema/get-document.ts
Labels: graphql, fix

#1416 Fix `@callback` resulting in callbacks being called despite operation
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties-and-params.ts
  packages/graphql/src/translate/create-set-relationship-properties.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/tests/integration/issues/1414.int.test.ts
Labels: graphql, fix

#1415 Fix serialization for `[Int!]!`
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/aggregations/aggregation-types-mapper.ts
  packages/graphql/src/schema/aggregations/field-aggregation-composer.ts
  packages/graphql/src/schema/create-global-nodes.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/delete.test.ts
  packages/graphql/src/schema/resolvers/field/cypher.test.ts
  packages/graphql/src/schema/resolvers/field/cypher.ts
  packages/graphql/src/schema/resolvers/field/defaultField.ts
  packages/graphql/src/schema/resolvers/field/id.ts
  packages/graphql/src/schema/resolvers/field/numerical.ts
  packages/graphql/src/schema/resolvers/mutation/create.test.ts
  packages/graphql/src/schema/resolvers/mutation/create.ts
  packages/graphql/src/schema/resolvers/mutation/delete.test.ts
  packages/graphql/src/schema/resolvers/mutation/delete.ts
  packages/graphql/src/schema/resolvers/mutation/update.test.ts
  packages/graphql/src/schema/resolvers/mutation/update.ts
  packages/graphql/src/schema/resolvers/query/aggregate.ts
  packages/graphql/src/schema/resolvers/query/global-node.test.ts
  packages/graphql/src/schema/resolvers/query/global-node.ts
  packages/graphql/src/schema/resolvers/query/read.test.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/tests/integration/scalars.int.test.ts
Labels: graphql, fix

#1365 Project cypher field if needed for sort on a root connection query (fixes #1364)
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/1364.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1364.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
Labels: graphql, fix

#1371 Subscriptions authentication
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/NodeAuth.ts
  packages/graphql/src/schema/get-auth.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscription-auth.ts
  packages/graphql/src/schema/resolvers/subscriptions/types.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/get-token.ts
  packages/graphql/tests/e2e/setup/apollo-server.ts
  packages/graphql/tests/e2e/setup/ws-client.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/utils/create-jwt-request.ts
  yarn.lock
Labels: graphql

#1434 Merge refs/heads/hotfix/3.2.2 into dev
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql-toolbox/package.json
  packages/graphql/package.json
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/1364.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1364.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: graphql

#1426 Toolbox release workflow
  .github/workflows/release-toolbox.yml
  config/release-changelog-builder-action/configuration-toolbox.json
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/modules/SchemaView/utils.test.ts
Labels: feature

#1410 Subscription roles
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscription-auth.ts
  packages/graphql/src/translate/create-auth-param.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/roles.int.test.ts
Labels: graphql

#1435 Adds timestamp to subscriptions response
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql

#1441 Update numerical.ts to work for all Integerable values
  packages/graphql/src/schema/resolvers/field/numerical.ts
Labels: graphql, fix

#1442 Merge refs/heads/hotfix/3.2.3 into dev
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql-toolbox/package.json
  packages/graphql/package.json
  packages/graphql/src/schema/resolvers/field/numerical.ts
  packages/introspector/package.json
  packages/ogm/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: graphql

#1413 Feat: Toolbox experience improvements
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/toolbox.adoc
  packages/graphql-toolbox/src/App.tsx
  packages/graphql-toolbox/src/constants.ts
  packages/graphql-toolbox/src/contexts/appsettings.tsx
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/contexts/screen.tsx
  packages/graphql-toolbox/src/contexts/settings.tsx
  packages/graphql-toolbox/src/contexts/theme.tsx
  packages/graphql-toolbox/src/contexts/utils.ts
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/AppSettings/AppSettings.tsx
  packages/graphql-toolbox/src/modules/EditorView/GraphQLQueryEditor.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/DocExplorerComponent.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/HelpDrawer.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/Keybindings.tsx
  packages/graphql-toolbox/src/modules/SchemaView/ActionElementsBar.tsx
  packages/graphql-toolbox/src/modules/SchemaView/Favourites.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/src/types.ts
  packages/graphql-toolbox/tests/headless/drawer.test.ts
  packages/graphql-toolbox/tests/headless/pages/HelpDrawer.ts
  packages/graphql-toolbox/webpack.config.js
Labels: documentation, feature

#1436 Adds Neo4jGraphQLSubscriptionsSingleInstancePlugin
  packages/graphql/src/classes/Neo4jGraphQLSubscriptionsSingleInstancePlugin.ts
  packages/graphql/src/index.ts
  packages/graphql/tests/integration/subscriptions/single-instance-plugin.int.test.ts
Labels: graphql

#1461 Add init to the plugin interface and amqp plugin
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/types.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/README.md
  packages/plugins/graphql-plugin-subscriptions-amqp/src/amqp-0-9-1-api.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/src/index.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/src/index.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/apollo-subscriptions.e2e.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/rabbitmq.e2e.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/setup/plugin.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/setup/rabbitmq.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/setup/ws-client.ts
Labels: graphql

#1437 Docs/subscriptions
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/images/subscriptions/diagram1.png
  docs/modules/ROOT/images/subscriptions/diagram2.png
  docs/modules/ROOT/images/subscriptions/diagram3.png
  docs/modules/ROOT/pages/auth/auth-directive.adoc
  docs/modules/ROOT/pages/auth/subscriptions.adoc
  docs/modules/ROOT/pages/subscriptions/events/create.adoc
  docs/modules/ROOT/pages/subscriptions/events/delete.adoc
  docs/modules/ROOT/pages/subscriptions/events/update.adoc
  docs/modules/ROOT/pages/subscriptions/getting-started.adoc
  docs/modules/ROOT/pages/subscriptions/index.adoc
  docs/modules/ROOT/pages/subscriptions/plugins/amqp.adoc
  docs/modules/ROOT/pages/subscriptions/plugins/index.adoc
  docs/modules/ROOT/pages/subscriptions/plugins/single-instance.adoc
  docs/modules/ROOT/pages/subscriptions/scaling.adoc
  packages/plugins/graphql-plugin-subscriptions-amqp/src/amqp-0-9-1-api.ts
Labels: documentation

#1482 Rename subscriptions plugin
  docs/modules/ROOT/pages/subscriptions/plugins/amqp.adoc
  packages/plugins/graphql-plugin-subscriptions-amqp/README.md
  packages/plugins/graphql-plugin-subscriptions-amqp/src/index.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/src/index.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/apollo-subscriptions.e2e.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/rabbitmq.e2e.test.ts
  packages/plugins/graphql-plugin-subscriptions-amqp/tests/e2e/setup/plugin.ts
Labels: documentation

#1489 Toolbox: beta tag
  packages/graphql-toolbox/src/components/CustomSelect.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
Labels: feature
