Repository neo4j/graphql, pull requests merged in 2022-01, with the labels that each got.

#661 Chore/erroneous build artifacts
  .github/workflows/release.yml
  packages/graphql/.npmignore
  packages/graphql/package.json
  packages/introspector/.npmignore
  packages/introspector/package.json
  packages/ogm/.npmignore
  packages/ogm/package.json
Labels: graphql, ogm, introspector

#662 Add specified directives to schema validation
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/tests/schema/issues/609.test.ts
Labels: graphql, fix

#557 Fix/556: Input Object type ArticleCreateInput must define one or more fields
  docs/modules/ROOT/pages/troubleshooting/faqs.adoc
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/integration/issues/556.int.test.ts
  packages/graphql/tests/schema/issues/556.test.ts
Labels: documentation, graphql, fix

#679 Fix: Autogenerated Fields For `connectOrCreate`
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create.test.ts
Labels: graphql, fix

#678 Fix: `@writeonly` on `@relationship` Fields
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
Labels: graphql, fix

#656 GitHub Actions tweaks
  .github/labeler.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-teardown.yml
  .github/workflows/fallback-bump-version.yml
  .github/workflows/fallback-publish.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release.yml
  addlicense
  packages/graphql/src/tsconfig.json
  packages/graphql/tests/schema/issues/556.test.ts
Labels: graphql

#621 Separate Aggregations in Nullable and NonNullable fields
  packages/graphql/src/schema/aggregations/aggregation-types-mapper.ts
  packages/graphql/src/schema/aggregations/aggregations-types-mapper.test.ts
  packages/graphql/src/translate/field-aggregations/utils.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/custom-mutations.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/autogenerate.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/ignore.test.ts
  packages/graphql/tests/schema/directives/node-plural.test.ts
  packages/graphql/tests/schema/directives/private.test.ts
  packages/graphql/tests/schema/directives/readonly.test.ts
  packages/graphql/tests/schema/directives/timestamps.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/extend.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/schema/inputs.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/200.test.ts
  packages/graphql/tests/schema/issues/609.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/scalar.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/schema/types/date.test.ts
  packages/graphql/tests/schema/types/datetime.test.ts
  packages/graphql/tests/schema/types/duration.test.ts
  packages/graphql/tests/schema/types/localdatetime.test.ts
  packages/graphql/tests/schema/types/localtime.test.ts
  packages/graphql/tests/schema/types/time.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
Labels: graphql, ogm, breaking

#735 Improve pluralisation
  packages/graphql/README.md
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/create.ts
  packages/graphql/src/schema/resolvers/update.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/lower-first.ts
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/auth.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/basic.int.test.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-auth.int.test.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create-union.int.test.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-top-level.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-union-top-level.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-union.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create.int.test.ts
  packages/graphql/tests/integration/count.int.test.ts
  packages/graphql/tests/integration/directives/coalesce.int.test.ts
  packages/graphql/tests/integration/issues/235.int.test.ts
  packages/graphql/tests/integration/issues/288.int.test.ts
  packages/graphql/tests/integration/issues/360.int.test.ts
  packages/graphql/tests/integration/issues/572.int.test.ts
  packages/graphql/tests/integration/types/date.int.test.ts
  packages/graphql/tests/integration/types/datetime.int.test.ts
  packages/graphql/tests/schema/directives/node-plural.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/288.test.ts
  packages/graphql/tests/utils/graphql-types.ts
  packages/ogm/package.json
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/generate.ts
  packages/ogm/src/utils/filter-document.test.ts
  packages/ogm/src/utils/filter-document.ts
  packages/ogm/src/utils/lower-first.ts
  packages/ogm/tests/integration/ogm.int.test.ts
  packages/ogm/tests/integration/pluralize-underscore.int.test.ts
  packages/ogm/tests/utils.ts
  yarn.lock
Labels: graphql, ogm

#785 remove references to top-level count in docs
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/count.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/index.adoc
  docs/modules/ROOT/pages/queries.adoc
Labels: documentation

#792 Eslint fix
  package.json
  packages/graphql/src/auth/get-jwt.ts
  packages/graphql/src/auth/index.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse-exclude-directive.test.ts
  packages/graphql/src/schema/parse-exclude-directive.ts
  packages/graphql/src/schema/parse-node-directive.test.ts
  packages/graphql/src/schema/parse-node-directive.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.test.ts
  packages/graphql/src/schema/resolvers/id.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/schema/scalars/Duration.test.ts
  packages/graphql/src/schema/scalars/Duration.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/ogm/tests/integration/ogm.int.test.ts
  packages/package-tests/apollo/server.test.js
Labels: graphql

#701 Fix: Non-Array Interface Relationship Fields
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/interface-relationships/read.int.test.ts
  packages/graphql/tests/tck/tck-test-files/interface-relationships/read.test.ts
Labels: graphql, fix

#490 Fix: Combine where statements with roles as moderators, as with allow, bind
  docs/modules/ROOT/pages/auth/authorization/where.adoc
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/tests/integration/directives/auth/roles.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
Labels: documentation, graphql, fix

#769 Fix: Missing or Default `null` `@cypher` Arguments
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/directives/cypher.int.test.ts
Labels: graphql, fix

#781 Fix: Sort On Missing Fields
  packages/graphql/src/schema/resolvers/cypher.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/utils/generate-projection-field.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/tck/tck-test-files/sort.test.ts
Labels: graphql, fix

#820 Fix: Missing Relationship Description
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/schema/comments.test.ts
Labels: graphql, fix

#824 Fix/619 input.map is not a function error in connectOrCreate
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/tests/integration/issues/619.int.test.ts
Labels: graphql, fix

#833 Cypher builder improvements
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-merge-statement.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-node-statement.ts
  packages/graphql/src/translate/cypher-builder/build-relation-statement.ts
  packages/graphql/src/translate/cypher-builder/build-relationship-statement.test.ts
  packages/graphql/src/translate/cypher-builder/build-relationship-statement.ts
  packages/graphql/src/translate/cypher-builder/join-statements.test.ts
  packages/graphql/src/translate/cypher-builder/join-statements.ts
Labels: graphql

#861 Fixes to `dev` following the merge of hotfix branch
  .github/workflows/hotfix.yml
  examples/migration/package.json
  examples/neo-push/server/package.json
  package.json
  packages/graphql/src/translate/connect-or-create/create-connect-or-create-and-params.ts
  packages/graphql/tests/integration/issues/630.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/630.test.ts
  packages/introspector/package.json
  packages/ogm/package.json
  yarn.lock
Labels: graphql

#860 Remove 4.1 support
  .github/workflows/dev.yml
  .github/workflows/hotfix.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release-introspector.yml
  .github/workflows/release.yml
  docs/modules/ROOT/pages/introduction.adoc
  packages/graphql/src/classes/utils/assert-indexes-and-constraints.test.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/classes/utils/verify-database.test.ts
  packages/graphql/src/constants.ts
  packages/graphql/tests/integration/indexes-and-constraints/unique.int.test.ts
Labels: documentation, graphql

#835 Adds connect and aggregate to rfc-004
  docs/rfcs/rfc-004-undirected-relationship-queries.md
Labels: rfc

#811 Feature: undirected relationships
  docs/modules/ROOT/pages/queries.adoc
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/undirected-relationships.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, feature, ogm

#823 RFC - Hotfix Process
  docs/rfcs/rfc-008-hotfix-process.md
Labels: rfc

#867 Undirected aggregation and connection
  docs/modules/ROOT/pages/queries.adoc
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-aggregations.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-relationships.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, ogm

#876 Check whether fulltext indexes exist before creating
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/tests/integration/indexes-and-constraints/fulltext.int.test.ts
Labels: graphql, fix

#874 Fix/nullable array entries
  docs/modules/ROOT/pages/guides/migration-guide/queries.adoc
  docs/modules/ROOT/pages/sorting.adoc
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/integration/find.int.test.ts
  packages/graphql/tests/integration/issues/235.int.test.ts
  packages/graphql/tests/integration/issues/247.int.test.ts
  packages/graphql/tests/integration/issues/402.int.test.ts
  packages/graphql/tests/integration/types/point.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/arrays.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/custom-mutations.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/autogenerate.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/ignore.test.ts
  packages/graphql/tests/schema/directives/node-plural.test.ts
  packages/graphql/tests/schema/directives/private.test.ts
  packages/graphql/tests/schema/directives/readonly.test.ts
  packages/graphql/tests/schema/directives/timestamps.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/enum.test.ts
  packages/graphql/tests/schema/extend.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/schema/inputs.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/200.test.ts
  packages/graphql/tests/schema/issues/609.test.ts
  packages/graphql/tests/schema/null.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/scalar.test.ts
  packages/graphql/tests/schema/simple.test.ts
  packages/graphql/tests/schema/types/bigint.test.ts
  packages/graphql/tests/schema/types/date.test.ts
  packages/graphql/tests/schema/types/datetime.test.ts
  packages/graphql/tests/schema/types/duration.test.ts
  packages/graphql/tests/schema/types/localdatetime.test.ts
  packages/graphql/tests/schema/types/localtime.test.ts
  packages/graphql/tests/schema/types/point.test.ts
  packages/graphql/tests/schema/types/time.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/402.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, fix, ogm

#891 Remove spurious create input fields for interface relationships
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
Labels: graphql, fix

#892 Fix inconsistent ConnectionWhere type names for unions
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/unions.test.ts
Labels: graphql, fix

#888 Query direction argument
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/directed-argument.test.ts
  packages/graphql/src/schema/directed-argument.ts
  packages/graphql/src/schema/get-relationship-meta.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/schema/validation/enums.ts
  packages/graphql/src/translate/connection/create-connection-and-params.test.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/cypher-builder/get-relationship-direction.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction-aggregations.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/query-direction.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-connection.test.ts
  packages/graphql/tests/utils/builders/relation-field-builder.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, ogm

#889 QueryDirection docs
  docs/modules/ROOT/pages/queries.adoc
  docs/modules/ROOT/pages/type-definitions/relationships.adoc
Labels: documentation
