Repository neo4j/graphql, pull requests merged in 2022-04, with the labels that each got.

#1206 Fix/use __typename when looking for other types
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/aggregate.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/ogm/src/generate.ts
  packages/ogm/tests/issues/1130.test.ts
Labels: graphql, fix, ogm

#1011 Fix: `@unique` Custom Scalars and Enums
  packages/graphql/src/classes/Node.ts
  packages/graphql/tests/integration/issues/915.int.test.ts
Labels: graphql, fix

#1219 Merge refs/heads/hotfix/3.0.4 into dev
  .github/workflows/pull-requests.yml
  docs/modules/ROOT/pages/guides/migration-guide/server.adoc
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  examples/migration/package.json
  examples/neo-push/server/package.json
  packages/graphql-toolbox/package.json
  packages/graphql/README.md
  packages/graphql/package.json
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/aggregate.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
  packages/graphql/tests/integration/directives/node/label.int.test.ts
  packages/graphql/tests/integration/directives/unique.int.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/aggregate.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/match.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/node-labels.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/score.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1182.test.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
  packages/introspector/package.json
  packages/ogm/README.md
  packages/ogm/package.json
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
  packages/ogm/tests/issues/1130.test.ts
  yarn.lock
Labels: documentation, graphql, ogm

#1246 Fix some simple eslint errors
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/tests/integration/directives/auth/allow-unauthenticated.int.test.ts
  packages/graphql/tests/integration/directives/auth/jwks-endpoint.int.test.ts
  packages/graphql/tests/integration/directives/timestamp/time.int.test.ts
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
  packages/graphql/tests/tck/tck-test-files/alias.test.ts
  packages/graphql/tests/tck/tck-test-files/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/fragments.test.ts
  packages/graphql/tests/tck/tck-test-files/null.test.ts
  packages/graphql/tests/tck/tck-test-files/pagination.test.ts
  packages/graphql/tests/tck/tck-test-files/types/bigint.test.ts
  packages/graphql/tests/utils/builders/driver-builder.ts
  packages/graphql/tests/utils/create-jwt-request.ts
  packages/package-tests/apollo/server.test.js
Labels: graphql

#1226 Fix: @cypher only returning __typename fails
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/directives/cypher.int.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/cypher.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1139.test.ts
Labels: graphql, fix

#1209 Fix: Querying Multiple Interface relations generates invalid Cypher Query
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/847.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/847.test.ts
Labels: graphql, fix

#836 RFC Cypher Based Hooks
  docs/rfcs/rfc-013-cypher-based-hooks.md
Labels: rfc

#814 RFC/Relationship Count Validation
  docs/rfcs/rfc-014-relationship-length-validation.md
Labels: rfc

#649 LIMIT results before projecting custom Cypher
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/tck/tck-test-files/directives/cypher.test.ts
  packages/graphql/tests/tck/tck-test-files/sort.test.ts
Labels: graphql, fix

#1229 Rfc/Update subscriptions
  docs/rfcs/rfc-007-subscriptions.md
Labels: rfc

#1275 docs: fix typo in api reference
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
Labels: documentation

#1272 Fix createConnectOrCreate function on relationships where the direction is "IN"
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1182.test.ts
Labels: graphql, fix

#1278 Merge 1272 to master
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1182.test.ts
Labels: graphql

#1286 Fix: Autogenerate properties - callback, docs
  docs/modules/ROOT/pages/type-definitions/autogeneration.adoc
Labels: documentation, fix

#1274 Fix cypher on top level connections ignoring sort, after, and first arguments
  packages/graphql/src/schema/resolvers/root-connection.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/root-connections.int.test.ts
  packages/graphql/tests/tck/tck-test-files/root-connection.test.ts
Labels: graphql, fix

#1291 Add tests on time parse and update regex
  packages/graphql/src/schema/types/scalars/Time.test.ts
  packages/graphql/src/schema/types/scalars/Time.ts
  packages/graphql/tests/tck/tck-test-files/types/time.test.ts
Labels: graphql, fix

#953 Add option to use existing session and transaction
  docs/modules/ROOT/pages/driver-configuration.adoc
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/errors.int.test.ts
  packages/graphql/tests/integration/issues/464.int.test.ts
  packages/graphql/tests/utils/builders/context-builder.ts
  packages/graphql/tests/utils/builders/driver-builder.ts
Labels: documentation, graphql

#866 Feature: Global node resolution
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/create-global-nodes.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse-node-directive.test.ts
  packages/graphql/src/schema/resolvers/global-node.test.ts
  packages/graphql/src/schema/resolvers/global-node.ts
  packages/graphql/src/schema/validation/directives.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.test.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/global-ids.ts
  packages/graphql/src/utils/global-node-projection.ts
  packages/graphql/tests/integration/global-node.int.test.ts
  packages/graphql/tests/schema/global-node.test.ts
  packages/graphql/tests/tck/tck-test-files/global-node.test.ts
  packages/ogm/src/generate.ts
Labels: graphql, feature, ogm
