Repository neo4j/graphql, pull requests merged in 2022-11, with the labels that each got.

#2130 feat: add code scanning GHA to dev workflow
  .github/workflows/dev.yml
  .github/workflows/pull-requests.yml
Labels: feature

#2336 Fix 5.0 compatibility
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/tests/integration/neo4j.ts
  packages/graphql/tests/tck/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/directives/alias.test.ts
  packages/graphql/tests/tck/directives/node/node-additional-labels.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-fields.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
Labels: graphql, fix

#2338 Alias subquery returns in UNWIND CREATE
  .changeset/cyan-carrots-sit.md
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/tests/tck/connections/relationship_properties/create.test.ts
  packages/graphql/tests/tck/directives/alias.test.ts
  packages/graphql/tests/tck/directives/node/node-additional-labels.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-fields.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
Labels: graphql, fix

#2339 Deprecate old fulltext inputs
  .changeset/mean-gorillas-relate.md
  packages/graphql/src/schema/augment/fulltext.ts
  packages/graphql/src/schema/resolvers/query/aggregate.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/tests/schema/fulltext.test.ts
Labels: graphql

#2348 Add CompositeEntity and ConcreteEntity, and remove schema from context
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema-model/CompositeEntity.ts
  packages/graphql/src/schema-model/ConcreteEntity.ts
  packages/graphql/src/schema-model/Entity.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/utils/builders/context-builder.ts
Labels: graphql, feature

#2177 Create rfc-28-cypher-directive-subquery.md
  docs/rfcs/rfc-28-cypher-directive-subquery.md
Labels: rfc

#2368 4.0 migration guide
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/guides/index.adoc
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  packages/graphql/src/graphql/directives/callback.ts
  packages/graphql/src/graphql/directives/computed.ts
  packages/graphql/src/graphql/directives/fulltext.ts
  packages/graphql/src/graphql/directives/node.ts
  packages/graphql/src/schema/augment/fulltext.ts
  packages/graphql/src/schema/get-custom-resolver-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/parse-node-directive.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.ts
  packages/graphql/tests/schema/fulltext.test.ts
Labels: documentation, graphql

#2369 RFC-remove-runFirstColumn-from-aggregate-where
  docs/rfcs/rfc-030-remove-runFirstColumn-from-aggregate-where.md
Labels: rfc

#2371 Small optimisation in `generateSchema`
  .changeset/selfish-cougars-yawn.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: graphql, fix

#2370 Schema performance
  .changeset/curly-owls-train.md
  docs/contributing/DEVELOPING.md
  packages/graphql/src/schema/make-augmented-schema.ts
Labels: graphql

#2360 Bugfix/2187 deprecated directive with relationships
  .changeset/real-months-exist.md
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/math.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
  packages/graphql/tests/schema/issues/609.test.ts
Labels: graphql, fix

#2403 docs: Supported Neo4j versions
  docs/modules/ROOT/pages/introduction.adoc
Labels: documentation, fix

#2404 feat: Toolbox banner for GraphQLaaS interest redirect
  .changeset/wet-poets-joke.md
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/tailwind.config.js
Labels: feature

#2407 fix 2377
  .changeset/fresh-rice-hide.md
  packages/graphql/src/schema/create-relationship-fields/create-connect-or-create-field.ts
  packages/graphql/tests/schema/issues/2377.test.ts
Labels: graphql, fix

#2431 remove dependency from crypto
  .changeset/long-mayflies-attack.md
  packages/graphql/package.json
  packages/graphql/src/translate/batch-create/GraphQLInputAST/AST.ts
  yarn.lock
Labels: graphql

#2367 Rfc/unwind auth
  docs/rfcs/rfc-028-cypher-directive-subquery.md
  docs/rfcs/rfc-029-unwind-create-auth.md
Labels: rfc

#2438 Fix dulicate events on delete
  .changeset/purple-turtles-remain.md
  packages/graphql/src/schema/subscriptions/publish-events-to-plugin.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/tck/subscriptions/delete.test.ts
  packages/graphql/tests/utils/graphql-types.ts
Labels: graphql, fix

#2425 Schema model poc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema-model/Neo4jGraphQLSchemaModel.ts
  packages/graphql/src/schema-model/annotation/Annotation.ts
  packages/graphql/src/schema-model/annotation/CypherAnnotation.ts
  packages/graphql/src/schema-model/attribute/Attribute.ts
  packages/graphql/src/schema-model/entity/CompositeEntity.ts
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/entity/Entity.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/types.ts
Labels: graphql

#2417 RFC - OGM Select
  docs/rfcs/rfc-0031-ogm-select.md
Labels: rfc

#2454 feat: Toolbox Canny changelog widget
  .changeset/proud-shoes-greet.md
  packages/graphql-toolbox/.env.example
  packages/graphql-toolbox/src/analytics/tracking-types.ts
  packages/graphql-toolbox/src/analytics/tracking.ts
  packages/graphql-toolbox/src/common/canny.ts
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/HelpDrawer/Resources.tsx
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/src/types.ts
Labels: feature

#2383 Subscriptions filtering
  .changeset/yellow-olives-design.md
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/graphql/enums/RelationDirection.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.test.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-connection-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/connect.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/disconnect.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/connect-same-type.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/connect.e2e.test.ts
  packages/graphql/tests/integration/issues/1782.int.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/disconnect.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/union.test.ts
  packages/graphql/tests/utils/graphql-types.ts
Labels: graphql

#2450 Add custom cypher variables to top-level cypher resolvers
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/resolvers/field/cypher.ts
  packages/graphql/src/schema/resolvers/field/get-cypher-result-variables.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/translate/utils/escape-query.ts
Labels: graphql

#2482 fix: Toolbox default product usage tracking state
  .changeset/eighty-apes-knock.md
  packages/graphql-toolbox/src/contexts/appsettings.tsx
Labels: fix

#2487 Fix: Toolbox webpack loaders
  examples/neo-push/client/package.json
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/webpack.config.js
  yarn.lock
Labels: fix

#2332 add new api changes to subscriptions rfc
  docs/rfcs/rfc-007-subscriptions.md
Labels: rfc

#2475 Subscription event types
  packages/graphql/src/classes/Node.test.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/graphql/enums/EventType.ts
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/src/schema/subscriptions/publish-events-to-plugin.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/subscriptions/create-connection-event-meta.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-additional-labels.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-with-relationships.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship-same-type.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship.e2e.test.ts
  packages/graphql/tests/integration/subscriptions/create-relationship/create.int.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/tck/subscriptions/create.test.ts
  packages/graphql/tests/tck/subscriptions/delete.test.ts
  packages/graphql/tests/utils/graphql-types.ts
Labels: graphql

#2476 Remove additional SKIP and LIMIT from generated Cypher
  .changeset/weak-apes-retire.md
  .github/workflows/issue-labeled.yml
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/2267.int.test.ts
  packages/graphql/tests/integration/issues/2396.int.test.ts
  packages/graphql/tests/performance/utils/TestRunner.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/issues/1628.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/issues/2267.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/rfcs/query-limits.test.ts
Labels: graphql, fix

#2488 Fix #2437 cursor pagination not working on connections
  .changeset/polite-suits-roll.md
  packages/graphql/src/translate/connection-clause/create-connection-clause.ts
  packages/graphql/tests/integration/issues/2437.int.test.ts
  packages/graphql/tests/tck/connections/projections/projections.test.ts
  packages/graphql/tests/tck/issues/2437.test.ts
Labels: graphql, fix
