Repository neo4j/graphql, pull requests merged in 2022-12, with the labels that each got.

#2492 Fix/2426 required union relationship
  .changeset/two-chefs-compete.md
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/integration/issues/2426.int.test.ts
  packages/graphql/tests/schema/issues/2426.test.ts
Labels: graphql, fix

#2504 Correct GraphQL API URL in Next.js
  docs/modules/ROOT/pages/guides/frameworks/nextjs.adoc
Labels: documentation

#2513 fix: pass env var in Toolbox deploy workflow
  .github/workflows/toolbox-deploy.yml
Labels: fix

#2503 Allow scalars to accept Neo4j native values
  .changeset/lazy-lizards-wash.md
  packages/graphql/src/graphql/scalars/Date.ts
  packages/graphql/src/graphql/scalars/DateTime.ts
  packages/graphql/src/graphql/scalars/Duration.ts
  packages/graphql/src/graphql/scalars/LocalDateTime.ts
  packages/graphql/src/graphql/scalars/LocalTime.ts
  packages/graphql/src/graphql/scalars/Time.ts
  packages/ogm/tests/integration/scalars.int.test.ts
Labels: graphql, fix

#2501 Fix/2474
  .changeset/polite-shoes-juggle.md
  packages/graphql/src/translate/batch-create/parser.ts
  packages/graphql/tests/integration/issues/2474.int.test.ts
Labels: graphql, fix

#2489 Update cypher rfc with experimental option
  docs/rfcs/rfc-028-cypher-directive-subquery.md
Labels: rfc

#2515 Replace `all` predicate with `any` for auth bind checks
  .changeset/giant-eagles-exist.md
  docs/modules/ROOT/pages/auth/authorization/bind.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/issues/505.int.test.ts
  packages/graphql/tests/integration/issues/bind-any.int.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWKSPlugin.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.ts
Labels: documentation, graphql, fix

#2455 Cypher run first column
  .changeset/curvy-meals-develop.md
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/type-definitions/cypher.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/graphql/directives/cypher.ts
  packages/graphql/src/schema/get-cypher-meta.test.ts
  packages/graphql/src/schema/get-cypher-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/resolvers/field/cypher.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/cypher.int.test.ts
  packages/graphql/tests/integration/issues/227.int.test.ts
  packages/graphql/tests/performance/graphql/cypher-directive.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
Labels: documentation, graphql

#2547 Fix some lingering eslint errors
  packages/graphql/tests/integration/rfcs/global-authentication-jwks-auth-plugin.int.test.ts
  packages/graphql/tests/performance/performance.ts
  packages/package-tests/babel/index.js
Labels: fix

#2545 Add columnName for field cypher fields
  .changeset/clever-experts-return.md
  packages/cypher-builder/src/clauses/Call.test.ts
  packages/cypher-builder/src/clauses/Call.ts
  packages/cypher-builder/src/clauses/mixins/WithUnwind.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/tests/integration/directives/cypher/column-name.int.test.ts
  packages/graphql/tests/integration/directives/cypher/cypher.int.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
Labels: graphql

#2467 Add subscriptions to relationship events to docs
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/subscriptions/events/create_relationship.adoc
  docs/modules/ROOT/pages/subscriptions/events/delete_relationship.adoc
  docs/modules/ROOT/pages/subscriptions/filtering.adoc
  docs/modules/ROOT/pages/subscriptions/index.adoc
Labels: documentation

#2576 Fixes issue caused by regression - non-nullable union input
  .changeset/early-trees-matter.md
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/integration/issues/2426.int.test.ts
  packages/graphql/tests/integration/issues/2574.int.test.ts
  packages/graphql/tests/schema/issues/2426.test.ts
Labels: graphql, fix

#2564 Check for constraints on additional labels
  .changeset/smooth-tigers-behave.md
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/tests/integration/directives/fulltext.int.test.ts
  packages/graphql/tests/integration/directives/unique.int.test.ts
Labels: documentation, graphql

#2579 Fix ogm fulltext arg
  .changeset/friendly-moles-destroy.md
  packages/ogm/src/classes/Model.ts
  packages/ogm/tests/issues/2357.test.ts
Labels: fix, ogm

#2573 Add tests on top-level connections with sort
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/connections/sort.int.test.ts
  packages/graphql/tests/integration/issues/1364.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/performance/graphql/connections.graphql
  packages/graphql/tests/tck/connections/sort.ts
  packages/graphql/tests/tck/root-connection.test.ts
Labels: graphql

#2578 Multiple sort bug
  .changeset/funny-bikes-move.md
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/tests/integration/connections/sort.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/performance/graphql/sorting.graphql
Labels: graphql

#2587 Fix invalid Cypher query on nested fields with directive using #2581
  .changeset/ten-ladybugs-build.md
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/tests/integration/issues/2581.int.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/issues/2581.test.ts
Labels: graphql, fix

#2029 RFC 025-cypher-field-filters
  docs/rfcs/rfc-025-cypher-field-filters.md
Labels: rfc

#2580 Performance sort connection
  .changeset/lazy-mirrors-search.md
  .changeset/tiny-insects-poke.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/1364.int.test.ts
  packages/graphql/tests/tck/issues/1364.test.ts
  packages/graphql/tests/tck/root-connection.test.ts
Labels: graphql

#2621 fix: set neo4j-version in GHA to older version for 4.x
  .github/workflows/reusable-api-library-tests.yml
  .github/workflows/reusable-integration-tests-on-prem.yml
  .github/workflows/reusable-subscriptions-plugin-amqp-e2e-test.yml
Labels: fix

#2619 fix: custom resolvers as array
  .changeset/lovely-mugs-matter.md
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/tests/integration/issues/2560.int.test.ts
Labels: graphql, fix

#2629 fix: update amqplib dependency
  examples/subscriptions/apollo_rabbitmq/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: fix

#2624 feat: GHA matrix with node versions for nightly build
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
Labels: feature

#2631 fix: node directive label text is not working (#2614)
  .changeset/neat-sheep-brush.md
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/tests/integration/issues/2614.int.test.ts
  packages/graphql/tests/tck/issues/2614.test.ts
Labels: graphql, fix
