Repository neo4j/graphql, pull requests merged in 2022-08, with the labels that each got.

#1819 Add session bookmarks to some integration tests
  packages/graphql/tests/integration/issues/1364.int.test.ts
  packages/graphql/tests/integration/issues/560.int.test.ts
  packages/graphql/tests/integration/issues/988.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
Labels: fix

#1849 Fix: Cypher generation syntax error
  .changeset/chatty-lions-jump.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1848.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1848.test.ts
Labels: graphql, fix

#1857 Release/2022 08 05
  docs/modules/ROOT/pages/subscriptions/events/delete.adoc
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/1848.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1848.test.ts
  packages/ogm/CHANGELOG.md
  packages/ogm/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: documentation, graphql

#1854 Remove instances of `apoc.meta.type`
  .changeset/wild-fishes-teach.md
  packages/graphql/src/translate/utils/math.ts
  packages/graphql/tests/tck/tck-test-files/math.test.ts
Labels: graphql, fix

#1863 Fix some flaky tests
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/integration/array-methods/array-pop.int.test.ts
  packages/graphql/tests/integration/array-methods/array-push.int.test.ts
  packages/graphql/tests/integration/connections/filtering.int.test.ts
  packages/graphql/tests/integration/connections/interfaces.int.test.ts
  packages/graphql/tests/integration/connections/unions.int.test.ts
  packages/graphql/tests/integration/directives/auth/roles.int.test.ts
  packages/graphql/tests/integration/filtering/operations.int.test.ts
  packages/graphql/tests/integration/fragments.int.test.ts
  packages/graphql/tests/integration/interface-relationships/create/connect.int.test.ts
  packages/graphql/tests/integration/interface-relationships/create/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/read.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/connect.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/create.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/disconnect.int.test.ts
  packages/graphql/tests/integration/interface-relationships/update/update.int.test.ts
  packages/graphql/tests/integration/issues/1221.int.test.ts
  packages/graphql/tests/integration/issues/1566.int.test.ts
  packages/graphql/tests/integration/issues/1685.int.test.ts
  packages/graphql/tests/integration/issues/1779.int.test.ts
  packages/graphql/tests/integration/issues/1782.int.test.ts
  packages/graphql/tests/integration/issues/526.int.test.ts
  packages/graphql/tests/integration/issues/594.int.test.ts
  packages/graphql/tests/integration/issues/630.int.test.ts
  packages/graphql/tests/integration/issues/847.int.test.ts
  packages/graphql/tests/integration/issues/988.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/interfaces.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/delete.int.test.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
Labels: fix

#1842 fix the 1756, add extra test for nested bug(callback not being invoked)
  .changeset/famous-mails-swim.md
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/tests/integration/issues/1756.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1756.test.ts
Labels: graphql, fix

#1841 Auth in cypher builder
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/cypher-builder/CypherASTNode.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/Environment.ts
  packages/graphql/src/translate/cypher-builder/Pattern.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/RawCypher.ts
  packages/graphql/src/translate/cypher-builder/functions/PredicateFunctions.ts
  packages/graphql/src/translate/cypher-builder/operations/boolean.ts
  packages/graphql/src/translate/cypher-builder/procedures/apoc/ValidatePredicate.ts
  packages/graphql/src/translate/cypher-builder/procedures/apoc/apoc.ts
  packages/graphql/src/translate/cypher-builder/types.ts
  packages/graphql/src/translate/cypher-builder/utils.ts
  packages/graphql/src/translate/cypher-builder/variables/Literal.ts
  packages/graphql/src/translate/cypher-builder/variables/Param.ts
  packages/graphql/src/translate/where/create-cypher-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/arrays.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/mixed-nesting.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/coalesce.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1115.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1760.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1779.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/null.test.ts
  packages/graphql/tests/tck/tck-test-files/subscriptions/create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/types/point.test.ts
  packages/graphql/tests/tck/tck-test-files/types/points.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql

#1882 fix: cypherParams are not passed on to nested query
  .changeset/shy-penguins-sin.md
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/1249.int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1249.test.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
Labels: graphql, fix

#1714 RFC: global authentication (RFC-23)
  docs/rfcs/rfc-023-global-authentication.md
Labels: rfc

#1873 feat: Toolbox restructure after UX feedback
  .changeset/gorgeous-buckets-kick.md
  packages/graphql-toolbox/src/components/ProTooltip.tsx
  packages/graphql-toolbox/src/components/ViewSelectorComponent.tsx
  packages/graphql-toolbox/src/constants.ts
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/contexts/utils.ts
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/DocExplorerComponent.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/HelpDrawer.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/modules/SchemaView/ActionElementsBar.tsx
  packages/graphql-toolbox/src/modules/SchemaView/IntrospectionPrompt.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/tailwind.config.js
  packages/graphql-toolbox/tests/drawer.test.ts
  packages/graphql-toolbox/tests/introspection.test.ts
  packages/graphql-toolbox/tests/introspectionprompt.test.ts
  packages/graphql-toolbox/tests/login.test.ts
  packages/graphql-toolbox/tests/pages/Editor.ts
  packages/graphql-toolbox/tests/pages/HelpDrawer.ts
  packages/graphql-toolbox/tests/pages/Login.ts
  packages/graphql-toolbox/tests/pages/SchemaEditor.ts
  packages/graphql-toolbox/tests/urlqueryparameters.test.ts
  packages/graphql-toolbox/tests/utils/pagemodel.ts
  packages/graphql-toolbox/tests/workflow.test.ts
Labels: feature

#1884 refactor createProjectionAndParam result
  packages/graphql/src/schema/resolvers/field/cypher.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-update.ts
Labels: graphql

#1845 Create rfc-22-projection-subquery.md
  docs/rfcs/rfc-22-projection-subquery.md
Labels: rfc

#1892 Pass bookmarks through test
  packages/graphql/tests/integration/issues/1050.int.test.ts
Labels: fix

#1895 Fix for more flaky tests
  packages/graphql/tests/integration/issues/1221.int.test.ts
  packages/graphql/tests/integration/issues/1348.int.test.ts
  packages/graphql/tests/integration/issues/1783.int.test.ts
  packages/graphql/tests/integration/issues/594.int.test.ts
  packages/graphql/tests/integration/issues/620.int.test.ts
  packages/graphql/tests/integration/issues/630.int.test.ts
Labels: fix

#1911 Fix flaky tests from weekend test runs
  packages/graphql/tests/integration/issues/1566.int.test.ts
  packages/graphql/tests/integration/issues/escape-in-union.int.test.ts
Labels: fix

#1912 Create auth and params refactor
  packages/graphql/src/schema/resolvers/field/cypher.ts
  packages/graphql/src/translate/connection/create-connection-and-params.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/cypher-builder/Environment.ts
  packages/graphql/src/translate/cypher-builder/clauses/Clause.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-connection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/projection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/fulltext/auth.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1115.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1132.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1150.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1760.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/601.test.ts
  packages/graphql/tests/tck/tck-test-files/subscriptions/create-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql

#1919 fix: Toolbox Safari support
  .changeset/five-rings-tie.md
  packages/graphql-toolbox/playwright.config.ts
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/tests/utils/pagemodel.ts
  packages/graphql/src/graphql/scalars/Duration.test.ts
  packages/graphql/src/graphql/scalars/Duration.ts
Labels: graphql, fix

#1926 Remove apoc runFirstColumn from point projection
  .changeset/kind-cycles-sell.md
  packages/graphql/src/translate/projection/elements/create-point-element.test.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/tests/tck/tck-test-files/array-methods.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/points.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/relationship/points.test.ts
  packages/graphql/tests/tck/tck-test-files/projection.test.ts
  packages/graphql/tests/tck/tck-test-files/types/point.test.ts
  packages/graphql/tests/tck/tck-test-files/types/points.test.ts
Labels: graphql

#1930 Fixing the word authorization from British to American spelling
  docs/modules/ROOT/pages/index.adoc
Labels: documentation

#1885 feat: Toolbox logo and documentation update
  .changeset/spotty-adults-leave.md
  docs/modules/ROOT/images/toolbox-editor-view.png
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/toolbox.adoc
  packages/graphql-toolbox/README.md
  packages/graphql-toolbox/public/android-icon-192x192.png
  packages/graphql-toolbox/public/apple-icon-180x180.png
  packages/graphql-toolbox/public/favicon-16x16.png
  packages/graphql-toolbox/public/favicon-32x32.png
  packages/graphql-toolbox/public/favicon-96x96.png
  packages/graphql-toolbox/public/favicon.ico
  packages/graphql-toolbox/public/favicon.svg
  packages/graphql-toolbox/public/icon.png
  packages/graphql-toolbox/public/icon.svg
  packages/graphql-toolbox/public/manifest.json
  packages/graphql-toolbox/src/assets/neo4j-logo-color.svg
  packages/graphql-toolbox/src/assets/neo4j-white.svg
  packages/graphql-toolbox/src/index.html
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/webpack.config.js
Labels: documentation, feature

#1932 feat: Add Safari/webkit to E2E test devices
  packages/graphql-toolbox/playwright.config.ts
  packages/graphql-toolbox/tests/introspection.test.ts
  packages/graphql-toolbox/tests/introspectionprompt.test.ts
Labels: feature

#1942 cypher builder: Delete and remove
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.test.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.ts
  packages/graphql/src/translate/cypher-builder/sub-clauses/Delete.ts
  packages/graphql/src/translate/cypher-builder/sub-clauses/Remove.ts
  packages/graphql/tests/integration/unions.int.test.ts
Labels: graphql

#1940 Add unit tests on unicode for escapeLabel
  packages/graphql/src/translate/cypher-builder/utils.test.ts
Labels: graphql

#1939 Refactor size into exists
  .changeset/orange-bugs-heal.md
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
  packages/graphql/tests/tck/tck-test-files/connections/filtering/node/relationship.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1628.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1779.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/190.test.ts
Labels: graphql

#1925 feat: global authentication
  .changeset/good-gorillas-pretend.md
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/auth/global-authentication.adoc
  docs/modules/ROOT/pages/auth/index.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/src/schema/resolvers/wrapper-utils.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/e2e/subscriptions/auth/global-authentication.int.test.ts
  packages/graphql/tests/integration/directives/auth/jwks-endpoint.int.test.ts
  packages/graphql/tests/integration/rfcs/global-authentication-jwks-auth-plugin.int.test.ts
  packages/graphql/tests/integration/rfcs/global-authentication-jwt-auth-plugin.int.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWKSPlugin.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.ts
Labels: documentation, graphql, feature

#1954 Performance improvement on _SINGLE operation
  .changeset/nice-parrots-kick.md
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/functions/PredicateFunctions.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/translate/where/property-operations/create-where-property-operation.ts
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/tck/tck-test-files/advanced-filtering.test.ts
Labels: graphql

#1955 Fix label injection
  .changeset/thirty-jokes-push.md
  packages/graphql/src/classes/NodeDirective.test.ts
  packages/graphql/src/classes/NodeDirective.ts
  packages/graphql/src/translate/cypher-builder/utils/utils.test.ts
  packages/graphql/src/translate/cypher-builder/utils/utils.ts
  packages/graphql/tests/integration/issues/label-cypher-injection.test.ts
Labels: graphql, fix

#1969 Add tests on using skip with limit
  packages/graphql/src/translate/cypher-builder/sub-clauses/OrderBy.test.ts
  packages/graphql/src/translate/cypher-builder/sub-clauses/OrderBy.ts
  packages/graphql/tests/integration/sort.int.test.ts
Labels: graphql

#1971 Subquery unions
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/cypher-builder/clauses/Match.ts
  packages/graphql/src/translate/cypher-builder/clauses/Return.ts
  packages/graphql/src/translate/cypher-builder/clauses/Unwind.ts
  packages/graphql/src/translate/cypher-builder/clauses/With.ts
  packages/graphql/src/translate/cypher-builder/functions/CypherFunction.ts
  packages/graphql/src/translate/cypher-builder/operations/math.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/src/translate/projection/subquery/collect-union-subqueries-results.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/tests/integration/unions.int.test.ts
  packages/graphql/tests/performance/graphql/unions.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/performance/utils/setup-database.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/tck-test-files/directives/node/node-label-union.test.ts
  packages/graphql/tests/tck/tck-test-files/fragments.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/488.test.ts
  packages/graphql/tests/tck/tck-test-files/nested-unions.test.ts
  packages/graphql/tests/tck/tck-test-files/undirected-relationships/undirected-relationships.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql

#1979 1953 auth allow rule incorrectly compared in unions
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/tests/integration/unions.int.test.ts
  packages/graphql/tests/tck/tck-test-files/union.test.ts
Labels: graphql

#1822 Database info
  .changeset/real-coins-build.md
  docs/modules/ROOT/pages/driver-configuration.adoc
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/classes/Neo4jDatabaseInfo.test.ts
  packages/graphql/src/classes/Neo4jDatabaseInfo.ts
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/classes/utils/verify-database.test.ts
  packages/graphql/src/classes/utils/verify-database.ts
  packages/graphql/src/classes/utils/verify-version.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/schema/resolvers/wrapper.test.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/translate/cypher-builder/CypherBuilder.ts
  packages/graphql/src/translate/cypher-builder/functions/CypherFunction.ts
  packages/graphql/src/translate/where/create-element-where-and-params.ts
  packages/graphql/src/translate/where/create-where-clause.test.ts
  packages/graphql/src/translate/where/create-where-clause.ts
  packages/graphql/src/translate/where/property-operations/create-comparison-operation.ts
  packages/graphql/src/translate/where/property-operations/create-point-comparison-operation.ts
  packages/graphql/src/translate/where/property-operations/create-where-property-operation.ts
  packages/graphql/src/types.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/integration/advanced-filtering.int.test.ts
  packages/graphql/tests/tck/tck-test-files/types/point.test.ts
  packages/graphql/tests/tck/utils/tck-test-utils.ts
  packages/graphql/tests/utils/builders/context-builder.ts
  packages/graphql/tests/utils/builders/driver-builder.ts
Labels: documentation, graphql

#1987 feat: Toolbox warning tooltip for HTTPS
  .changeset/chilled-bats-rest.md
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/index.html
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/doc-explorer.css
  packages/graphql-toolbox/src/modules/HelpDrawer/DocExplorerComponent.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/src/utils/utils.ts
  packages/graphql-toolbox/webpack.config.js
Labels: fix, feature

#1986 fix: Sum aggregate on where unexpected behaviour
  .changeset/brave-books-vanish.md
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/tests/integration/issues/1933.int.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/float.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/edge/int.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/bigint.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/float.test.ts
  packages/graphql/tests/tck/tck-test-files/aggregations/where/node/int.test.ts
  packages/graphql/tests/tck/tck-test-files/issues/1933.test.ts
Labels: graphql, fix

#2002 fix: Remove "Math.floor(Math.random() * Math.random())" from tests
  .changeset/silent-readers-applaud.md
  packages/graphql/tests/integration/aggregations/where/edge/int.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/int.int.test.ts
Labels: fix
