Repository neo4j/graphql, pull requests merged in 2023-07, with the labels that each got.

#3470 Documentation: Authorization
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/auth/auth-directive.adoc
  docs/modules/ROOT/pages/auth/authentication.adoc
  docs/modules/ROOT/pages/auth/authorization/allow.adoc
  docs/modules/ROOT/pages/auth/authorization/bind.adoc
  docs/modules/ROOT/pages/auth/authorization/index.adoc
  docs/modules/ROOT/pages/auth/authorization/roles.adoc
  docs/modules/ROOT/pages/auth/authorization/where.adoc
  docs/modules/ROOT/pages/auth/global-authentication.adoc
  docs/modules/ROOT/pages/auth/index.adoc
  docs/modules/ROOT/pages/auth/setup.adoc
  docs/modules/ROOT/pages/auth/subscriptions.adoc
  docs/modules/ROOT/pages/authentication-and-authorization/authentication.adoc
  docs/modules/ROOT/pages/authentication-and-authorization/authorization.adoc
  docs/modules/ROOT/pages/authentication-and-authorization/configuration.adoc
  docs/modules/ROOT/pages/authentication-and-authorization/reference/operations.adoc
  docs/modules/ROOT/pages/custom-resolvers.adoc
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/driver-configuration.adoc
  docs/modules/ROOT/pages/filtering.adoc
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/guides/migration-guide/index.adoc
  docs/modules/ROOT/pages/guides/migration-guide/mutations.adoc
  docs/modules/ROOT/pages/guides/migration-guide/queries.adoc
  docs/modules/ROOT/pages/guides/migration-guide/type-definitions.adoc
  docs/modules/ROOT/pages/guides/v2-migration/index.adoc
  docs/modules/ROOT/pages/guides/v2-migration/mutations.adoc
  docs/modules/ROOT/pages/guides/v2-migration/unions.adoc
  docs/modules/ROOT/pages/guides/v4-migration/authorization.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/introduction.adoc
  docs/modules/ROOT/pages/mathematical-operators.adoc
  docs/modules/ROOT/pages/mutations/create.adoc
  docs/modules/ROOT/pages/mutations/delete.adoc
  docs/modules/ROOT/pages/mutations/index.adoc
  docs/modules/ROOT/pages/mutations/update.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/create.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/delete.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/find.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/update.adoc
  docs/modules/ROOT/pages/ogm/examples/custom-resolvers.adoc
  docs/modules/ROOT/pages/queries.adoc
  docs/modules/ROOT/pages/sorting.adoc
  docs/modules/ROOT/pages/subscriptions/events/create.adoc
  docs/modules/ROOT/pages/subscriptions/events/create_relationship.adoc
  docs/modules/ROOT/pages/subscriptions/events/delete.adoc
  docs/modules/ROOT/pages/subscriptions/events/delete_relationship.adoc
  docs/modules/ROOT/pages/subscriptions/events/update.adoc
  docs/modules/ROOT/pages/subscriptions/filtering.adoc
  docs/modules/ROOT/pages/subscriptions/index.adoc
  docs/modules/ROOT/pages/type-definitions/autogeneration.adoc
  docs/modules/ROOT/pages/type-definitions/cypher.adoc
  docs/modules/ROOT/pages/type-definitions/interfaces.adoc
  docs/modules/ROOT/pages/type-definitions/relationships.adoc
  docs/modules/ROOT/pages/type-definitions/schema-configuration/field-configuration.adoc
  docs/modules/ROOT/pages/type-definitions/types.adoc
Labels: documentation

#3601 Ignore `@authentication`, `@authorization` and `subscriptionsAuthorization` directives in the OGM
  .changeset/stale-lamps-doubt.md
  packages/ogm/src/utils/filter-document.ts
  packages/ogm/tests/integration/ogm.int.test.ts
Labels: fix, ogm

#3603 Ensure that label checks are performed against parameters
  .changeset/gold-poets-push.md
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/tests/tck/deprecated/fulltext/auth.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-labels.test.ts
  packages/graphql/tests/tck/fulltext/aggregate.test.ts
  packages/graphql/tests/tck/fulltext/auth.test.ts
  packages/graphql/tests/tck/fulltext/match.test.ts
  packages/graphql/tests/tck/fulltext/node-labels.test.ts
Labels: graphql, fix

#3614 Toolbox: Remove background color style from connect button
  .changeset/khaki-dogs-turn.md
  packages/graphql-toolbox/src/modules/Login/Login.tsx
Labels: fix

#3607 bug-fix 3591
  .changeset/curvy-pumpkins-end.md
  packages/ogm/src/utils/filter-document.test.ts
  packages/ogm/src/utils/filter-document.ts
  packages/ogm/tests/issues/3591.test.ts
Labels: ogm

#3640 chore: pin semver version
  packages/graphql/package.json
  yarn.lock
Labels: feature

#3647 Fix linting issues following typescript-eslint upgrade
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/types.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/Subgraph.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/graphql/scalars/Duration.ts
  packages/graphql/src/schema/aggregations/aggregation-types-mapper.ts
  packages/graphql/src/schema/get-auth.ts
  packages/graphql/src/schema/get-custom-resolvers.ts
  packages/graphql/src/schema/get-cypher-meta.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/pagination.ts
  packages/graphql/src/schema/resolvers/mutation/create.ts
  packages/graphql/src/schema/resolvers/mutation/update.ts
  packages/graphql/src/schema/resolvers/subscriptions/filter-async-iterator.ts
  packages/graphql/src/schema/resolvers/subscriptions/types.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/types/index.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
  packages/graphql/src/utils/is-in-array.ts
  packages/graphql/tests/integration/array-methods/array-pop.int.test.ts
  packages/graphql/tests/integration/array-methods/array-push.int.test.ts
  packages/graphql/tests/integration/deprecated/global-authentication-jwt-auth-plugin.int.test.ts
  packages/graphql/tests/integration/rfcs/global-authentication-jwt-auth-plugin.int.test.ts
  packages/graphql/tests/integration/types/duration.int.test.ts
  packages/graphql/tests/performance/server/servers/benzene.js
  packages/graphql/tests/performance/server/servers/mercurius.js
  packages/graphql/tests/performance/server/servers/yoga.js
  packages/graphql/tests/utils/get-query-source.ts
  packages/ogm/src/generate.ts
  packages/ogm/src/utils/filter-document.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.test.ts
Labels: graphql, ogm

#3655 Remove `sessionConfig` from constructor
  docs/modules/ROOT/pages/driver-configuration.adoc
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/guides/v4-migration/ogm.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/tests/e2e/deprecated/delete-relationship-via-delete-additional-labels.e2e.test.ts
  packages/graphql/tests/e2e/mutations/create.e2e.test.ts
  packages/graphql/tests/e2e/neo4jgraphql/neo4j-database-info.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/global-authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/roles.int.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/authentication-roles.int.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/delete-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/global-authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-additional-labels.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-with-relationships.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship-same-type.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/single-instance-plugin.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/ogm/src/classes/Model.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/tests/integration/ogm.int.test.ts
Labels: documentation, graphql, ogm

#3680 Fix broken links to Cypher manual
  docs/modules/ROOT/pages/type-definitions/types.adoc
Labels: documentation

#3686 Updated documentation for context field
  docs/modules/ROOT/pages/ogm/api-reference/model/create.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/delete.adoc
  docs/modules/ROOT/pages/ogm/api-reference/model/update.adoc
Labels: documentation

#3705 Update configuration.adoc
  docs/modules/ROOT/pages/authentication-and-authorization/configuration.adoc
Labels: documentation
