Repository neo4j/graphql, pull requests merged in 2023-06, with the labels that each got.

#3403 Selectable directive
  .changeset/violet-mugs-hammer.md
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/selectable.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.test.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-update-and-params.test.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/schema/directives/selectable.test.ts
  packages/graphql/tests/utils/builders/relation-field-builder.ts
Labels: graphql

#3404 Settable directive
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/settable.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/resolvers/subscriptions/where.test.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-update-and-params.test.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/schema/directives/settable.test.ts
  packages/graphql/tests/utils/builders/relation-field-builder.ts
Labels: graphql

#3398 Adjust type validation for jwt wildcards
  packages/graphql/src/graphql/directives/type-dependant-directives/jwt-payload.ts
  packages/graphql/src/schema/validation/custom-rules/replace-wildcard-value.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/src/schema/validation/schema-validation.ts
Labels: graphql

#3397 Refactor: Subscriptions filtering
  packages/graphql/src/schema/resolvers/subscriptions/subscribe.ts
  packages/graphql/src/schema/resolvers/subscriptions/types.ts
  packages/graphql/src/schema/resolvers/subscriptions/utils/compare-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/filters/filter-by-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/filters/filter-by-relationship-properties.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/filters/filter-by-values.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/utils/get-filtering-fn.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/utils/multiple-conditions-aggregation-map.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/utils/parse-filter-property.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/utils/type-checks.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/where.test.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/where.ts
Labels: graphql

#3430 Broken link fix
  docs/modules/ROOT/pages/type-definitions/types.adoc
Labels: documentation, bug report

#3402 Add boolean operators for filtering Subscriptions relationship events
  .changeset/green-bottles-worry.md
  packages/graphql/src/schema/resolvers/subscriptions/where/filters/filter-by-relationship-properties.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship.e2e.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql, feature

#3412 feat: Toolbox - top bar updates
  .changeset/odd-poems-wink.md
  packages/graphql-toolbox/src/assets/neo4j-logo-color.svg
  packages/graphql-toolbox/src/assets/neo4j-logo-white.svg
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/contexts/utils.ts
  packages/graphql-toolbox/src/modules/TopBar/ConnectionMenu.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
  packages/graphql-toolbox/src/types.ts
  packages/graphql-toolbox/tests/login.test.ts
  packages/graphql-toolbox/tests/pages/TopBar.ts
  packages/graphql-toolbox/tests/urlqueryparameters.test.ts
Labels: feature

#3438 Fix `nestedOperations` controls top level operation & generates empty input types
  .changeset/healthy-peaches-exercise.md
  .changeset/spotty-eyes-repair.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/tests/integration/directives/relationship/nestedOperations.int.test.ts
  packages/graphql/tests/schema/relationship-nested-operations.test.ts
Labels: graphql, fix

#3445 Fix removing connect or create nested op causes error
  .changeset/tidy-lions-try.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/tests/integration/directives/relationship/nestedOperations.int.test.ts
  packages/graphql/tests/integration/issues/3428.int.test.ts
  packages/graphql/tests/schema/issues/3428.test.ts
Labels: graphql, fix

#3410 feat: Toolbox - use NDL components
  .changeset/dry-dodos-listen.md
  packages/graphql-toolbox/src/modules/SchemaView/IntrospectionPrompt.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/src/modules/TopBar/TopBar.tsx
Labels: feature

#3447 feat: Toolbox - tooltip larger area
  .changeset/happy-pets-tease.md
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
Labels: feature

#3449 Update cypher builder to 0.5.1
  packages/graphql/package.json
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-auth-predicates.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/field-aggregations/aggregation-sub-queries.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.test.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.ts
  packages/graphql/src/translate/projection/elements/create-point-element.test.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-resolve-reference.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/unwind-create.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/utils/compile-cypher.ts
  packages/graphql/tests/tck/aggregations/where/edge/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/node/duration.test.ts
  packages/graphql/tests/tck/types/duration.test.ts
  yarn.lock
Labels: graphql

#3462 feat: Toolbox - login window styling and layout
  .changeset/tasty-rivers-boil.md
  packages/graphql-toolbox/src/assets/graphic-bottom-left.svg
  packages/graphql-toolbox/src/assets/graphic-top-right.svg
  packages/graphql-toolbox/src/assets/neo4j-color.svg
  packages/graphql-toolbox/src/assets/neo4j-full-color.png
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/EditorTabs.tsx
  packages/graphql-toolbox/src/modules/Login/FormInput.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
  packages/graphql-toolbox/tailwind.config.js
Labels: feature

#3454 Perform schema composition at the end of the lifecycle
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: graphql

#3464 feat: Toolbox - Replace view switcher with tabs
  .changeset/great-experts-visit.md
  packages/graphql-toolbox/src/components/CustomSelect.tsx
  packages/graphql-toolbox/src/components/Filename.tsx
  packages/graphql-toolbox/src/components/ViewSelector.tsx
  packages/graphql-toolbox/src/components/ViewSelectorComponent.tsx
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/EditorTabs.tsx
  packages/graphql-toolbox/src/modules/EditorView/GraphQLQueryEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/grid/Grid.tsx
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/src/modules/SchemaView/ActionElementsBar.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/tailwind.config.js
Labels: feature

#3465 Fix nested operations with related unions and interfaces
  .changeset/loud-queens-remain.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-interface-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-union-fields.ts
  packages/graphql/tests/integration/directives/relationship/nestedOperations.int.test.ts
  packages/graphql/tests/integration/issues/3428.int.test.ts
  packages/graphql/tests/schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/issues/3428.test.ts
Labels: graphql, fix

#3469 docs: add missing import statement to introspector getting started page
  docs/modules/ROOT/pages/introspector.adoc
Labels: documentation

#3471 Fix @selectable and @settable with unions and interfaces
  packages/graphql/src/schema/create-relationship-fields/create-relationship-interface-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-union-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/schema/directives/selectable.test.ts
  packages/graphql/tests/schema/directives/settable.test.ts
Labels: graphql, fix

#3482 Export type for the context values we accept
  .changeset/hip-moles-smoke.md
  packages/graphql/src/index.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types/neo4j-graphql-context.ts
Labels: graphql

#3480 feat: Toolbox - editor height and scroll
  .changeset/famous-eagles-remember.md
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/EditorView.tsx
  packages/graphql-toolbox/src/modules/EditorView/QueryEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/ResponseEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/VariablesEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/grid/Grid.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
Labels: feature

#3481 feat: Toolbox - address editor issues
  .changeset/friendly-toes-bathe.md
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/QueryEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/ResponseEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/VariablesEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
Labels: feature

#3498 feat: Toolbox - clean-up after code mirror v6 integration
  .changeset/odd-plums-jump.md
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/EditorView.tsx
  packages/graphql-toolbox/src/modules/EditorView/grid/Grid.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/DocExplorerComponent.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/Keybindings.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/Resources.tsx
  packages/graphql-toolbox/src/modules/Login/Login.tsx
Labels: feature

#3349 Schema Configuration documentation
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/directives.adoc
  docs/modules/ROOT/pages/guides/migration-guide/server.adoc
  docs/modules/ROOT/pages/guides/migration-guide/type-definitions.adoc
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/introduction.adoc
  docs/modules/ROOT/pages/type-definitions/access-control.adoc
  docs/modules/ROOT/pages/type-definitions/index.adoc
  docs/modules/ROOT/pages/type-definitions/schema-configuration/field-configuration.adoc
  docs/modules/ROOT/pages/type-definitions/schema-configuration/global-configuration.adoc
  docs/modules/ROOT/pages/type-definitions/schema-configuration/index.adoc
  docs/modules/ROOT/pages/type-definitions/schema-configuration/type-configuration.adoc
Labels: documentation

#3504 fix: Toolbox - right-hand sider and font-family for components
  .changeset/strange-clocks-kneel.md
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/AppSettings/AppSettings.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/HelpDrawer.tsx
Labels: fix

#3517 Refactor relationship schema generation code
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-interface-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-union-fields.ts
Labels: graphql

#3518 feat: Toolbox - additional product tracking events
  .changeset/hungry-carpets-press.md
  packages/graphql-toolbox/src/analytics/tracking-types.ts
  packages/graphql-toolbox/src/analytics/tracking.ts
  packages/graphql-toolbox/src/contexts/auth.tsx
  packages/graphql-toolbox/src/modules/EditorView/EditorTabs.tsx
  packages/graphql-toolbox/src/modules/SchemaView/Favorites/Favorites.tsx
  packages/graphql-toolbox/src/store/session.ts
  packages/graphql-toolbox/src/utils/utils.test.ts
  packages/graphql-toolbox/src/utils/utils.ts
Labels: feature

#3520 feat: Toolbox - major version bump
  .changeset/hip-fireants-kiss.md
  packages/graphql-toolbox/README.md
Labels: feature

#3526 Nightly build fix
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
Labels: fix

#3542 Fix `@key` and other directives on same type
  .changeset/afraid-lamps-push.md
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/tests/schema/issues/3541.test.ts
Labels: graphql, fix

#3117 add assertIndexesAndConstraints on OGM
  .changeset/popular-trains-exercise.md
  docs/modules/ROOT/pages/ogm/api-reference/ogm.adoc
  packages/ogm/src/classes/OGM.test.ts
  packages/ogm/src/classes/OGM.ts
  packages/ogm/tests/integration/ogm.int.test.ts
Labels: documentation, ogm

#3509 Introduce the Schema Configuration directive @filterable
  .changeset/beige-geese-taste.md
  packages/graphql/src/graphql/directives/filterable.ts
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-aggregation-input-fields.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/where.test.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-update-and-params.test.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-element.test.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/schema/directives/filterable.test.ts
  packages/graphql/tests/utils/builders/relation-field-builder.ts
Labels: graphql

#3538 Fix federation extending schema with `neo4j/graphql` directives
  .changeset/rotten-horses-hope.md
  packages/graphql/src/classes/Subgraph.ts
  packages/graphql/tests/schema/issues/3537.test.ts
Labels: graphql, fix

#3556 Preserve library casing in OGM
  .changeset/quick-items-laugh.md
  packages/ogm/src/generate.test.ts
  packages/ogm/src/generate.ts
Labels: fix, ogm
