Repository neo4j/graphql, pull requests merged in 2023-05, with the labels that each got.

#3264 Remove federationResolvable
  .changeset/fluffy-pillows-flow.md
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/schema/augment/fulltext.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/e2e/federation/entities-basics.e2e.test.ts
  packages/graphql/tests/schema/federation.test.ts
  packages/graphql/tests/utils/builders/node-builder.ts
Labels: graphql

#3268 Translation perf
  docs/contributing/DEVELOPING.md
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-additional-labels.e2e.test.ts
  packages/graphql/tests/performance/databaseQuery/TestRunner.ts
  packages/graphql/tests/performance/databaseQuery/cypher/aggregation.cypher
  packages/graphql/tests/performance/databaseQuery/cypher/basic.cypher
  packages/graphql/tests/performance/databaseQuery/cypher/issues/2925.cypher
  packages/graphql/tests/performance/databaseQuery/cypher/query.cypher
  packages/graphql/tests/performance/databaseQuery/neo4j.ts
  packages/graphql/tests/performance/databaseQuery/setup-database.ts
  packages/graphql/tests/performance/graphql/batch-create/batch-create.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/performance/schema/schema-performance.ts
  packages/graphql/tests/performance/schema/subgraph-schema-performance.ts
  packages/graphql/tests/performance/translation/graphql/high-complexity.graphql
  packages/graphql/tests/performance/translation/translation-performance.ts
  packages/graphql/tests/performance/translation/utils/translate-query.ts
  packages/graphql/tests/performance/typedefs.ts
  packages/graphql/tests/performance/utils/formatters/TTYFormatter.ts
  packages/graphql/tests/performance/utils/formatters/color-tty-text.ts
Labels: graphql

#3277 Fix custom directive input args error
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/make-augmented-schema.ts
Labels: graphql, fix

#3296 feat: Toolbox, update schema options and constraint sidebar
  .changeset/quiet-parents-cough.md
  packages/graphql-toolbox/src/modules/SchemaView/Favorites.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaSettings.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql-toolbox/tailwind.config.js
Labels: feature

#3301 fix: Toolbox, show lint mark in editors
  .changeset/metal-crews-rule.md
  packages/graphql-toolbox/src/index.css
Labels: fix

#3278 Add DirectiveArgumentOfCorrectType rule
  packages/graphql/src/schema/validation/custom-rules/directive-argument-of-correct-type.test.ts
  packages/graphql/src/schema/validation/custom-rules/directive-argument-of-correct-type.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/src/schema/validation/schema-validation.ts
  packages/graphql/src/schema/validation/validate-sdl.ts
Labels: graphql

#3309 Optimize getNeo4jResolveTree for big schema
  .changeset/sixty-gifts-crash.md
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
Labels: graphql, fix

#3284 Omit __resolveReference when resolvable argument is false in the @key directive
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/Subgraph.ts
  packages/graphql/src/schema-model/Neo4jGraphQLSchemaModel.ts
  packages/graphql/src/schema-model/annotation/Annotation.ts
  packages/graphql/src/schema-model/annotation/KeyAnnotation.test.ts
  packages/graphql/src/schema-model/annotation/KeyAnnotation.ts
  packages/graphql/src/schema-model/attribute/Attribute.ts
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/parser/key-annotation.test.ts
  packages/graphql/src/schema-model/parser/key-annotation.ts
Labels: graphql

#3305 Authorization JWTPayload filters
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/jwt-claim.ts
  packages/graphql/src/graphql/directives/jwt-payload.ts
  packages/graphql/src/graphql/directives/type-dependant-directives/authorization.ts
  packages/graphql/src/graphql/directives/type-dependant-directives/jwt-payload.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-schema-to-augment.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/src/schema/validation/schema-validation.ts
Labels: graphql, feature

#3322 Optimise query source metadata in executor
  .changeset/curvy-boxes-cry.md
  packages/graphql/src/classes/Executor.ts
Labels: graphql

#3333 Introduce top-level schema configuration directives
  .changeset/bright-ants-sort.md
  packages/graphql/src/classes/MutationDirective.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/QueryDirective.ts
  packages/graphql/src/classes/SubscriptionDirective.ts
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/mutation.ts
  packages/graphql/src/graphql/directives/query.ts
  packages/graphql/src/graphql/directives/subscription.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse-mutation-directive.test.ts
  packages/graphql/src/schema/parse-mutation-directive.ts
  packages/graphql/src/schema/parse-query-directive.test.ts
  packages/graphql/src/schema/parse-query-directive.ts
  packages/graphql/src/schema/parse-subscription-directive.test.ts
  packages/graphql/src/schema/parse-subscription-directive.ts
  packages/graphql/src/schema/schema-configuration.test.ts
  packages/graphql/src/schema/schema-configuration.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/utils/get-argument-values.ts
  packages/graphql/tests/schema/directives/mutation.test.ts
  packages/graphql/tests/schema/directives/query.test.ts
  packages/graphql/tests/schema/directives/subscription.test.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, ogm

#3341 feat: method to validate the type definitions
  .changeset/dull-carrots-worry.md
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  packages/graphql/src/classes/Neo4jGraphQL.test.ts
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: documentation, graphql, feature

#3344 Fix relationship validation for update Mutations with multiple operations
  .changeset/cool-cooks-rhyme.md
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/3251.int.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/issues/3251.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
Labels: graphql, fix

#3370 Exports toCypherParams utility function
  .changeset/gentle-deers-cheat.md
  packages/cypher-builder/src/clauses/Clause.ts
  packages/cypher-builder/src/clauses/RawCypher.ts
  packages/cypher-builder/src/utils/to-cypher-params.ts
  packages/cypher-builder/src/utils/utils.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
Labels: graphql

#3388 fix: broken GHA with neo4j 5.X
  .github/workflows/performance-tests.yml
  .github/workflows/reusable-api-library-tests.yml
  .github/workflows/reusable-integration-tests-on-prem.yml
  .github/workflows/reusable-subscriptions-plugin-amqp-e2e-test.yml
  .github/workflows/reusable-toolbox-tests.yml
Labels: fix

#3390 feat: Toolbox - refactor query editor grid
  .changeset/gorgeous-ravens-hunt.md
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/GraphQLQueryEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/JSONEditor.tsx
  packages/graphql-toolbox/src/modules/EditorView/grid/Grid.tsx
  packages/graphql-toolbox/src/modules/EditorView/grid/grid.css
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/src/store/index.ts
  packages/graphql-toolbox/src/types.ts
  packages/graphql-toolbox/src/utils/utils.ts
  yarn.lock
Labels: feature

#3396 3394 ordering not taking alias into account
  .changeset/fuzzy-fishes-hear.md
  packages/graphql/src/classes/GraphElement.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/3394.int.test.ts
  packages/graphql/tests/tck/issues/3394.test.ts
Labels: graphql
