Repository neo4j/graphql, pull requests merged in 2023-03, with the labels that each got.

#2968 feat: license information at the root of this project
  LICENSE.txt
  package.json
Labels: feature

#2967 fix array push flakiness
  packages/graphql/tests/integration/array-methods/array-push.int.test.ts
Labels: fix

#2743 fix: remove dependency of bindPredicate property from auth plugin into context
  .changeset/witty-chairs-happen.md
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/types.ts
Labels: graphql, fix

#2730 RFC: Generic Operators
  docs/rfcs/rfc-035-generic-operators.md
Labels: rfc

#2983 Fix count aggregate field in inline fragments
  .changeset/chilled-zebras-vanish.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/2982.int.test.ts
Labels: graphql, fix

#2972 Improve docs instructions on @node labels and constraints
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/type-definitions/database-mapping.adoc
  docs/modules/ROOT/pages/type-definitions/indexes-and-constraints.adoc
Labels: documentation

#2994 Fix order of operations for nested update
  .changeset/tame-zoos-turn.md
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
Labels: graphql, fix

#2870 Some fixes to autogenerated docs
  packages/cypher-builder/src/CypherASTNode.ts
  packages/cypher-builder/src/apoc/functions/RunFirstColumn.ts
  packages/cypher-builder/src/apoc/functions/ValidatePredicate.ts
  packages/cypher-builder/src/apoc/procedures/Validate.ts
  packages/cypher-builder/src/clauses/Call.ts
  packages/cypher-builder/src/clauses/CallProcedure.ts
  packages/cypher-builder/src/clauses/Create.ts
  packages/cypher-builder/src/clauses/Foreach.ts
  packages/cypher-builder/src/clauses/Match.ts
  packages/cypher-builder/src/clauses/Merge.ts
  packages/cypher-builder/src/clauses/Return.ts
  packages/cypher-builder/src/clauses/Union.ts
  packages/cypher-builder/src/clauses/Unwind.ts
  packages/cypher-builder/src/clauses/With.ts
  packages/cypher-builder/src/clauses/sub-clauses/Delete.ts
  packages/cypher-builder/src/clauses/sub-clauses/ImportWith.ts
  packages/cypher-builder/src/clauses/sub-clauses/OnCreate.ts
  packages/cypher-builder/src/clauses/sub-clauses/OrderBy.ts
  packages/cypher-builder/src/clauses/sub-clauses/Projection.ts
  packages/cypher-builder/src/clauses/sub-clauses/Remove.ts
  packages/cypher-builder/src/clauses/sub-clauses/Set.ts
  packages/cypher-builder/src/clauses/sub-clauses/Where.ts
  packages/cypher-builder/src/clauses/utils/concat.ts
  packages/cypher-builder/src/expressions/Case.ts
  packages/cypher-builder/src/expressions/Exists.ts
  packages/cypher-builder/src/expressions/HasLabel.ts
  packages/cypher-builder/src/expressions/functions/CypherFunctions.ts
  packages/cypher-builder/src/expressions/list/ListExpr.ts
  packages/cypher-builder/src/expressions/list/ListIndex.ts
  packages/cypher-builder/src/expressions/map/MapExpr.ts
  packages/cypher-builder/src/expressions/map/MapProjection.ts
  packages/cypher-builder/src/references/Literal.ts
  packages/cypher-builder/src/references/Param.ts
  packages/cypher-builder/src/references/PropertyRef.ts
  packages/cypher-builder/src/references/Reference.ts
  packages/cypher-builder/typedoc.json
Labels: fix

#2970 RFC: Authorization
  docs/rfcs/rfc-035-authorization.md
Labels: rfc

#3003 Update Next guide to point to Next.js example
  .github/workflows/dev.yml
  .github/workflows/pull-requests.yml
  .github/workflows/reusable-nextjs-app-setup.yml
  docs/modules/ROOT/examples/code-partials/nextjs/add-dependencies.sh
  docs/modules/ROOT/examples/code-partials/nextjs/create-app.sh
  docs/modules/ROOT/examples/code-partials/nextjs/env.example
  docs/modules/ROOT/examples/code-partials/nextjs/graphql.js
  docs/modules/ROOT/pages/guides/frameworks/nextjs.adoc
Labels: documentation

#2430 Refactor delete translation file
  packages/cypher-builder/src/Cypher.ts
  packages/cypher-builder/src/clauses/With.test.ts
  packages/cypher-builder/src/clauses/With.ts
  packages/cypher-builder/src/references/RelationshipRef.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/interface-relationships/interface-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/delete/delete.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/delete.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1751.test.ts
  packages/graphql/tests/tck/operations/delete.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/subscriptions/delete.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql

#2687 RFC: Relay first GraphQL API
  docs/rfcs/rfc-040-relay-first-api.md
Labels: rfc

#3008 Add support for DISTINCT in aggregation functions in Cypher Builder
  .changeset/yellow-terms-chew.md
  packages/cypher-builder/src/Cypher.ts
  packages/cypher-builder/src/expressions/functions/AggregationFunctions.test.ts
  packages/cypher-builder/src/expressions/functions/AggregationFunctions.ts
  packages/cypher-builder/src/expressions/functions/CypherFunctions.ts
  packages/cypher-builder/src/expressions/functions/ListFunctions.ts
  packages/cypher-builder/src/references/Param.test.ts
  packages/graphql/src/translate/projection/subquery/collect-union-subqueries-results.ts
Labels: graphql

#3035 Restructure of translation code ahead of auth changes
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/src/translate/connection-clause/create-edge-subquery.ts
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-auth-predicates.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/deprecated/auth/create-auth-field.ts
  packages/graphql/src/translate/deprecated/auth/create-auth-predicate.ts
  packages/graphql/src/translate/deprecated/auth/create-authenticated-predicate.ts
  packages/graphql/src/translate/deprecated/auth/create-relationship-predicate.ts
  packages/graphql/src/translate/deprecated/auth/create-roles-predicate.ts
  packages/graphql/src/translate/deprecated/auth/create-sub-predicate.ts
  packages/graphql/src/translate/deprecated/auth/types.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-read.ts
Labels: graphql, feature

#3036 Fix #2993, check if relationship properties are autogenerated
  .changeset/cyan-pets-invite.md
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/schema/issues/2993.test.ts
Labels: graphql, fix

#3029 Fix #2981, which causes union relationship fields to be represented as a List even when defined as a single element.
  .changeset/slow-spoons-joke.md
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/integration/issues/2981.int.test.ts
  packages/graphql/tests/schema/issues/2981.test.ts
Labels: graphql, fix

#3051 Include cardinality validation for abstract type during the update create
  .changeset/good-ears-punch.md
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/integration/issues/3027.int.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/3027.test.ts
Labels: graphql, fix

#3037 Removes single from filtering on 1-1 required relationships
  .changeset/thin-buses-float.md
  packages/cypher-builder/src/clauses/Match.test.ts
  packages/cypher-builder/src/clauses/utils/concat.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/tests/integration/filtering/advanced-filtering.int.test.ts
  packages/graphql/tests/integration/filtering/single-relationship.int.test.ts
  packages/graphql/tests/integration/issues/2871.int.test.ts
  packages/graphql/tests/performance/cypher/issues/2925.cypher
  packages/graphql/tests/performance/graphql/issues/2925.graphql
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/performance/utils/setup-database.ts
  packages/graphql/tests/tck/deprecated/labels-node-with-auth.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/2871.test.ts
  packages/graphql/tests/tck/issues/2925.test.ts
Labels: graphql

#3078 createAuthAndParams to return object
  packages/graphql/src/translate/create-auth-and-params.test.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/src/translate/translate-top-level-match.ts
Labels: graphql

#3077 Remove redundant arguments
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-auth-predicates.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/deprecated/auth/create-sub-predicate.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
Labels: graphql, fix

#3076 Add MATCHES features.filters settings to deprecate enableRegex
  .changeset/hot-carrots-reflect.md
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql-toolbox/src/modules/SchemaView/SchemaView.tsx
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/filtering/advanced-filtering.int.test.ts
  packages/graphql/tests/tck/advanced-filtering.test.ts
  packages/graphql/tests/tck/connections/filtering/node/string.test.ts
  packages/graphql/tests/tck/connections/filtering/relationship/string.test.ts
  packages/graphql/tests/tck/directives/coalesce.test.ts
Labels: documentation, graphql

#3085 Add features.populatedBy.callbacks to deprecate config.callbacks
  .changeset/nervous-garlics-rush.md
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  docs/modules/ROOT/pages/type-definitions/autogeneration.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/directives/populatedBy.int.test.ts
  packages/graphql/tests/integration/issues/1414.int.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-node.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-rel.test.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
Labels: documentation, graphql

#3086 fix: Toolbox, on load selection of database
  .changeset/many-carrots-leave.md
  packages/graphql-toolbox/src/contexts/utils.ts
Labels: fix

#3108 Remove cypherSortFields
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
Labels: graphql

#3106 Cypher Builder - export `Cypher.Property`
  .changeset/small-turkeys-melt.md
  packages/cypher-builder/src/Cypher.ts
  packages/cypher-builder/src/references/PropertyRef.ts
  packages/graphql/src/translate/connection-clause/create-sort-and-limit.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/deprecated/auth/create-authenticated-predicate.ts
  packages/graphql/src/translate/deprecated/auth/create-roles-predicate.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/src/translate/where/property-operations/create-comparison-operation.ts
  packages/graphql/src/translate/where/property-operations/create-global-node-operation.ts
  packages/graphql/src/translate/where/property-operations/create-point-comparison-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
Labels: graphql, feature

#3092 Schema model improvements
  packages/graphql/src/schema-model/Neo4jGraphQLSchemaModel.ts
  packages/graphql/src/schema-model/attribute/Attribute.ts
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/relationship/Relationship.ts
  packages/graphql/src/translate/utils/logical-operators.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/utils/sets-are-equal.ts
Labels: graphql

#3113 Improve fulltext tests
  .eslintrc.js
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/schema/augment/fulltext.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-index.int.test.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-query.int.test.ts
  packages/graphql/tests/schema/fulltext.test.ts
  packages/graphql/tests/utils/test-if.ts
Labels: graphql
