Repository neo4j/graphql, pull requests merged in 2023-10, with the labels that each got.

#4066 Move subscription engines to a sub-folder
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/subscription/Neo4jGraphQLSubscriptionsDefaultEngine.test.ts
  packages/graphql/src/classes/subscription/Neo4jGraphQLSubscriptionsDefaultEngine.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/e2e/subscriptions/default-mechanism.e2e.test.ts
  packages/graphql/tests/integration/subscriptions/single-instance-plugin.int.test.ts
Labels: graphql

#4067 Implement experimental flag
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/tests/schema/experimental-schema/comments.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/customResolver.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/default.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/filterable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/private.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2377.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/3439.test.ts
  packages/graphql/tests/schema/experimental-schema/math.test.ts
  packages/graphql/tests/schema/experimental-schema/subscriptions.test.ts
  packages/graphql/tests/schema/experimental-schema/union-interface-relationship.test.ts
Labels: graphql

#4084 Fix #4077
  .changeset/wise-impalas-look.md
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/AuthorizationFilters.ts
  packages/graphql/src/translate/queryAST/ast/filters/property-filters/PropertyFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/tests/integration/issues/4077.int.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
Labels: graphql

#4071 Fix variable not propagated in Cypher
  .changeset/old-zoos-build.md
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/tests/integration/issues/4056.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-fields.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-interface.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/subscriptions/create.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#4098 Fix auth filters with aggregations
  .changeset/twenty-buckets-refuse.md
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/AuthRelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/tests/tck/issues/4095.test.ts
Labels: graphql

#4108 Remove unnecessary conditional from JWT filter
  .changeset/cyan-coins-explode.md
  .changeset/wicked-weeks-repeat.md
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/JWTFilter.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/tests/integration/issues/4099.int.test.ts
Labels: graphql, fix

#4111 Fix Toolbox linting error on Enum default directive arguments
  .changeset/sixty-pets-wave.md
  packages/graphql/src/graphql/directives/arguments/scalars/ScalarOrEnum.ts
Labels: graphql, fix

#4078 Top level abstract types query filters
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/tests/integration/interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/unions-top-level.int.test.ts
  packages/graphql/tests/schema/experimental-schema/comments.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/default.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/private.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2377.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/schema/experimental-schema/math.test.ts
  packages/graphql/tests/schema/experimental-schema/union-interface-relationship.test.ts
  packages/graphql/tests/tck/interface-top-level.test.ts
  packages/graphql/tests/tck/union-top-level.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql

#4089 Implement sorting on top level abstract types query fields
  packages/graphql/src/schema/generation/sort-and-options-input.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadOperation.ts
  packages/graphql/tests/integration/interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/unions-top-level.int.test.ts
  packages/graphql/tests/schema/experimental-schema/comments.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/default.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/private.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2377.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/schema/experimental-schema/math.test.ts
  packages/graphql/tests/schema/experimental-schema/union-interface-relationship.test.ts
  packages/graphql/tests/tck/sort.test.ts
  packages/graphql/tests/tck/union-top-level.test.ts
Labels: graphql

#4119 Toolbox: Show users when a valid directive is unsupported
  .changeset/early-cats-teach.md
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
  packages/graphql-toolbox/src/modules/SchemaView/utils.ts
Labels: fix

#4106 Add support for the `@query` directive on Interface and Union types
  packages/graphql/src/constants.ts
  packages/graphql/src/graphql/directives/query.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/make-augmented-schema/user-defined-directives.ts
  packages/graphql/src/schema/validation/custom-rules/valid-types/valid-directive-combination.ts
  packages/graphql/src/schema/validation/utils/invalid-directive-combinations.ts
  packages/graphql/tests/integration/interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/unions-top-level.int.test.ts
Labels: graphql

#4107 Add support for the `@plural` directive on Union and Interface types
  packages/graphql/src/constants.ts
  packages/graphql/src/graphql/directives/plural.ts
  packages/graphql/src/schema-model/entity/model-adapters/UnionEntityAdapter.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/validation/utils/invalid-directive-combinations.ts
  packages/graphql/tests/schema/directives/plural.test.ts
Labels: graphql

#4136 Fix `@jwtClaims` not working in `@authentication` rules
  .changeset/cold-buttons-glow.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/resolvers/subscriptions/authentication/check-authentication.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/filters/filter-by-authorization-rules.ts
  packages/graphql/src/translate/authorization/utils/apply-authentication.ts
  packages/graphql/src/translate/authorization/utils/filter-by-values.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/create.e2e.test.ts
  packages/graphql/tests/integration/issues/4112.int.test.ts
Labels: graphql, fix

#4141 Fix authentication subqueries and filters #4110
  .changeset/lemon-elephants-camp.md
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/tests/integration/issues/4110.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
  packages/graphql/tests/tck/issues/4110.test.ts
  packages/graphql/tests/tck/issues/505.test.ts
  packages/graphql/tests/tck/issues/601.test.ts
  packages/graphql/tests/tck/rfcs/rfc-022.test.ts
Labels: graphql

#4143 OGM: throw errors caught in createInitializer
  .changeset/warm-trainers-repeat.md
  packages/ogm/src/classes/OGM.test.ts
  packages/ogm/src/classes/OGM.ts
Labels: fix, ogm

#4146 Fix nested aggregation filters #4115
  .changeset/giant-tools-look.md
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/tests/integration/aggregations/field-level/where/field-aggregation-where.int.test.ts
  packages/graphql/tests/integration/issues/2548.int.test.ts
  packages/graphql/tests/integration/issues/4110.int.test.ts
  packages/graphql/tests/integration/issues/4115.int.test.ts
  packages/graphql/tests/tck/issues/4115.test.ts
  packages/graphql/tests/tck/issues/4116.test.ts
Labels: graphql

#4156 Fix GraphQL Toolbox tests
  .changeset/large-bags-refuse.md
  packages/graphql-toolbox/src/modules/SchemaView/Favorites/DragHandle.tsx
  packages/graphql-toolbox/src/modules/SchemaView/Favorites/FavoriteEntry.tsx
  packages/graphql-toolbox/src/modules/SchemaView/SchemaEditor.tsx
Labels: fix

#4147 Fix #4113
  .changeset/funny-boxes-heal.md
  packages/graphql/src/translate/authorization/compatibility/compile-predicate-return.ts
  packages/graphql/src/translate/authorization/compatibility/create-authorization-after-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/tests/integration/issues/4113.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
Labels: graphql, fix

#4142 Fix #4118
  .changeset/brown-swans-cover.md
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/JWTFilter.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/where/create-parameter-where.ts
  packages/graphql/tests/integration/issues/4118.int.test.ts
  packages/graphql/tests/tck/array-methods.test.ts
  packages/graphql/tests/tck/connections/connect-or-create/connect-or-create-auth.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/1115.test.ts
  packages/graphql/tests/tck/issues/1150.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/issues/2812.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
  packages/graphql/tests/tck/issues/4118.test.ts
  packages/graphql/tests/tck/issues/601.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
  packages/graphql/tests/tck/rfcs/rfc-022.test.ts
Labels: graphql, fix

#4133 Migrate top-level connection
  .changeset/smart-apples-double.md
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/AttributeField.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeConnectionPartial.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/src/translate/queryAST/ast/pagination/Pagination.ts
  packages/graphql/src/translate/queryAST/ast/sort/CypherPropertySort.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/SortAndPaginationFactory.ts
  packages/graphql/src/translate/queryAST/factory/parsers/find-fields-by-name-in-fields-by-type-name-field.ts
  packages/graphql/src/translate/queryAST/factory/parsers/get-fields-by-type-name.ts
  packages/graphql/src/translate/queryAST/factory/parsers/parse-operation-fields.ts
  packages/graphql/src/translate/queryAST/utils/wrap-subquery-in-calls.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/directives/relayId/relayId-projection-with-database-name.int.test.ts
  packages/graphql/tests/integration/directives/relayId/relayId-projection-with-field-alias.int.test.ts
  packages/graphql/tests/integration/directives/relayId/relayId-projection.int.test.ts
  packages/graphql/tests/tck/connections/sort.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/connection-auth-filter.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection.test.ts
  packages/graphql/tests/tck/issues/2022.test.ts
  packages/graphql/tests/tck/issues/3394.test.ts
  packages/graphql/tests/tck/root-connection.test.ts
Labels: graphql

#4159 add authorization/authentication to top-level abstract types query fields
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/tests/integration/interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/unions-top-level.int.test.ts
  packages/graphql/tests/tck/interface-authorization.test.ts
  packages/graphql/tests/tck/union-authorization.test.ts
Labels: graphql

#4203 Fix Yarn workspace
  .changeset/config.json
  package.json
  yarn.lock
Labels: fix

#4202 Fix: Remove the new bug reports workflow
  .github/workflows/bug-report.yml
Labels: fix

#4208 Add regression test for issue 4196
  packages/graphql/tests/integration/issues/4196.int.test.ts
Labels: fix

#4209 Only run performance tests when tck tests have had changes
  .github/workflows/performance-tests.yml
Labels: feature

#4211 Fix filter and dynamic label
  .changeset/calm-clouds-study.md
  packages/graphql/src/translate/queryAST/ast/fields/aggregation-fields/AggregationAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/filters/ConnectionFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/aggregation/AggregationFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/tests/integration/issues/context-variable-not-always-resolved-on-cypher-queries.test.ts
  packages/graphql/tests/tck/issues/context-variable-not-always-resolved-on-cypher-queries.test.ts
Labels: graphql, fix

#4194 CDC engine
  .changeset/cuddly-rockets-laugh.md
  packages/graphql/src/classes/subscription/Neo4jGraphQLSubscriptionsCDCEngine.ts
  packages/graphql/src/classes/subscription/Neo4jGraphQLSubscriptionsDefaultEngine.ts
  packages/graphql/src/classes/subscription/cdc/cdc-api.ts
  packages/graphql/src/classes/subscription/cdc/cdc-event-parser.ts
  packages/graphql/src/classes/subscription/cdc/cdc-types.ts
  packages/graphql/src/index.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/publish-events-to-subscription-mechanism.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/e2e/setup/neo4j.ts
  packages/graphql/tests/e2e/subscriptions/authorization/authentication-roles.int.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship-same-type.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/utils/TestSubscriptionsEngine.ts
Labels: graphql

#4197 Remove Federation warning
  .changeset/sharp-pugs-doubt.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: graphql, fix

#4212 Add dynamic label fix for union/interface type
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/tests/tck/issues/context-variable-not-always-resolved-on-cypher-queries.test.ts
Labels: graphql

#4218 Fix missing custom cypher on unions
  .changeset/three-parrots-exist.md
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/tests/tck/issues/missing-custom-cypher-on-unions.test.ts
Labels: graphql

#4195 Fix authorization subquery variable name clash
  .changeset/fluffy-rice-rest.md
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/tests/integration/issues/4118.int.test.ts
  packages/graphql/tests/integration/issues/4170.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/4170.test.ts
Labels: graphql, fix

#4213 Reuse new implementation when is possible for filtering
  packages/graphql/src/translate/authorization/where/create-authorization-jwt-payload-predicate.ts
  packages/graphql/src/translate/authorization/where/create-authorization-where-predicate.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/AuthorizationFilters.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/where/create-where-and-params.test.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/utils/get-entity-adapter-from-node.ts
  packages/graphql/src/utils/join-predicates.test.ts
  packages/graphql/src/utils/join-predicates.ts
  packages/graphql/tests/utils/builders/schema-model-builder.ts
Labels: graphql

#4171 support limit directive on interface
  packages/graphql/src/constants.ts
  packages/graphql/src/graphql/directives/limit.ts
  packages/graphql/src/schema/validation/utils/invalid-directive-combinations.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/tests/integration/experimental/interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/experimental/unions-top-level.int.test.ts
  packages/graphql/tests/tck/experimental/interface-authorization.test.ts
  packages/graphql/tests/tck/experimental/interface-pagination.test.ts
  packages/graphql/tests/tck/experimental/interface-top-level.test.ts
  packages/graphql/tests/tck/experimental/union-authorization.test.ts
  packages/graphql/tests/tck/experimental/union-top-level.test.ts
  packages/graphql/tests/tck/sort.test.ts
Labels: graphql

#4219 Implement Interface field directives validation rule
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/validation/custom-rules/directives/valid-directive-field-location.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/src/schema/validation/validate-duplicate-relationship-fields.test.ts
  packages/graphql/tests/integration/experimental/interfaces-top-level.int.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/default.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/tck/experimental/interface-authorization.test.ts
  packages/graphql/tests/tck/experimental/interface-pagination.test.ts
  packages/graphql/tests/tck/experimental/interface-top-level.test.ts
Labels: graphql
