Repository neo4j/graphql, pull requests merged in 2023-09, with the labels that each got.

#3880 Fix non-relative import in the OGM
  .changeset/funny-items-drive.md
  packages/ogm/src/classes/Model.ts
Labels: fix, ogm

#3882 Feature: pass through transaction metadata
  .changeset/yellow-humans-notice.md
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/schema/resolvers/composition/wrap-query-and-mutation.ts
  packages/graphql/src/types/neo4j-graphql-context.ts
Labels: graphql, feature

#3893 Add generic types to parseArguments
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/parser/annotations-parser/custom-resolver-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/filterable-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/full-text-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/jwt-claim-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/limit-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/plural-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/populated-by-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/query-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/selectable-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/settable-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/subscription-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/timestamp-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/unique-annotation.ts
  packages/graphql/src/schema-model/parser/parse-arguments.ts
  packages/graphql/src/schema-model/parser/parse-attribute.ts
  packages/graphql/src/schema/parse-mutation-directive.ts
  packages/graphql/src/schema/parse-query-directive.ts
  packages/graphql/src/schema/parse-subscription-directive.ts
Labels: graphql

#3910 Ensure default values which are falsy are not excluded
  packages/graphql/src/schema-model/parser/annotations-parser/default-annotation.ts
Labels: graphql

#3911 Add relayId annotation to schema model
  packages/graphql/src/schema-model/annotation/Annotation.ts
  packages/graphql/src/schema-model/annotation/RelayIDAnnotation.ts
Labels: graphql

#3916 Replace authorization annotation validation with document validation and directive definition
  packages/graphql/src/graphql/directives/type-dependant-directives/subscriptions-authorization.ts
  packages/graphql/src/schema-model/parser/annotations-parser/authorization-annotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/subscriptions-authorization-annotation.ts
  packages/graphql/src/schema/validation/custom-rules/directives/authorization.ts
  packages/graphql/src/schema/validation/custom-rules/directives/valid-directive.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
Labels: graphql

#3922 Add RelayIDAnnotation to parse-annotation
  packages/graphql/src/schema-model/parser/parse-annotation.ts
Labels: graphql

#3917 Only warn about missing `features.authorization` once
  .changeset/spotty-deers-grin.md
  packages/graphql/src/schema/validation/custom-rules/warnings/authorization-feature-disabled.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql, fix

#3935 Schema Model: add reference of compositeEntities implemented by the ConcreteEntity
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/schema-model/generate-model.test.ts
  packages/graphql/src/schema-model/generate-model.ts
Labels: graphql

#3926 Update to schema model
  packages/graphql/src/schema-model/argument/Argument.ts
  packages/graphql/src/schema-model/argument/model-adapters/ArgumentAdapter.ts
  packages/graphql/src/schema-model/attribute/Attribute.ts
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/entity/InterfaceEntity.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema-model/generate-model.test.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/parser/parse-attribute.ts
  packages/graphql/src/schema-model/relationship/Relationship.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.test.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql

#3946 Do not default description to empty string
  packages/graphql/src/schema-model/attribute/Attribute.ts
  packages/graphql/src/schema-model/entity/ConcreteEntity.ts
  packages/graphql/src/schema-model/parser/parse-attribute.ts
Labels: graphql

#3937 Switch lists of lists validation to be a warning
  .changeset/tasty-grapes-refuse.md
  packages/graphql/src/schema/validation/custom-rules/valid-types/valid-field-types.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/list-of-lists.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql, fix

#3973 Changes in schema model for new translation layer
  .eslintrc.js
  packages/graphql/src/schema-model/annotation/CustomResolverAnnotation.ts
  packages/graphql/src/schema-model/attribute/AttributeType.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityAdapter.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/parser/annotations-parser/custom-resolver-annotation.ts
  packages/graphql/src/schema-model/parser/definition-collection.ts
  packages/graphql/src/schema-model/parser/parse-attribute.ts
  packages/graphql/src/schema/get-custom-resolver-meta.ts
Labels: graphql

#3949 For nested create operations, perform authorization checks after connection
  .changeset/heavy-bananas-accept.md
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.test.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/utils/get-authorization-statements.ts
  packages/graphql/tests/integration/issues/3901.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/create-authorization.int.test.ts
  packages/graphql/tests/tck/connections/relationship_properties/connect.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/is-authenticated/interface-relationships/implementation-is-authenticated.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/issues/3251.test.ts
  packages/graphql/tests/tck/issues/3888.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-fields.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-interface.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
  packages/graphql/tests/tck/operations/create.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/subscriptions/create-auth.test.ts
  packages/graphql/tests/tck/subscriptions/create.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#3979 Bump Toolbox version to match current max
  packages/graphql-toolbox/package.json
Labels: fix

#3981 Add missing git config to changesets workflow
  .github/workflows/changesets.yml
Labels: fix

#3993 Ensure we can have lowercase type names
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.ts
  packages/graphql/tests/schema/lowercase-type-names.test.ts
Labels: graphql

#3992 Fix translation of authorization for delete operations
  .changeset/fuzzy-lizards-mix.md
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/tests/integration/issues/3929.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/3929.test.ts
Labels: graphql, fix

#3983 Tactical fix for #3932
  .changeset/witty-dolls-remain.md
  packages/graphql/src/schema/validation/custom-rules/utils/same-type-argument-as-field.ts
  packages/graphql/src/schema/validation/custom-rules/utils/utils.ts
  packages/graphql/tests/integration/issues/3932.int.test.ts
Labels: graphql, fix

#4002 Remove list of lists validation in schema model
  .changeset/short-pears-refuse.md
  packages/graphql/src/schema-model/attribute/AttributeType.ts
  packages/graphql/tests/schema/issues/3905.test.ts
  packages/graphql/tests/tck/issues/3905.test.ts
Labels: graphql, fix

#4003 parse to UnknownType in case of user defined types
  .changeset/rotten-dolls-clean.md
  packages/graphql/src/schema-model/attribute/AttributeType.ts
  packages/graphql/src/schema-model/parser/parse-attribute.ts
  packages/graphql/tests/tck/issues/4001.test.ts
Labels: graphql, fix
