Repository neo4j/graphql, pull requests merged in 2023-01, with the labels that each got.

#2664 fix broken schema generation when point type with subscriptions
  .changeset/three-mangos-carry.md
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/tests/integration/subscriptions/spatial-types.int.test.ts
Labels: graphql, fix

#2674 Fix db field aggregations filter
  .changeset/angry-lizards-mate.md
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/tests/integration/aggregations/where/edge/string.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/string.int.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/bigint.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/datetime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/float.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/id.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/int.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/localtime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/string.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/time.test.ts
  packages/graphql/tests/tck/aggregations/where/node/bigint.test.ts
  packages/graphql/tests/tck/aggregations/where/node/datetime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/node/float.test.ts
  packages/graphql/tests/tck/aggregations/where/node/id.test.ts
  packages/graphql/tests/tck/aggregations/where/node/int.test.ts
  packages/graphql/tests/tck/aggregations/where/node/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/localtime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/string.test.ts
  packages/graphql/tests/tck/aggregations/where/node/time.test.ts
Labels: graphql, fix

#2678 Fix/2652
  .changeset/tasty-lobsters-play.md
  packages/cypher-builder/src/Environment.ts
  packages/cypher-builder/tests/params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/tests/integration/issues/2652.int.test.ts
  packages/graphql/tests/tck/issues/1150.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/rfcs/rfc-022.test.ts
Labels: graphql, fix

#2680 Fix Cypher translation for aliased database relationship properties
  .changeset/odd-tables-lie.md
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/tests/integration/issues/2669.int.test.ts
  packages/graphql/tests/tck/aggregations/field-level-aggregations/field-level-aggregations-alias.test.ts
Labels: graphql, fix

#2633 fix: @types/node to v18.11.17
  examples/neo-push/server/package.json
  packages/cypher-builder/package.json
  packages/graphql/package.json
  packages/introspector/package.json
  packages/ogm/package.json
  packages/plugins/graphql-plugin-auth/package.json
  packages/plugins/graphql-plugin-subscriptions-amqp/package.json
  yarn.lock
Labels: fix

#2710 Add major changeset for auth plugin
  .changeset/tough-mails-buy.md
Labels: fix

#2604 RFC 033 Not operator
  docs/rfcs/rfc-033-not-operator.md
Labels: rfc

#2728 fix: nightly build of dev branch
  .github/workflows/dev.yml
  .github/workflows/reusable-api-library-tests.yml
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
  .github/workflows/reusable-integration-tests-on-prem.yml
  .github/workflows/reusable-unit-tests.yml
Labels: fix

#2729 fix: Toolbox E2E tests, connectivty issues
  .github/workflows/reusable-toolbox-tests.yml
Labels: fix

#2359 [Auth] - Generic jwksEndpoint on Neo4jGraphQLAuthJWKSPlugin and Generic Secret on Neo4jGraphQLAuthJWTPlugin
  .changeset/real-ladybugs-rest.md
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types.ts
  packages/plugins/graphql-plugin-auth/README.md
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWKSPlugin.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWKSPlugin.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.ts
  packages/plugins/graphql-plugin-auth/src/exceptions.ts
  packages/plugins/graphql-plugin-auth/src/types.ts
Labels: documentation, graphql

#2679 Fix invalid cypher when aggregating on connection where
  .changeset/khaki-tomatoes-notice.md
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/list-predicate-to-clause.ts
  packages/graphql/src/translate/where/list-predicate-to-size-function.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/tests/integration/issues/2670.int.test.ts
  packages/graphql/tests/integration/root-connections.int.test.ts
  packages/graphql/tests/tck/advanced-filtering.test.ts
  packages/graphql/tests/tck/issues/1221.test.ts
  packages/graphql/tests/tck/issues/1685.test.ts
  packages/graphql/tests/tck/issues/1687.test.ts
  packages/graphql/tests/tck/issues/1783.test.ts
  packages/graphql/tests/tck/issues/2709.test.ts
  packages/graphql/tests/tck/issues/488.test.ts
  packages/graphql/tests/tck/issues/582.test.ts
  packages/graphql/tests/tck/issues/901.test.ts
  packages/graphql/tests/tck/issues/988.test.ts
Labels: graphql, fix

#2748 fix: use expect.toIncludeSameMembers to check array content
  packages/graphql/tests/integration/issues/2709.int.test.ts
Labels: fix

#2742 remove unused `chainStr` for auth
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/src/translate/create-auth-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
  packages/graphql/src/translate/translate-aggregate.ts
Labels: graphql, feature

#2588 Implement `overwrite` argument on `connect` operation
  .changeset/thirty-bobcats-wink.md
  packages/graphql/src/schema/create-relationship-fields/fields/overwrite.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-relationship-validation-string.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-with-relationships.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship.e2e.test.ts
  packages/graphql/tests/integration/issues/354.int.test.ts
  packages/graphql/tests/integration/issues/549.int.test.ts
  packages/graphql/tests/integration/relationship-properties/connect-overwrite.int.test.ts
  packages/graphql/tests/integration/rfcs/rfc-003.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/array-methods.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-rel.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
  packages/graphql/tests/schema/issues/2377.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/string-comparators.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, ogm

#2760 Fix aggregations filters produce invalid cypher when inside a relationship/connection filter
  .changeset/flat-cows-impress.md
  .changeset/hip-coats-taste.md
  .changeset/new-games-buy.md
  packages/graphql/src/schema/resolvers/query/read.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/where/create-where-and-params.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/list-predicate-to-clause.ts
  packages/graphql/src/translate/where/list-predicate-to-size-function.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/translate/where/utils.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/issues/2670.int.test.ts
  packages/graphql/tests/integration/issues/2708.int.test.ts
  packages/graphql/tests/integration/issues/2713.int.test.ts
  packages/graphql/tests/tck/advanced-filtering.test.ts
  packages/graphql/tests/tck/aggregations/where/count.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/bigint.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/datetime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/float.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/id.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/int.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/localtime.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/logical.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/string.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/time.test.ts
  packages/graphql/tests/tck/aggregations/where/logical.test.ts
  packages/graphql/tests/tck/aggregations/where/node.test.ts
  packages/graphql/tests/tck/aggregations/where/node/bigint.test.ts
  packages/graphql/tests/tck/aggregations/where/node/datetime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/node/float.test.ts
  packages/graphql/tests/tck/aggregations/where/node/id.test.ts
  packages/graphql/tests/tck/aggregations/where/node/int.test.ts
  packages/graphql/tests/tck/aggregations/where/node/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/localtime.test.ts
  packages/graphql/tests/tck/aggregations/where/node/logical.test.ts
  packages/graphql/tests/tck/aggregations/where/node/string.test.ts
  packages/graphql/tests/tck/aggregations/where/node/time.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/1221.test.ts
  packages/graphql/tests/tck/issues/1685.test.ts
  packages/graphql/tests/tck/issues/1687.test.ts
  packages/graphql/tests/tck/issues/1783.test.ts
  packages/graphql/tests/tck/issues/1933.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/2670.test.ts
  packages/graphql/tests/tck/issues/2708.test.ts
  packages/graphql/tests/tck/issues/2709.test.ts
  packages/graphql/tests/tck/issues/2713.test.ts
  packages/graphql/tests/tck/issues/488.test.ts
  packages/graphql/tests/tck/issues/582.test.ts
  packages/graphql/tests/tck/issues/988.test.ts
Labels: graphql, fix

#2776 fix: remove playwright workaround
  .github/workflows/reusable-toolbox-tests.yml
Labels: fix

#2775 only pass relationship field if overwrite set to false
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/connect.test.ts
  packages/graphql/tests/tck/operations/connect.test.ts
Labels: graphql, fix

#2752 Replace usage of `apoc.do.when` by sub-queries
  .changeset/shaggy-kiwis-obey.md
  packages/graphql/src/constants.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/where/utils.ts
  packages/graphql/tests/tck/array-methods.test.ts
  packages/graphql/tests/tck/connections/relationship_properties/update.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/update.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/324.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/subscriptions/update.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, feature

#2788 Fix eslint error
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
Labels: graphql, fix

#2785 Update aggregation operations to properly check durations
  .changeset/fluffy-shoes-cheat.md
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/where/property-operations/create-comparison-operation.ts
  packages/graphql/tests/integration/aggregations/where/edge/duration.int.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/node/duration.test.ts
  packages/graphql/tests/utils/graphql-types.ts
Labels: graphql

#2795 Fix duplicate parameters in nested cypher
  .changeset/gorgeous-ways-refuse.md
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/tests/integration/issues/2766.int.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
Labels: graphql, fix

#2796 Improve aggregation comparison operations
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/where/property-operations/create-comparison-operation.ts
  packages/graphql/src/translate/where/property-operations/create-point-comparison-operation.ts
  packages/graphql/tests/integration/aggregations/where/edge/duration.int.test.ts
Labels: graphql

#2761 Granular configuration of startup validation for type definitions and resolvers
  .changeset/shaggy-pots-guess.md
  docs/modules/ROOT/pages/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/custom-resolvers.adoc
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/schema/get-custom-resolver-meta.test.ts
  packages/graphql/src/schema/get-custom-resolver-meta.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.test.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/parse/parse-fulltext-directive.test.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/config-options/query-options.int.test.ts
  packages/graphql/tests/integration/config-options/startup-validation.int.test.ts
Labels: documentation, graphql
