Repository neo4j/graphql, pull requests merged in 2023-08, with the labels that each got.

#3729 Improve the checking for non-existent parameters when evaluating authorization rules
  .changeset/young-ligers-poke.md
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/translate/authorization/utils/populate-where-params.test.ts
  packages/graphql/src/translate/authorization/utils/populate-where-params.ts
  packages/graphql/src/translate/authorization/where/create-authorization-where-predicate.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/tck/aggregations/auth.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection-union.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/authorization/projection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/fulltext/auth.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/2789.test.ts
  packages/graphql/tests/tck/issues/2812.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
  packages/graphql/tests/tck/rfcs/rfc-022.test.ts
  packages/graphql/tests/tck/subscriptions/create-auth.test.ts
  packages/graphql/tests/tck/union.test.ts
  packages/graphql/tests/utils/builders/context-builder.ts
Labels: graphql, fix

#3736 Adding link to course in GraphAcademy
  docs/modules/ROOT/pages/authentication-and-authorization/configuration.adoc
  docs/modules/ROOT/pages/getting-started.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/preview.yml
Labels: documentation

#3735 introspector: remove readonly in README
  packages/introspector/README.md
Labels: fix

#3743 Introspector to produce `@mutation` instead of `@exclude`
  .changeset/rotten-avocados-knock.md
  packages/introspector/src/transforms/neo4j-graphql/directives/Exclude.ts
  packages/introspector/src/transforms/neo4j-graphql/graphql.ts
  packages/introspector/tests/integration/graphql/nodes.test.ts
Labels: fix, introspector

#3795 If possible, instantiate connection to JWKS on startup
  .changeset/unlucky-foxes-draw.md
  packages/graphql/src/classes/authorization/Neo4jGraphQLAuthorization.ts
Labels: graphql, fix

#3805 Add `@customResolver` `requires` to migration guide
  docs/modules/ROOT/pages/guides/v4-migration/index.adoc
Labels: documentation

#3828 Fix nested operations when no delete, connect or disconnect remaining
  .changeset/fast-dolphins-sort.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/tests/schema/issues/3816.test.ts
Labels: graphql, fix
