Repository neo4j/graphql, pull requests merged in 2023-04, with the labels that each got.

#3145 Revert testIf changes
  .eslintrc.js
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-index.int.test.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext.int.test.ts
  packages/graphql/tests/utils/test-if.ts
Labels: graphql

#3100 custom schema validation
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/graphql/directives/type-dependant-directives/authorization.ts
  packages/graphql/src/schema/check-directive-combinations.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/EnricherContext.ts
  packages/graphql/src/schema/validation/enrichers/authorization.ts
  packages/graphql/src/schema/validation/schema-validation.test.ts
  packages/graphql/src/schema/validation/schema-validation.ts
  packages/graphql/src/schema/validation/types.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/tests/performance/schema-performance.ts
  packages/graphql/tests/schema/authorization.test.ts
Labels: graphql

#3150 feat: Toolbox, Docs explorer GraphiQL v2 component
  .changeset/nervous-impalas-drop.md
  packages/graphql-toolbox/NOTICE.txt
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/src/App.tsx
  packages/graphql-toolbox/src/index.css
  packages/graphql-toolbox/src/modules/EditorView/Editor.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/Argument.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/DefaultValue.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/Directive.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/FieldDoc.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/MarkdownContent.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/SchemaDoc.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/SearchBox.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/SearchResults.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/TypeDoc.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/TypeLink.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/debounce.ts
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/doc-explorer.css
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/index.tsx
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/types.ts
  packages/graphql-toolbox/src/modules/HelpDrawer/DocExplorerComponent.tsx
  packages/graphql-toolbox/src/modules/HelpDrawer/EditorScreenDrawer.tsx
  packages/graphql-toolbox/src/modules/Main/Main.tsx
  packages/graphql-toolbox/tests/pages/Editor.ts
  yarn.lock
Labels: feature

#2867 RFC: read/write controls
  docs/rfcs/rfc-035-read-write-controls.md
Labels: rfc

#3176 feat: Auth plugin, optional iss and aud JWT claim check
  .changeset/witty-roses-deliver.md
  docs/modules/ROOT/pages/auth/setup.adoc
  packages/graphql/tests/integration/directives/auth/jwks-endpoint.int.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWKSPlugin.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.test.ts
  packages/plugins/graphql-plugin-auth/src/Neo4jGraphQLAuthJWTPlugin.ts
Labels: documentation, feature

#3189 fix: Toolbox, Codemirror text selection
  .changeset/early-jars-punch.md
  packages/graphql-toolbox/src/index.css
Labels: fix

#3155 Fix subscription tests flakiness
  packages/graphql/tests/e2e/setup/ws-client.ts
  packages/graphql/tests/e2e/subscriptions/auth/authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/global-authentication.int.test.ts
  packages/graphql/tests/e2e/subscriptions/auth/roles.int.test.ts
  packages/graphql/tests/e2e/subscriptions/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-additional-labels.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete-with-relationships.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship-via-delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship-same-type.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-relationship.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/single-instance-plugin.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/integration/subscriptions/spatial-types.int.test.ts
Labels: fix

#3160 RFC: Updated method of specifying JWT payload
  docs/rfcs/rfc-036-authorization.md
Labels: rfc

#3192 Add source query and params to driver transaction config
  .changeset/smart-actors-give.md
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/schema/resolvers/wrapper.ts
  packages/graphql/src/types/index.ts
  packages/graphql/src/utils/execute.test.ts
  packages/graphql/src/utils/execute.ts
  packages/graphql/tests/utils/builders/context-builder.ts
Labels: graphql

#3209 docs: OGM custom resolver util functions
  docs/modules/ROOT/pages/ogm/examples/custom-resolvers.adoc
Labels: documentation

#3207 docs: Apollo federation guide additions
  docs/modules/ROOT/pages/guides/apollo-federation.adoc
Labels: documentation

#3236 Remove subscription plugin docs
  docs/antora.yml
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/migration/v4-migration.adoc
  docs/modules/ROOT/pages/reference/api-reference/neo4jgraphql.adoc
  docs/modules/ROOT/pages/subscriptions/events.adoc
  docs/modules/ROOT/pages/subscriptions/getting-started.adoc
  docs/modules/ROOT/pages/subscriptions/mechanisms.adoc
  docs/modules/ROOT/pages/subscriptions/plugins.adoc
  docs/modules/ROOT/pages/subscriptions/scaling.adoc
  docs/preview.yml
  docs/publish.yml
Labels: documentation
