Repository neo4j/graphql, pull requests merged in 2023-02, with the labels that each got.

#2807 fix connection where with logical operator
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/tests/integration/connections/filtering.int.test.ts
Labels: graphql

#2813 Deprecate invalid aggregation filters
  .changeset/tall-otters-walk.md
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql/src/schema/constants.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/array-methods.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-rel.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
  packages/graphql/tests/schema/issues/2377.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/string-comparators.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, ogm

#2822 Introduce _LENGTH aggregation filters for string
  .changeset/cold-students-cough.md
  docs/modules/ROOT/pages/filtering.adoc
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/constants.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/utils.ts
  packages/graphql/tests/integration/aggregations/where/edge/string.int.test.ts
  packages/graphql/tests/integration/aggregations/where/node/string.int.test.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/array-methods.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-rel.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
  packages/graphql/tests/schema/issues/2377.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/string-comparators.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/ogm/src/generate.test.ts
Labels: documentation, graphql, ogm

#2835 Fix 2812
  .changeset/calm-ducks-give.md
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/tests/integration/issues/2812.int.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-label.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/issues/2812.test.ts
Labels: graphql, fix

#2484 RFC on cypher builder complex patterns
  docs/rfcs/rfc-010-cypher-builder.md
  packages/graphql/tests/integration/types/datetime.int.test.ts
Labels: rfc

#2861 fix: set node.js version for reviewdog-eslint&package-tests GHA to v18.13.0
  .github/workflows/pull-requests.yml
  .github/workflows/reusable-package-tests.yml
Labels: fix

#2810 Fix invalid cypher when aggregating within nested relationships or connections
  .changeset/heavy-rings-search.md
  packages/graphql/src/translate/connection-clause/create-edge-subquery.ts
  packages/graphql/src/translate/create-aggregate-where-and-params.ts
  packages/graphql/src/translate/field-aggregations/create-count-expression.ts
  packages/graphql/src/translate/where/create-where-predicate.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/issues/2670.int.test.ts
  packages/graphql/tests/integration/issues/2708.int.test.ts
  packages/graphql/tests/integration/issues/2803.int.test.ts
  packages/graphql/tests/integration/relationship-properties/connect-overwrite.int.test.ts
  packages/graphql/tests/performance/cypher/aggregation.cypher
  packages/graphql/tests/performance/graphql/aggregations.graphql
  packages/graphql/tests/tck/issues/2670.test.ts
  packages/graphql/tests/tck/issues/2708.test.ts
  packages/graphql/tests/tck/issues/2713.test.ts
  packages/graphql/tests/tck/issues/2803.test.ts
Labels: graphql, fix

#2833 Fixes schema generation error with subscriptions excluded
  packages/graphql/src/schema/subscriptions/generate-subscription-connection-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql, fix

#2869 fix conflicting parameter names for disconnect on abstract types
  packages/graphql/src/translate/create-disconnect-and-params.test.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/e2e/subscriptions/delete-relationship.e2e.test.ts
  packages/graphql/tests/integration/subscriptions/create-relationship/delete.int.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-label.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/inherited.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/bind/interface-relationships/interface-bind.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/disconnect.test.ts
  packages/graphql/tests/tck/directives/node/node-label.test.ts
  packages/graphql/tests/tck/issues/1132.test.ts
  packages/graphql/tests/tck/issues/2782.test.ts
  packages/graphql/tests/tck/issues/894.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/disconnect.test.ts
  packages/graphql/tests/tck/operations/update.test.ts
  packages/graphql/tests/tck/pringles.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#2877 Fix invalid cypher for SOME/ALL/NONE relationship within SINGLE relationship
  .changeset/weak-shrimps-burn.md
  packages/graphql/src/translate/where/property-operations/create-relationship-operation.ts
  packages/graphql/tests/integration/issues/2871.int.test.ts
  packages/graphql/tests/performance/graphql/query.graphql
  packages/graphql/tests/tck/advanced-filtering.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-with-auth.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/1221.test.ts
  packages/graphql/tests/tck/issues/1783.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/2871.test.ts
  packages/graphql/tests/tck/issues/901.test.ts
Labels: graphql, fix

#2620 Selection of fields on interfaces in unions fail in some cases
  .changeset/fifty-fishes-travel.md
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/2630.int.test.ts
  packages/graphql/tests/tck/fragments.test.ts
Labels: graphql

#2879 Unify Interface projection with Union
  .changeset/quiet-points-bow.md
  packages/graphql/src/translate/create-interface-projection-and-params.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/utils/filter-interface-nodes.ts
  packages/graphql/tests/integration/issues/2847.int.test.ts
  packages/graphql/tests/tck/deprecated/labels-2614.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-label-union.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/directives/node/node-label-union.test.ts
  packages/graphql/tests/tck/fragments.test.ts
  packages/graphql/tests/tck/interfaces.test.ts
  packages/graphql/tests/tck/issues/1348.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1535.test.ts
  packages/graphql/tests/tck/issues/1536.test.ts
  packages/graphql/tests/tck/issues/2249.test.ts
  packages/graphql/tests/tck/issues/2267.test.ts
  packages/graphql/tests/tck/issues/2614.test.ts
  packages/graphql/tests/tck/issues/488.test.ts
  packages/graphql/tests/tck/issues/583.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/847.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-interface.test.ts
  packages/graphql/tests/tck/subscriptions/create.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-relationships.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#2913 Check for enums as well as scalars when doing UNWIND CREATE
  .changeset/fast-carpets-grow.md
  packages/graphql/src/translate/batch-create/parser.ts
  packages/graphql/tests/integration/issues/2889.int.test.ts
Labels: graphql, fix

#2892 Remove incorrect deprecation message from single relationships/connections
  .changeset/hip-poets-juggle.md
  packages/graphql/src/schema/augment/add-relationship-array-filters.ts
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/src/schema/create-relationship-fields/index.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/schema/aggregations.test.ts
  packages/graphql/tests/schema/array-methods.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connect-or-create-id.test.ts
  packages/graphql/tests/schema/connect-or-create-unions.test.ts
  packages/graphql/tests/schema/connect-or-create.test.ts
  packages/graphql/tests/schema/connections/enums.test.ts
  packages/graphql/tests/schema/connections/sort.test.ts
  packages/graphql/tests/schema/connections/unions.test.ts
  packages/graphql/tests/schema/deprecated/rfc-autogenerated-properties-rel.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/alias.test.ts
  packages/graphql/tests/schema/directives/exclude.test.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
  packages/graphql/tests/schema/directives/writeonly.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/1182.test.ts
  packages/graphql/tests/schema/issues/162.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
  packages/graphql/tests/schema/issues/2377.test.ts
  packages/graphql/tests/schema/issues/872.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/pluralize-consistency.test.ts
  packages/graphql/tests/schema/query-direction.test.ts
  packages/graphql/tests/schema/relationship-properties.test.ts
  packages/graphql/tests/schema/relationship.test.ts
  packages/graphql/tests/schema/string-comparators.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/schema/unions.test.ts
  packages/ogm/src/generate.test.ts
Labels: graphql, ogm

#2884 Add `__id` to subquery UNION projections
  .changeset/fluffy-ravens-unite.md
  .changeset/thin-bananas-cross.md
  packages/cypher-builder/src/Cypher.ts
  packages/cypher-builder/src/expressions/functions/CypherFunctions.ts
  packages/graphql/src/translate/connection-clause/connection-projection.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/tests/integration/issues/2820.int.test.ts
  packages/graphql/tests/tck/connections/alias.test.ts
  packages/graphql/tests/tck/connections/interfaces.test.ts
  packages/graphql/tests/tck/connections/projections/projections.test.ts
  packages/graphql/tests/tck/connections/unions.test.ts
  packages/graphql/tests/tck/deprecated/labels-2614.test.ts
  packages/graphql/tests/tck/deprecated/labels-node-label-union.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/allow/interface-relationships/interface-allow.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/interface-relationships/interface-where.test.ts
  packages/graphql/tests/tck/directives/auth/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/auth/projection-connection-union.test.ts
  packages/graphql/tests/tck/directives/auth/projection-interface-relationships.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/connect.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/create/create.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/update/create.test.ts
  packages/graphql/tests/tck/directives/node/node-label-union.test.ts
  packages/graphql/tests/tck/fragments.test.ts
  packages/graphql/tests/tck/interfaces.test.ts
  packages/graphql/tests/tck/issues/1150.test.ts
  packages/graphql/tests/tck/issues/1263.test.ts
  packages/graphql/tests/tck/issues/1348.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/issues/1535.test.ts
  packages/graphql/tests/tck/issues/1536.test.ts
  packages/graphql/tests/tck/issues/1685.test.ts
  packages/graphql/tests/tck/issues/2249.test.ts
  packages/graphql/tests/tck/issues/2267.test.ts
  packages/graphql/tests/tck/issues/2614.test.ts
  packages/graphql/tests/tck/issues/488.test.ts
  packages/graphql/tests/tck/issues/583.test.ts
  packages/graphql/tests/tck/issues/630.test.ts
  packages/graphql/tests/tck/issues/832.test.ts
  packages/graphql/tests/tck/issues/847.test.ts
  packages/graphql/tests/tck/math.test.ts
  packages/graphql/tests/tck/nested-unions.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-interface.test.ts
  packages/graphql/tests/tck/subscriptions/create.test.ts
  packages/graphql/tests/tck/undirected-relationships/query-direction-connection.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-connection.test.ts
  packages/graphql/tests/tck/undirected-relationships/undirected-relationships.test.ts
  packages/graphql/tests/tck/union.test.ts
Labels: graphql, fix

#2722 RFC - use selection set string for customResolvers requires
  docs/rfcs/rfc-034-use-selection-set-string-for-customResolver-requires.md
Labels: rfc

#2948 Fix ESLint `comma-dangle` violations (`dev`)
  packages/apollo-federation-subgraph-compatibility/src/index.ts
  packages/apollo-federation-subgraph-compatibility/src/resolvers.ts
  packages/apollo-federation-subgraph-compatibility/src/server.ts
  packages/apollo-federation-subgraph-compatibility/subgraph.config.js
  packages/apollo-federation-subgraph-compatibility/webpack.config.js
  packages/cypher-builder/src/Cypher.ts
  packages/graphql-toolbox/postcss.config.js
  packages/graphql-toolbox/src/modules/EditorView/docexplorer/FieldDoc.tsx
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/translate/batch-create/parser.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/utils/get-neo4j-resolve-tree.test.ts
  packages/graphql/tests/integration/issues/2820.int.test.ts
  packages/graphql/tests/integration/issues/2847.int.test.ts
  packages/graphql/tests/integration/issues/2889.int.test.ts
  packages/graphql/tests/integration/neo4j.ts
  packages/ogm/src/generate.ts
  packages/package-tests/babel/index.js
Labels: graphql, fix, ogm

#2942 Fix `@coalesce` and `@default` for Enum List values
  .changeset/sixty-snakes-return.md
  .eslintrc.js
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/translate/where/property-operations/create-property-where.ts
  packages/graphql/src/types.ts
  packages/graphql/tests/integration/directives/coalesce.int.test.ts
  packages/graphql/tests/integration/issues/1761.int.test.ts
  packages/graphql/tests/tck/directives/coalesce.test.ts
Labels: graphql, fix
