Repository neo4j/graphql, pull requests merged in 2023-11, with the labels that each got.

#4234 Fix pipeline (DBNAME collision)
  packages/introspector/tests/integration/graphql/label-injection.test.ts
Labels: fix

#4235 Fix incorrect directive combination for inherited fields
  .changeset/flat-badgers-itch.md
  packages/graphql/src/schema/validation/custom-rules/valid-types/valid-directive-combination.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
Labels: graphql, fix

#4237 Fix authorization before and after parameter name clash
  .changeset/forty-shrimps-cover.md
  packages/graphql/src/translate/authorization/compatibility/create-authorization-after-and-params.ts
  packages/graphql/src/translate/authorization/compatibility/create-authorization-before-and-params.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/tests/integration/issues/4214.int.test.ts
  packages/graphql/tests/tck/array-methods.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/2789.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/3929.test.ts
  packages/graphql/tests/tck/issues/4118.test.ts
  packages/graphql/tests/tck/issues/4170.test.ts
  packages/graphql/tests/tck/issues/4214.test.ts
  packages/graphql/tests/tck/issues/4223.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
Labels: graphql, fix

#4244 Top level aggregations refactor
  packages/graphql/package.json
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema/resolvers/query/aggregate.ts
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/src/translate/queryAST/ast/fields/aggregation-fields/AggregationAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/fields/aggregation-fields/AggregationField.ts
  packages/graphql/src/translate/queryAST/ast/fields/aggregation-fields/CountField.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/factory/AuthorizationFactory.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/integration/aggregations/top-level/authorization.int.test.ts
  packages/graphql/tests/integration/aggregations/top-level/string.int.test.ts
  packages/graphql/tests/tck/aggregations/alias-directive.test.ts
  packages/graphql/tests/tck/aggregations/alias.test.ts
  packages/graphql/tests/tck/aggregations/auth.test.ts
  packages/graphql/tests/tck/aggregations/count.test.ts
  packages/graphql/tests/tck/aggregations/field-level-aggregations/field-level-aggregations-alias.test.ts
  packages/graphql/tests/tck/aggregations/field-level-aggregations/field-level-aggregations-labels.test.ts
  packages/graphql/tests/tck/aggregations/field-level-aggregations/field-level-aggregations.test.ts
  packages/graphql/tests/tck/aggregations/int.test.ts
  packages/graphql/tests/tck/aggregations/label.test.ts
  packages/graphql/tests/tck/aggregations/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/many.test.ts
  packages/graphql/tests/tck/aggregations/string.test.ts
  yarn.lock
Labels: graphql

#4257 Feature: Nested aggregations on interface
  .changeset/tricky-ants-divide.md
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityAdapter.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/aggregations/field-aggregation-composer.ts
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/translate/queryAST/ast/QueryASTContext.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationPartial.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/AuthorizationFactory.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/tests/integration/aggregations/field-level/interface-field-level-aggregations.int.test.ts
  packages/graphql/tests/schema/experimental-schema/comments.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/schema/experimental-schema/math.test.ts
  packages/graphql/tests/schema/experimental-schema/union-interface-relationship.test.ts
  packages/graphql/tests/schema/nested-aggregation-on-interface.test.ts
  packages/graphql/tests/schema/nested-aggregation-on-type.test.ts
  packages/graphql/tests/tck/aggregations/interface-field-level-aggregations.test.ts
Labels: graphql, feature

#4224 Implement warning if max limit on Interface is bigger than the max limit on implementing Concrete Type
  packages/graphql/src/schema/validation/custom-rules/warnings/limit-max-can-be-bypassed.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql

#4261 Feature: Interface nested aggregations on edge relationships
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationPartial.ts
  packages/graphql/tests/integration/aggregations/field-level/interface-field-level-aggregations.int.test.ts
  packages/graphql/tests/tck/aggregations/interface-field-level-aggregations.test.ts
Labels: graphql, feature

#4286 Accept only context in the transpile method
  packages/graphql/src/translate/create-connect-and-params.test.ts
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/src/translate/queryAST/ast/fields/OperationField.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/CreateOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeConnectionPartial.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/src/translate/queryAST/ast/operations/operations.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
Labels: graphql

#4285 Aggregations cleanup
  .changeset/cyan-dragons-dress.md
  .changeset/rude-walls-wave.md
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/src/translate/queryAST/ast/QueryASTContext.ts
  packages/graphql/src/translate/queryAST/ast/fields/OperationField.ts
  packages/graphql/src/translate/queryAST/ast/fields/aggregation-fields/AggregationAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationOperation.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/translate-aggregate.ts
  packages/graphql/tests/performance/databaseQuery/cypher/aggregation.cypher
  packages/graphql/tests/performance/graphql/aggregations.graphql
  packages/graphql/tests/performance/performance.ts
  packages/graphql/tests/performance/typedefs.ts
  packages/graphql/tests/tck/aggregations/alias-directive.test.ts
  packages/graphql/tests/tck/aggregations/alias.test.ts
  packages/graphql/tests/tck/aggregations/auth.test.ts
  packages/graphql/tests/tck/aggregations/bigint.test.ts
  packages/graphql/tests/tck/aggregations/count.test.ts
  packages/graphql/tests/tck/aggregations/datetime.test.ts
  packages/graphql/tests/tck/aggregations/duration.test.ts
  packages/graphql/tests/tck/aggregations/float.test.ts
  packages/graphql/tests/tck/aggregations/id.test.ts
  packages/graphql/tests/tck/aggregations/int.test.ts
  packages/graphql/tests/tck/aggregations/label.test.ts
  packages/graphql/tests/tck/aggregations/localdatetime.test.ts
  packages/graphql/tests/tck/aggregations/localtime.test.ts
  packages/graphql/tests/tck/aggregations/many.test.ts
  packages/graphql/tests/tck/aggregations/string.test.ts
  packages/graphql/tests/tck/aggregations/time.test.ts
  packages/graphql/tests/tck/directives/plural.test.ts
  packages/graphql/tests/tck/experimental/aggregation-top-level-interface.test.ts
Labels: graphql

#4306 Fix #4287: Logical operators on connection filtering with interfaces
  .changeset/violet-needles-peel.md
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/tests/integration/connections/interfaces.int.test.ts
  packages/graphql/tests/integration/issues/4287.int.test.ts
  packages/graphql/tests/tck/connections/interfaces.test.ts
  packages/graphql/tests/tck/directives/interface-relationships/read.test.ts
  packages/graphql/tests/tck/issues/4287.test.ts
Labels: graphql

#4309 Fix 4292
  .changeset/warm-students-float.md
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/tests/integration/issues/4268.int.test.ts
  packages/graphql/tests/integration/issues/4292.int.test.ts
  packages/graphql/tests/tck/issues/4292.test.ts
Labels: graphql, fix

#4318 Migrate global node resolver to use new translation-layer
  packages/graphql/src/schema/resolvers/query/global-node.ts
  packages/graphql/src/translate/translate-read.ts
Labels: graphql

#4329 Test: standardise session and context in bigint test
  packages/graphql/tests/integration/types/bigint.int.test.ts
Labels: fix

#4144 Fix `events` functionality of `@subscriptionsAuthorization`
  .changeset/happy-singers-fail.md
  packages/graphql/src/graphql/directives/type-dependant-directives/static-definitions.ts
  packages/graphql/src/graphql/directives/type-dependant-directives/subscriptions-authorization.ts
  packages/graphql/src/schema-model/annotation/SubscriptionsAuthorizationAnnotation.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/authorization.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/events.e2e.test.ts
Labels: graphql, fix

#4298 Add console warn if experimental flag is true
  packages/graphql/src/schema/validation/custom-rules/warnings/experimental-mode.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql, feature

#4308 Feature: filter on interface aggregation
  .changeset/strong-dodos-live.md
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationPartial.ts
  packages/graphql/tests/integration/experimental/aggegations/aggregation-interfaces-field-level.int.test.ts
  packages/graphql/tests/integration/experimental/aggegations/aggregation-interfaces-top-level.int.test.ts
  packages/graphql/tests/integration/experimental/aggegations/filter-aggregation-interfaces-field-level.int.test.ts
  packages/graphql/tests/integration/experimental/aggegations/filter-aggregation-interfaces-top-level.int.test.ts
  packages/graphql/tests/tck/experimental/aggregations/aggregation-interfaces-field-level.test.ts
  packages/graphql/tests/tck/experimental/aggregations/aggregation-interfaces-top-level.test.ts
  packages/graphql/tests/tck/experimental/aggregations/filter-aggregation-interfaces-field-level.test.ts
  packages/graphql/tests/tck/experimental/aggregations/filter-aggregation-interfaces-top-level.test.ts
Labels: graphql, feature
