Repository neo4j/graphql, pull requests merged in 2024-10, with the labels that each got.

#5606 Fix delete operations inside update with unions
  .changeset/fair-eagles-shave.md
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/5599.int.test.ts
  packages/graphql/tests/tck/issues/5599.test.ts
Labels: graphql

#5616 Fix 1-1 validation on nested update
  .changeset/lucky-icons-marry.md
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/tests/integration/issues/1430.int.test.ts
  packages/graphql/tests/tck/issues/1430.test.ts
  packages/graphql/tests/tck/rfcs/rfc-003.test.ts
Labels: graphql, fix

#5632 Deprecate `options` of `assertIndexesAndConstraints` and remove from tests
  .changeset/afraid-cows-beg.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/tests/integration/directives/cypher/filtering/cypher-filtering-list-auth.int.test.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-filtering.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-pagination.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
  packages/graphql/tests/integration/issues/5378.int.test.ts
  packages/graphql/tests/utils/tests-helper.ts
Labels: graphql

#5633 Remove connection wrapper from vector index
  .changeset/modern-pugs-film.md
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema/generation/vector-input.ts
  packages/graphql/src/schema/resolvers/query/vector.ts
  packages/graphql/src/translate/queryAST/factory/Operations/VectorFactory.ts
  packages/graphql/tests/integration/directives/vector/vector-auth.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-filtering.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-pagination.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
  packages/graphql/tests/schema/vector.test.ts
  packages/graphql/tests/tck/directives/vector/auth.test.ts
  packages/graphql/tests/tck/directives/vector/match.test.ts
  packages/graphql/tests/tck/directives/vector/phrase.test.ts
  packages/graphql/tests/tck/directives/vector/score.test.ts
Labels: graphql

#5647 Bug-fix 5635
  .changeset/late-eggs-fold.md
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/tests/integration/issues/5635.int.test.ts
  packages/graphql/tests/tck/issues/5635.test.ts
Labels: graphql

#5699 Check for null in relationship filters
  .changeset/heavy-ears-march.md
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/tests/integration/issues/5698.int.test.ts
Labels: graphql

#5713 Remove connectComponentsPlanner argument from the Context
  .changeset/five-turtles-grab.md
  packages/graphql/src/types/index.ts
  packages/graphql/src/utils/execute.test.ts
Labels: graphql

#5731 Fix cdc integration tests on aura
  packages/graphql/src/classes/Neo4jDatabaseInfo.ts
  packages/graphql/tests/integration/issues/2250.int.test.ts
  packages/graphql/tests/integration/issues/2261.int.test.ts
  packages/graphql/tests/integration/issues/3355.int.test.ts
  packages/graphql/tests/integration/issues/4056.int.test.ts
  packages/graphql/tests/integration/issues/4118.int.test.ts
  packages/graphql/tests/integration/issues/4170.int.test.ts
  packages/graphql/tests/integration/issues/4223.int.test.ts
  packages/graphql/tests/integration/issues/440.int.test.ts
  packages/graphql/tests/integration/issues/4429.int.test.ts
  packages/graphql/tests/integration/subscriptions/auth/allow.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/connect-or-create.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/delete-auth.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/top-level-where.int.test.ts
  packages/graphql/tests/integration/subscriptions/update/top-level-where.int.test.ts
  packages/graphql/tests/utils/tests-helper.ts
Labels: graphql, fix

#5733 Fix cdc tests on prem
  packages/graphql/tests/e2e/subscriptions/authorization/authentication-roles.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/authentication.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/events.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/filter/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/authorization/global-authentication.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete-complex.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/create.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/delete.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-array-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-number-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update-string-filters.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/filtering/update.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/issues/3698.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/issues/5586.e2e.test.ts
  packages/graphql/tests/e2e/subscriptions/update.e2e.test.ts
  packages/graphql/tests/integration/issues/2250.int.test.ts
  packages/graphql/tests/integration/issues/2261.int.test.ts
  packages/graphql/tests/integration/issues/3355.int.test.ts
  packages/graphql/tests/integration/issues/4056.int.test.ts
  packages/graphql/tests/integration/issues/4118.int.test.ts
  packages/graphql/tests/integration/issues/4170.int.test.ts
  packages/graphql/tests/integration/issues/4223.int.test.ts
  packages/graphql/tests/integration/issues/440.int.test.ts
  packages/graphql/tests/integration/issues/4429.int.test.ts
  packages/graphql/tests/integration/subscriptions/auth/allow.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/connect-or-create.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/delete-auth.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/top-level-where.int.test.ts
  packages/graphql/tests/integration/subscriptions/update/top-level-where.int.test.ts
  packages/graphql/tests/utils/tests-helper.ts
Labels: fix
