Repository neo4j/graphql, pull requests merged in 2024-11, with the labels that each got.

#5723 Cypher filtering 1 to 1 relationships
  .changeset/seven-bobcats-carry.md
  packages/graphql/src/schema-model/Neo4jGraphQLSchemaModel.ts
  packages/graphql/src/schema-model/annotation/CypherAnnotation.ts
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema-model/parser/annotations-parser/cypher-annotation.ts
  packages/graphql/src/schema/generation/augment-where-input.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/translate/queryAST/ast/QueryASTContext.ts
  packages/graphql/src/translate/queryAST/ast/filters/CypherOneToOneRelationshipFilter.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/tests/integration/directives/cypher/filtering/cypher-filtering-one-to-one-relationship.int.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/cypher-filtering-one-to-one-relationship.test.ts
Labels: graphql

#5738 deprecation warning for unique
  .changeset/brave-chicken-hunt.md
  packages/graphql/src/schema/validation/custom-rules/warnings/deprecated-unique.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/tests/integration/migration-warnings/unique-directive.test.ts
Labels: graphql

#5763 Update Cypher builder to version 2
  packages/graphql/package.json
  packages/graphql/src/translate/authorization/compatibility/compile-predicate-return.ts
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/translate/unwind-create.ts
  packages/graphql/src/translate/where/create-connection-where-and-params.ts
  packages/graphql/src/utils/case-where.test.ts
  yarn.lock
Labels: graphql

#5765 Fix issues with vector search sorting (LTS)
  .changeset/three-planes-train.md
  packages/graphql/src/translate/queryAST/ast/operations/VectorOperation.ts
  packages/graphql/src/translate/queryAST/factory/Operations/VectorFactory.ts
  packages/graphql/src/translate/queryAST/factory/SortAndPaginationFactory.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
Labels: fix, graphql

#5764 Fix issues with vector search sorting
  .changeset/three-planes-train.md
  packages/graphql/src/translate/queryAST/ast/operations/VectorOperation.ts
  packages/graphql/src/translate/queryAST/factory/Operations/VectorFactory.ts
  packages/graphql/src/translate/queryAST/factory/SortAndPaginationFactory.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
Labels: fix, graphql

#5775 Lint fixes
  packages/graphql/src/schema/generation/augment-object-or-interface.ts
  packages/graphql/src/schema/generation/connection-where-input.ts
  packages/graphql/src/schema/generation/delete-input.ts
  packages/graphql/src/schema/generation/disconnect-input.ts
  packages/graphql/src/schema/generation/update-input.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/mutation/delete.test.ts
  packages/graphql/src/schema/resolvers/mutation/delete.ts
  packages/graphql/src/schema/resolvers/mutation/update.test.ts
  packages/graphql/src/schema/resolvers/mutation/update.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/factory/parsers/is-unwind-create-supported.ts
  packages/graphql/src/translate/translate-create.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-query.int.test.ts
  packages/graphql/tests/tck/issues/5635.test.ts
Labels: graphql

#5788 deprecate single element relationships
  .changeset/chilled-zebras-help.md
  packages/graphql/src/schema/validation/custom-rules/warnings/object-fields-without-resolver.test.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/single-relationship.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql

#5813 feat: add typescript to list of ignoredDeps
  renovate.json
Labels: feature

#5848 Cypher filtering many to many relationships
  .changeset/red-hairs-decide.md
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/translate/queryAST/ast/filters/CypherRelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship-auth.int.test.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship-connection.int.test.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship.int.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship-auth.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship-connection.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship.test.ts
Labels: graphql

#5856 (6.x) Cypher filtering many to many relationships
  .changeset/red-hairs-decide.md
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/translate/queryAST/ast/filters/CypherRelationshipFilter.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship-auth.int.test.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship-connection.int.test.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship.int.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship-auth.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship-connection.test.ts
  packages/graphql/tests/tck/directives/cypher/filtering/relationships/cypher-filtering-relationship.test.ts
Labels: graphql
