Repository neo4j/graphql, pull requests merged in 2024-07, with the labels that each got.

#5317 Fix validate argument for non array inputs
  .changeset/small-cycles-drive.md
  packages/graphql/src/schema-model/generate-model.test.ts
  packages/graphql/src/schema-model/parser/annotations-parser/authorization-annotation.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/validate.test.ts
Labels: graphql

#5316 Add vector directive
  .changeset/weak-rabbits-check.md
  packages/graphql/package.json
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/constants.ts
  packages/graphql/src/graphql/directives/fulltext.ts
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/vector.ts
  packages/graphql/src/schema-model/annotation/Annotation.ts
  packages/graphql/src/schema-model/annotation/VectorAnnotation.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema-model/parser/annotations-parser/vector-annotation.test.ts
  packages/graphql/src/schema-model/parser/annotations-parser/vector-annotation.ts
  packages/graphql/src/schema/augment/vector.ts
  packages/graphql/src/schema/generation/AugmentedSchemaGenerator.ts
  packages/graphql/src/schema/generation/augment-object-or-interface.ts
  packages/graphql/src/schema/generation/fulltext-input.ts
  packages/graphql/src/schema/generation/vector-input.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/pagination.ts
  packages/graphql/src/schema/resolvers/composition/wrap-query-and-mutation.ts
  packages/graphql/src/schema/resolvers/query/empty-connection.ts
  packages/graphql/src/schema/resolvers/query/root-connection.ts
  packages/graphql/src/schema/resolvers/query/vector.ts
  packages/graphql/src/translate/queryAST/ast/fields/ScoreField.ts
  packages/graphql/src/translate/queryAST/ast/filters/property-filters/ScoreFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/FulltextOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/VectorOperation.ts
  packages/graphql/src/translate/queryAST/ast/selection/VectorSelection.ts
  packages/graphql/src/translate/queryAST/ast/sort/ScoreSort.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/AggregateFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/FulltextFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ReadFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/VectorFactory.ts
  packages/graphql/src/translate/queryAST/factory/SortAndPaginationFactory.ts
  packages/graphql/src/translate/queryAST/factory/parsers/parse-operation-fields.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/shared-vector.ts
  packages/graphql/tests/integration/directives/vector/vector-auth.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-filtering.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-pagination.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
  packages/graphql/tests/schema/vector.test.ts
  packages/graphql/tests/tck/directives/vector/auth.test.ts
  packages/graphql/tests/tck/directives/vector/match.test.ts
  packages/graphql/tests/tck/directives/vector/phrase.test.ts
  packages/graphql/tests/tck/directives/vector/score.test.ts
  packages/graphql/tests/tck/directives/vector/shared-vector.ts
  yarn.lock
Labels: graphql

#5344 Small fix on 464 test to reduce flakyness
  packages/graphql/tests/integration/issues/464.int.test.ts
Labels: fix

#5346 Ensure the fulltext param is passed to aggregated queries
  .changeset/fresh-toes-search.md
  packages/ogm/src/classes/Model.ts
  packages/ogm/tests/issues/5345.test.ts
Labels: ogm

#5387 Fix fulltext support for connections #5378
  .changeset/cyan-oranges-laugh.md
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/tests/integration/issues/5378.int.test.ts
Labels: graphql
