Repository neo4j/graphql, pull requests merged in 2024-03, with the labels that each got.

#4798 Unify `@cypher` resolution for Union fields.
  .changeset/wild-nails-think.md
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipDeclarationAdapter.ts
  packages/graphql/src/schema-model/utils/get-entity-adapter.ts
  packages/graphql/src/schema/generation/AugmentedSchemaGenerator.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/queryAST/ast/fields/OperationField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherUnionAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherUnionAttributePartial.ts
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/CypherOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeCypherOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/src/translate/queryAST/ast/sort/CypherPropertySort.ts
  packages/graphql/src/translate/queryAST/cypher-generators/CypherAnnotationSubqueryGenerator.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/AggregateFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/CustomCypherFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/FulltextFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ReadFactory.ts
  packages/graphql/src/translate/queryAST/factory/QueryASTFactory.ts
  packages/graphql/src/translate/queryAST/factory/SortAndPaginationFactory.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/tests/integration/directives/cypher/cypher-interface.int.test.ts
  packages/graphql/tests/integration/directives/cypher/cypher-union.int.test.ts
  packages/graphql/tests/integration/issues/2068.int.test.ts
  packages/graphql/tests/integration/issues/4617.int.test.ts
  packages/graphql/tests/tck/connections/sort.test.ts
  packages/graphql/tests/tck/directives/cypher/cypher-interface.test.ts
  packages/graphql/tests/tck/directives/cypher/cypher-union.test.ts
  packages/graphql/tests/tck/directives/cypher/cypher.test.ts
  packages/graphql/tests/tck/issues/1566.test.ts
  packages/graphql/tests/tck/issues/1848.test.ts
  packages/graphql/tests/tck/sort.test.ts
Labels: graphql

#4797 Add deprecated directives to AggregationWhereInput
  .changeset/violet-penguins-relate.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/generation/aggregate-types.ts
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/issues/2187.test.ts
Labels: graphql, fix

#4829 Add simple relationship filters for interface and union relationships
  .changeset/grumpy-lamps-pump.md
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/tests/integration/filtering/filter-interface-relationship.int.test.ts
  packages/graphql/tests/integration/filtering/filter-union-relationship.int.test.ts
  packages/graphql/tests/integration/interface-relationships/declare-relationship/interface-filters.int.test.ts
  packages/graphql/tests/integration/interface-relationships/read.int.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connections/interfaces.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/filterable.test.ts
  packages/graphql/tests/schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/directives/selectable.test.ts
  packages/graphql/tests/schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/comments.test.ts
  packages/graphql/tests/schema/experimental-schema/declare-relationship.test.ts
  packages/graphql/tests/schema/experimental-schema/directive-preserve.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/filterable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces/aggregations.test.ts
  packages/graphql/tests/schema/experimental-schema/interfaces/typename-in.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/2993.test.ts
  packages/graphql/tests/schema/experimental-schema/math.test.ts
  packages/graphql/tests/schema/experimental-schema/nested-aggregation-on-interface.test.ts
  packages/graphql/tests/schema/experimental-schema/subscriptions.test.ts
  packages/graphql/tests/schema/experimental-schema/type-narrowing-declare-relationship.test.ts
  packages/graphql/tests/schema/experimental-schema/union-interface-relationship.test.ts
  packages/graphql/tests/schema/inheritance.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/issues/2993.test.ts
  packages/graphql/tests/schema/issues/3439.test.ts
  packages/graphql/tests/schema/issues/4511.test.ts
  packages/graphql/tests/schema/issues/4615.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/schema/union-interface-relationship.test.ts
Labels: graphql

#4816 Support authentication on root custom resolver fields
  .changeset/chilly-panthers-love.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/utils/generate-resolvers-composition.ts
  packages/graphql/src/schema-model/Operation.ts
  packages/graphql/src/schema-model/OperationAdapter.ts
  packages/graphql/src/schema-model/generate-model.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/validation/custom-rules/directives/valid-directive-field-location.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/translate/authorization/check-authentication.ts
  packages/graphql/src/translate/authorization/utils/apply-authentication.ts
  packages/graphql/src/translate/translate-top-level-cypher.ts
  packages/graphql/tests/integration/issues/3746.int.test.ts
Labels: graphql, fix

#4848 fix bug 4814, query direction ignored
  .changeset/perfect-crabs-cross.md
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/CypherOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/FulltextOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/selection/RelationshipSelection.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/FulltextFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ReadFactory.ts
  packages/graphql/tests/integration/issues/4814.int.test.ts
  packages/graphql/tests/tck/issues/4814.test.ts
Labels: graphql, fix

#4867 Bug-fix 4831
  .changeset/six-snails-sell.md
  packages/graphql/src/translate/queryAST/utils/replace-arguments-in-statement.ts
  packages/graphql/tests/integration/issues/4831.int.test.ts
  packages/graphql/tests/tck/issues/4831.test.ts
Labels: graphql, fix

#4877 Fix root connection integration test
  packages/graphql/tests/integration/root-connections.int.test.ts
Labels: fix

#4880 Fix spatial types integration test
  packages/graphql/tests/integration/subscriptions/spatial-types.int.test.ts
Labels: fix

#4879 Remove _emptyInput from input in resolveTree
  .changeset/gorgeous-llamas-hope.md
  packages/graphql/src/utils/get-neo4j-resolve-tree.ts
  packages/graphql/tests/integration/issues/4838.int.test.ts
  packages/graphql/tests/tck/issues/4838.test.ts
Labels: graphql

#4891 Fix flakyness in subscription/create tests
  packages/graphql/tests/integration/subscriptions/create-relationship/create.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/create.int.test.ts
  packages/graphql/tests/integration/utils/tests-helper.ts
Labels: fix

#4909 Update connect or create tests
  packages/graphql/tests/integration/connect-or-create/connect-or-create-authorization.int.test.ts
  packages/graphql/tests/integration/connect-or-create/connect-or-create-id.int.test.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create-union.int.test.ts
  packages/graphql/tests/integration/connect-or-create/create-connect-or-create.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-top-level.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-union-top-level.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create-union.int.test.ts
  packages/graphql/tests/integration/connect-or-create/update-connect-or-create.int.test.ts
  packages/graphql/tests/utils/run-and-parse-records.ts
Labels: fix

#4917 Update tests with multidb
  packages/graphql/src/classes/Neo4jDatabaseInfo.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-argument.int.test.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-index.int.test.ts
  packages/graphql/tests/integration/directives/fulltext/fulltext-query.int.test.ts
  packages/graphql/tests/integration/directives/unique.int.test.ts
  packages/graphql/tests/integration/utils/tests-helper.ts
Labels: graphql

#4927 fix tests on path integration/types
  packages/graphql/src/translate/queryAST/factory/Operations/FulltextFactory.ts
  packages/graphql/tests/integration/aggregations/top-level/string.int.test.ts
  packages/graphql/tests/integration/aggregations/where/edge/duration.int.test.ts
  packages/graphql/tests/integration/issues/1249.int.test.ts
  packages/graphql/tests/integration/issues/1430.int.test.ts
  packages/graphql/tests/integration/issues/1760.int.test.ts
  packages/graphql/tests/integration/issues/1761.int.test.ts
  packages/graphql/tests/integration/issues/2652.int.test.ts
  packages/graphql/tests/integration/issues/2669.int.test.ts
  packages/graphql/tests/integration/issues/3009.int.test.ts
  packages/graphql/tests/integration/issues/433.int.test.ts
  packages/graphql/tests/integration/sort.int.test.ts
  packages/graphql/tests/integration/types/bigint.int.test.ts
  packages/graphql/tests/integration/types/date.int.test.ts
  packages/graphql/tests/integration/types/datetime.int.test.ts
  packages/graphql/tests/integration/types/duration.int.test.ts
  packages/graphql/tests/integration/types/float.int.test.ts
  packages/graphql/tests/integration/types/localdatetime.int.test.ts
  packages/graphql/tests/integration/types/localtime.int.test.ts
  packages/graphql/tests/integration/types/point-cartesian.int.test.ts
  packages/graphql/tests/integration/types/point.int.test.ts
  packages/graphql/tests/integration/types/points-cartesian.int.test.ts
  packages/graphql/tests/integration/types/points.int.test.ts
  packages/graphql/tests/integration/types/time.int.test.ts
Labels: graphql, fix

#4932 Fix parameters replace logic #4908
  .changeset/odd-spies-matter.md
  packages/graphql/src/translate/queryAST/utils/replace-arguments-in-statement.ts
  packages/graphql/tests/integration/issues/4908.int.test.ts
  packages/graphql/tests/tck/issues/1566.test.ts
Labels: graphql

#4939 Use uniqueType in advance filtering tests
  packages/graphql/tests/integration/filtering/advanced-filtering.int.test.ts
Labels: fix

#4938 Refactor assert indexes and constraints to use Schema Model
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
  packages/graphql/src/schema-model/annotation/UniqueAnnotation.ts
  packages/graphql/src/schema-model/parser/annotations-parser/unique-annotation.ts
Labels: graphql

#4942 Cleanup asserts indexes and constraints
  packages/graphql/src/classes/utils/asserts-indexes-and-constraints.ts
Labels: graphql

#4947 Fix flakyness in array-push.int.test.ts
  packages/graphql/tests/integration/array-methods/array-push.int.test.ts
Labels: fix

#4951 Change order of overrides in context
  .changeset/lucky-dodos-build.md
  packages/graphql/src/schema/resolvers/composition/wrap-query-and-mutation.ts
Labels: graphql, fix

#4954 Remove import of old Neo4j helper
  packages/graphql/tests/integration/teardown.ts
Labels: fix
