Repository neo4j/graphql, pull requests merged in 2024-12, with the labels that each got.

#5861 Filter fields with `@customResolver` from projection
  .changeset/breezy-jars-design.md
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/tests/tck/directives/customResolver.test.ts
Labels: fix, graphql

#5863 Filter fields with @customResolver from projection (LTS)
  .changeset/breezy-jars-design.md
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/tests/tck/directives/customResolver.test.ts
Labels: fix, graphql

#5865 Fix `@default` so it works for temporal types and `BigInt` fields
  .changeset/gold-days-fly.md
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/validation/custom-rules/directives/default.ts
  packages/graphql/src/schema/validation/custom-rules/utils/same-type-argument-as-field.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/tests/integration/directives/default.int.test.ts
Labels: fix, graphql

#5866 Fix `@default` so it works for temporal types and `BigInt` fields (LTS)
  .changeset/gold-days-fly.md
  packages/graphql/src/schema/get-obj-field-meta.ts
  packages/graphql/src/schema/validation/custom-rules/directives/default.ts
  packages/graphql/src/schema/validation/custom-rules/utils/same-type-argument-as-field.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/tests/integration/directives/default.int.test.ts
Labels: fix, graphql

#5869 Deprecates the private directive
  .changeset/stale-knives-shake.md
  packages/graphql/src/schema/validation/custom-rules/warnings/deprecated-private.ts
  packages/graphql/src/schema/validation/validate-document.ts
  packages/graphql/tests/integration/migration-warnings/private-directive.test.ts
Labels: graphql

#5886 Remove limit on relationship introspection #5884
  .changeset/afraid-spoons-give.md
  packages/introspector/src/to-internal-struct.ts
Labels: introspector

#5889 `queryDirection` fixes for LTS
  .changeset/tall-months-peel.md
  packages/graphql/src/translate/queryAST/ast/selection/RelationshipSelection.ts
  packages/graphql/src/translate/queryAST/factory/Operations/DeleteFactory.ts
  packages/graphql/tests/integration/directives/relationship/query-direction.int.test.ts
  packages/graphql/tests/tck/undirected-relationships/query-direction.test.ts
Labels: fix, graphql

#5888 `queryDirection` fixes
  .changeset/silent-carpets-tickle.md
  .changeset/tall-months-peel.md
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.ts
  packages/graphql/src/translate/queryAST/ast/selection/RelationshipSelection.ts
  packages/graphql/src/translate/queryAST/factory/Operations/DeleteFactory.ts
  packages/graphql/tests/integration/directives/relationship/query-direction.int.test.ts
  packages/graphql/tests/tck/undirected-relationships/query-direction.test.ts
Labels: fix, graphql

#5891 Remove limit on relationship introspection #5884
  .changeset/afraid-spoons-give.md
  packages/introspector/src/to-internal-struct.ts
Labels: introspector

#5901 Fix auth directives error mapping regex
  .changeset/serious-apes-fold.md
  packages/graphql/src/schema/validation/utils/map-error.test.ts
  packages/graphql/src/schema/validation/utils/map-error.ts
Labels: fix, graphql

#5904 Fix auth directives error mapping regex
  .changeset/many-jars-swim.md
  packages/graphql/src/schema/validation/utils/map-error.test.ts
  packages/graphql/src/schema/validation/utils/map-error.ts
Labels: fix, graphql

#5906 Cherry pick: Fix relationship filter on interfaces #5890
  .changeset/red-avocados-promise.md
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/tests/integration/issues/5887.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/validate.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/connection-auth-filter.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection-union.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/2871.test.ts
  packages/graphql/tests/tck/issues/2925.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
  packages/graphql/tests/tck/issues/4095.test.ts
  packages/graphql/tests/tck/issues/4110.test.ts
  packages/graphql/tests/tck/issues/4115.test.ts
  packages/graphql/tests/tck/issues/4116.test.ts
  packages/graphql/tests/tck/issues/4118.test.ts
  packages/graphql/tests/tck/issues/4170.test.ts
  packages/graphql/tests/tck/issues/4214.test.ts
  packages/graphql/tests/tck/issues/4223.test.ts
  packages/graphql/tests/tck/issues/4292.test.ts
  packages/graphql/tests/tck/issues/4429.test.ts
  packages/graphql/tests/tck/issues/4450.test.ts
  packages/graphql/tests/tck/issues/5023.test.ts
  packages/graphql/tests/tck/issues/505.test.ts
  packages/graphql/tests/tck/issues/5066.test.ts
  packages/graphql/tests/tck/issues/5080.test.ts
  packages/graphql/tests/tck/issues/5143.test.ts
  packages/graphql/tests/tck/issues/5270.test.ts
  packages/graphql/tests/tck/issues/5497.test.ts
  packages/graphql/tests/tck/issues/5515.test.ts
  packages/graphql/tests/tck/issues/5635.test.ts
  packages/graphql/tests/tck/issues/5887.test.ts
  packages/graphql/tests/tck/issues/missing-custom-cypher-on-unions.test.ts
Labels: fix, graphql
