Repository neo4j/graphql, pull requests merged in 2024-02, with the labels that each got.

#4631 Migration of the Federation resolver to use the translation layer
  packages/graphql/src/classes/Neo4jGraphQL.ts
  packages/graphql/src/classes/Subgraph.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/QueryASTFactory.ts
  packages/graphql/src/translate/queryAST/factory/parsers/parse-operation-fields.ts
  packages/graphql/src/translate/translate-read.ts
  packages/graphql/src/translate/translate-resolve-reference.ts
  packages/graphql/tests/tck/federation/authorization.test.ts
Labels: graphql

#4655 Chore: Remove unused code
  packages/graphql/src/classes/MutationDirective.ts
  packages/graphql/src/classes/QueryDirective.ts
  packages/graphql/src/classes/SubscriptionDirective.ts
  packages/graphql/src/schema-model/annotation/SubscriptionsAuthorizationAnnotation.ts
  packages/graphql/src/schema-model/library-directives.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipOperations.ts
  packages/graphql/src/schema/aggregations/field-aggregation-composer.ts
  packages/graphql/src/schema/resolvers/subscriptions/types.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/utils/type-checks.ts
  packages/graphql/src/translate/authorization/compatibility/create-authorization-after-and-params.ts
  packages/graphql/src/translate/authorization/utils/populate-where-params.ts
  packages/graphql/src/translate/connection-clause/connection-projection.ts
  packages/graphql/src/translate/connection-clause/create-connection-clause.ts
  packages/graphql/src/translate/connection-clause/create-edge-subquery.ts
  packages/graphql/src/translate/connection-clause/create-sort-and-limit.ts
  packages/graphql/src/translate/connection-clause/get-sort-fields.ts
  packages/graphql/src/translate/create-projection-and-params.test.ts
  packages/graphql/src/translate/create-projection-and-params.ts
  packages/graphql/src/translate/field-aggregations/aggregation-sub-queries.ts
  packages/graphql/src/translate/field-aggregations/create-field-aggregation.ts
  packages/graphql/src/translate/field-aggregations/field-aggregations-auth.ts
  packages/graphql/src/translate/field-aggregations/utils.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.test.ts
  packages/graphql/src/translate/projection/elements/create-datetime-element.ts
  packages/graphql/src/translate/projection/elements/create-point-element.test.ts
  packages/graphql/src/translate/projection/elements/create-point-element.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-value.test.ts
  packages/graphql/src/translate/projection/elements/create-relationship-property-value.ts
  packages/graphql/src/translate/projection/subquery/add-sort-and-limit-to-clause.ts
  packages/graphql/src/translate/projection/subquery/collect-union-subqueries-results.ts
  packages/graphql/src/translate/projection/subquery/create-projection-subquery.ts
  packages/graphql/src/translate/projection/subquery/translate-cypher-directive-projection.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/utils/resolveTree.ts
  packages/graphql/src/translate/where/property-operations/create-connection-operation.ts
  packages/graphql/src/translate/where/utils.ts
  packages/graphql/src/types/index.ts
  packages/graphql/src/utils/get-relationship-direction.ts
  packages/graphql/src/utils/global-node-projection.ts
  packages/graphql/src/utils/utils.ts
  packages/graphql/tests/utils/graphql-types.ts
Labels: graphql

#4743 Fix: add secrets level back to on-prem-nightly workflow
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
Labels: fix

#4744 Export the Neo4jGraphQLCallback type
  .changeset/red-shrimps-work.md
  packages/graphql/src/index.ts
Labels: graphql, feature

#4742 Cleanup OGM tests
  packages/ogm/package.json
  packages/ogm/src/generate.test.ts
  packages/ogm/tests/integration/additional-labels.int.test.ts
  packages/ogm/tests/integration/ogm.int.test.ts
  packages/ogm/tests/integration/pluralize-underscore.int.test.ts
  packages/ogm/tests/integration/scalars.int.test.ts
  packages/ogm/tests/issues/1130.test.ts
  packages/ogm/tests/issues/3773.test.ts
  packages/ogm/tests/issues/635.test.ts
  yarn.lock
Labels: ogm

#4746 Fix dev build
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
  .github/workflows/sonarcloud.yml
Labels: fix

#4616 chore: extract common logic for generating subscription event types
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
Labels: graphql, ogm, introspector

#4777 Initial refactor of the OperationFactory
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/AggregateFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/CreateFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/CustomCypherFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/DeleteFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/FulltextFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ReadFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/UpdateFactory.ts
Labels: graphql

#4762 Fix non-existing relationships for 1 to 1 relationship.
  .changeset/eleven-laws-shout.md
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/tests/integration/issues/2697.int.test.ts
  packages/graphql/tests/integration/issues/4667.int.test.ts
  packages/graphql/tests/tck/issues/4667.test.ts
Labels: graphql, fix

#4734 Unify custom cypher translation between top-level and nested
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/translate/queryAST/ast/QueryASTContext.ts
  packages/graphql/src/translate/queryAST/ast/fields/Field.ts
  packages/graphql/src/translate/queryAST/ast/fields/OperationField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherUnionAttributeField.ts
  packages/graphql/src/translate/queryAST/ast/fields/attribute-fields/CypherUnionAttributePartial.ts
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/CypherOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/CypherScalarOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/selection/CustomCypherSelection.ts
  packages/graphql/src/translate/queryAST/factory/FieldFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/ConnectionFactory.ts
  packages/graphql/src/translate/queryAST/factory/Operations/CustomCypherFactory.ts
  packages/graphql/tests/integration/cypher-params.int.test.ts
  packages/graphql/tests/integration/issues/2581.int.test.ts
  packages/graphql/tests/integration/issues/4004.int.test.ts
  packages/graphql/tests/tck/alias.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/is-authenticated/is-authenticated.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles/roles.test.ts
  packages/graphql/tests/tck/directives/cypher.test.ts
  packages/graphql/tests/tck/issues/1364.test.ts
  packages/graphql/tests/tck/issues/1528.test.ts
  packages/graphql/tests/tck/issues/1760.test.ts
  packages/graphql/tests/tck/issues/2100.test.ts
  packages/graphql/tests/tck/issues/2189.test.ts
  packages/graphql/tests/tck/issues/2581.test.ts
  packages/graphql/tests/tck/issues/2766.test.ts
  packages/graphql/tests/tck/issues/387.test.ts
  packages/graphql/tests/tck/issues/3905.test.ts
  packages/graphql/tests/tck/issues/4001.test.ts
  packages/graphql/tests/tck/issues/4004.test.ts
  packages/graphql/tests/tck/issues/487.test.ts
  packages/graphql/tests/tck/issues/630.test.ts
  packages/graphql/tests/tck/issues/missing-custom-cypher-on-unions.test.ts
  packages/graphql/tests/tck/sort.test.ts
Labels: graphql

#4781 4741 filtering on aggregates does not work
  .changeset/wet-onions-crash.md
  packages/graphql/src/translate/queryAST/ast/operations/ConnectionReadOperation.ts
  packages/graphql/tests/integration/issues/4741.int.test.ts
  packages/graphql/tests/tck/issues/4741.test.ts
Labels: graphql

#4669 refactoring: Harmonizing Operations (names)
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityOperations.ts
  packages/graphql/src/schema-model/entity/model-adapters/ImplementingEntityOperations.ts
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityOperations.ts
  packages/graphql/src/schema-model/entity/model-adapters/UnionEntityOperations.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipBaseOperations.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipDeclarationOperations.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipOperations.ts
  packages/graphql/src/schema/generation/implementation-inputs.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/resolvers/mutation/update.ts
  packages/graphql/src/schema/resolvers/query/aggregate.ts
Labels: graphql
