Repository neo4j/graphql, pull requests merged in 2024-05, with the labels that each got.

#5072 Fix/5066
  .changeset/tender-owls-grab.md
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeReadPartial.ts
  packages/graphql/tests/integration/issues/5066.int.test.ts
  packages/graphql/tests/tck/issues/5066.test.ts
Labels: graphql, fix

#5071 Update cypher builder
  packages/graphql/package.json
  packages/graphql/src/translate/batch-create/unwind-create-visitors/UnwindCreateVisitor.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/src/translate/queryAST/ast/filters/ConnectionFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/aggregation/AggregationFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/AuthRelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/operations/AggregationOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/composite/CompositeAggregationPartial.ts
  packages/graphql/src/translate/queryAST/ast/selection/NodeSelection.ts
  packages/graphql/src/translate/queryAST/ast/selection/RelationshipSelection.ts
  packages/graphql/src/translate/queryAST/utils/create-node-from-entity.ts
  packages/graphql/src/translate/translate-delete.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/tests/utils/clean-nodes.ts
  packages/graphql/tests/utils/tests-helper.ts
  packages/ogm/tests/utils/clean-nodes.ts
  yarn.lock
Labels: graphql

#5085 Hide validation warning under env variable #4843
  .changeset/good-lizards-fail.md
  packages/graphql/src/constants.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/object-fields-without-resolver.test.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/object-fields-without-resolver.ts
Labels: graphql

#5091 Alias directive v6
  packages/graphql/src/api-v6/queryASTFactory/ReadOperationFactory.ts
  packages/graphql/src/api-v6/queryIR/ConnectionReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/QueryAST.ts
  packages/graphql/tests/api-v6/integration/directives/alias/query.int.test.ts
  packages/graphql/tests/api-v6/integration/relationship.int.test.ts
  packages/graphql/tests/api-v6/integration/simple.int.test.ts
  packages/graphql/tests/api-v6/tck/directives/alias/query.test.ts
Labels: graphql

#5103 Aggregate types schema generation improvements
  .changeset/breezy-mice-perform.md
  packages/graphql/src/schema/generation/aggregate-types.ts
Labels: graphql

#5104 Remove deprecated fields flag
  .changeset/silly-hotels-do.md
  packages/graphql/src/schema/create-relationship-fields/create-relationship-fields.ts
  packages/graphql/src/schema/deprecation-map.ts
  packages/graphql/src/schema/generation/aggregate-types.ts
  packages/graphql/src/schema/generation/augment-object-or-interface.ts
  packages/graphql/src/schema/generation/augment-where-input.ts
  packages/graphql/src/schema/generation/connection-where-input.ts
  packages/graphql/src/schema/generation/delete-input.ts
  packages/graphql/src/schema/generation/disconnect-input.ts
  packages/graphql/src/schema/generation/update-input.ts
  packages/graphql/src/schema/generation/utils.ts
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/schema/remove-deprecated/aggregations.test.ts
  packages/graphql/tests/schema/remove-deprecated/array-methods.test.ts
  packages/graphql/tests/schema/remove-deprecated/comments.test.ts
Labels: graphql

#5134 Update neo-place to use Apollo Server 4
  .changeset/sweet-deers-talk.md
  examples/neo-place/client/canvas-api.js
  examples/neo-place/client/graphql-server-api.js
  examples/neo-place/client/index.js
  examples/neo-place/create-engine.js
  examples/neo-place/get-driver.js
  examples/neo-place/get-env-variable.js
  examples/neo-place/package.json
  examples/neo-place/server.js
  examples/neo-place/typedefs.graphql
  yarn.lock
Labels: fix

#5132 Add type checking for existing `@populatedBy` functionality
  .changeset/eighty-seals-jump.md
  .changeset/nasty-games-build.md
  .changeset/small-geese-reflect.md
  packages/graphql/src/classes/CallbackBucket.ts
  packages/graphql/src/graphql/scalars/BigInt.ts
  packages/graphql/src/schema/validation/custom-rules/directives/populatedBy.ts
  packages/graphql/src/schema/validation/validate-document.test.ts
  packages/graphql/src/translate/utils/callback-utils.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/directives/populatedBy.int.test.ts
Labels: graphql, feature

#5147 Fix a bug that caused custom Cypher queries to fail when complex authorization rules are applied.
  .changeset/good-bugs-juggle.md
  packages/graphql/src/translate/queryAST/ast/operations/CypherOperation.ts
  packages/graphql/tests/integration/issues/5080.int.test.ts
  packages/graphql/tests/integration/issues/5143.int.test.ts
  packages/graphql/tests/tck/issues/5080.test.ts
  packages/graphql/tests/tck/issues/5143.test.ts
Labels: graphql

#5157 Test: Use fixed values instead of generating them
  packages/graphql/tests/integration/directives/populatedBy/populatedBy-node-properties.int.test.ts
  packages/graphql/tests/integration/directives/populatedBy/populatedBy-relationship-properties.int.test.ts
Labels: fix

#5189 Remove params from transaction metadata
  .changeset/cold-tables-trade.md
  packages/graphql/src/classes/Executor.ts
Labels: graphql, fix
