Repository neo4j/graphql, pull requests merged in 2024-08, with the labels that each got.

#5432 Fix bug where pre-specified plural names were being pluralized again
  .changeset/thick-sheep-obey.md
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/UnionEntityAdapter.ts
  packages/graphql/tests/schema/issues/5428.test.ts
Labels: graphql, fix

#5440 Generate non-list relationship filters if array filters disabled
  .changeset/cool-wasps-rest.md
  packages/graphql/src/schema/generation/augment-where-input.ts
  packages/graphql/tests/schema/issues/5435.test.ts
Labels: graphql, fix

#5446 Add warning if `@subscriptionsAuthorization` missing
  .changeset/odd-numbers-remain.md
  packages/graphql/src/schema/validation/custom-rules/utils/get-directive-names.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/object-fields-without-resolver.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/subscriptions-authorization-missing.test.ts
  packages/graphql/src/schema/validation/custom-rules/warnings/subscriptions-authorization-missing.ts
  packages/graphql/src/schema/validation/validate-document.ts
Labels: graphql, fix

#5444 "Delete mutations" schema on version 6
  packages/graphql/src/api-v6/resolvers/translate-delete-resolver.ts
  packages/graphql/src/api-v6/schema-generation/SchemaGenerator.ts
  packages/graphql/src/api-v6/schema-generation/schema-types/StaticSchemaTypes.ts
  packages/graphql/src/api-v6/schema-generation/schema-types/TopLevelEntitySchemaTypes.ts
  packages/graphql/src/api-v6/schema-model/graphql-type-names/TopLevelEntityTypeNames.ts
  packages/graphql/tests/api-v6/schema/directives/default-array.test.ts
  packages/graphql/tests/api-v6/schema/directives/default.test.ts
  packages/graphql/tests/api-v6/schema/directives/relayId.test.ts
  packages/graphql/tests/api-v6/schema/relationship.test.ts
  packages/graphql/tests/api-v6/schema/simple.test.ts
  packages/graphql/tests/api-v6/schema/types/array.test.ts
  packages/graphql/tests/api-v6/schema/types/scalars.test.ts
  packages/graphql/tests/api-v6/schema/types/spatial.test.ts
  packages/graphql/tests/api-v6/schema/types/temporals.test.ts
Labels: graphql

#5468 Fix BigInt constraints #5461
  .changeset/rude-icons-doubt.md
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/tests/integration/issues/5461.int.test.ts
Labels: graphql

#5470 Fix #5467
  .changeset/tough-parents-hear.md
  packages/graphql/src/translate/queryAST/utils/replace-arguments-in-statement.ts
  packages/graphql/tests/integration/issues/5467.int.test.ts
  packages/graphql/tests/tck/issues/5467.test.ts
Labels: graphql

#5474 Update exports for ogm so it works with named ESM import and CJS
  .changeset/green-gorillas-learn.md
  packages/ogm/src/index.ts
Labels: ogm

#5500 fix: use closeTo in vector similarity score tests
  packages/graphql/tests/integration/directives/vector/vector-auth.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-query.int.test.ts
  packages/graphql/tests/integration/directives/vector/vector-sorting.int.test.ts
Labels: fix

#5507 Fix 5497
  .changeset/stupid-geese-marry.md
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/tests/integration/issues/5497.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/5497.test.ts
Labels: graphql
