Repository neo4j/graphql, pull requests merged in 2024-04, with the labels that each got.

#4916 Fix aliased fields case on interface relationship connection filters
  .changeset/sixty-grapes-rest.md
  packages/graphql/src/translate/queryAST/ast/filters/property-filters/ParamPropertyFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/property-filters/PropertyFilter.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/tests/integration/filtering/filter-interface-relationship-alias.int.test.ts
  packages/graphql/tests/tck/connections/filtering/interface-relationships.test.ts
Labels: graphql

#4989 Always serialize ids as strings in subscriptions
  packages/graphql-amqp-subscriptions-engine/tests/e2e/rabbitmq.e2e.test.ts
  packages/graphql/src/schema/resolvers/subscriptions/where/where.test.ts
  packages/graphql/src/schema/subscriptions/publish-events-to-subscription-mechanism.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/array-methods/array-subscription.int.test.ts
  packages/graphql/tests/integration/subscriptions/create-relationship/create.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/create.int.test.ts
  packages/graphql/tests/integration/subscriptions/create/interfaces.int.test.ts
  packages/graphql/tests/integration/subscriptions/delete/delete.int.test.ts
  packages/graphql/tests/integration/subscriptions/single-instance-plugin.int.test.ts
  packages/graphql/tests/integration/subscriptions/spatial-types.int.test.ts
  packages/graphql/tests/integration/subscriptions/update/update.int.test.ts
Labels: graphql, fix

#4979 Custom resolved fields out of EventPayload type
  .changeset/loud-pillows-shake.md
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityAdapter.ts
  packages/graphql/tests/e2e/subscriptions/issues/3698.e2e.test.ts
  packages/graphql/tests/schema/issues/3698.test.ts
Labels: graphql, fix

#4992 Improvements on populatedBy fields in input types
  .changeset/beige-planets-thank.md
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/tests/schema/directives/populatedBy.test.ts
  packages/graphql/tests/schema/issues/3817.test.ts
Labels: graphql, fix

#5022 Fix aggregation filters with multiple labels #5013
  .changeset/rotten-maps-film.md
  packages/graphql/src/translate/queryAST/ast/filters/aggregation/AggregationFilter.ts
  packages/graphql/tests/integration/issues/5013.int.test.ts
  packages/graphql/tests/tck/aggregations/where/node/string.test.ts
Labels: graphql

#5039 Fix cypher generation #5023
  .changeset/flat-bulldogs-work.md
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/tests/integration/issues/5023.int.test.ts
  packages/graphql/tests/tck/issues/3929.test.ts
  packages/graphql/tests/tck/issues/5023.test.ts
Labels: graphql

#5041 Bug-fix 4995
  .changeset/fuzzy-nails-occur.md
  packages/ogm/src/utils/filter-document.test.ts
  packages/ogm/src/utils/filter-document.ts
  packages/ogm/tests/issues/4995.test.ts
Labels: ogm

#5053 add duration type to introspector
  .changeset/long-lies-hear.md
  packages/introspector/src/transforms/neo4j-graphql/utils/map-neo4j-to-graphql-type.ts
  packages/introspector/tests/integration/graphql/graphs.test.ts
Labels: fix, introspector

#5057 Fix bug reported in issue 5030, cannot use argument phrase in custom cypher queries.
  .changeset/giant-cups-think.md
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/tests/integration/issues/5030.int.test.ts
  packages/graphql/tests/tck/issues/5030.test.ts
Labels: graphql
