Repository neo4j/graphql, pull requests merged in 2024-01, with the labels that each got.

#4472 Fix toolbox failing tests
  packages/graphql-toolbox/package.json
  packages/graphql-toolbox/playwright.config.ts
  packages/graphql-toolbox/src/modules/AppSettings/AppSettings.tsx
  yarn.lock
Labels: fix

#4476 Fix query printing in query logs
  packages/graphql/src/classes/Executor.ts
Labels: graphql

#4481 Build: pin codemirror resolutions
  package.json
  yarn.lock
Labels: fix

#4482 Fix 4450
  packages/graphql/src/translate/queryAST/ast/filters/ConnectionFilter.ts
  packages/graphql/tests/integration/issues/4450.int.test.ts
  packages/graphql/tests/tck/issues/4450.test.ts
Labels: graphql, fix

#4483 Fix authorization variable naming for create operations
  .changeset/two-phones-look.md
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/tests/integration/issues/4429.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/bind/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/roles-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/4118.test.ts
  packages/graphql/tests/tck/issues/4170.test.ts
  packages/graphql/tests/tck/issues/4214.test.ts
  packages/graphql/tests/tck/issues/4223.test.ts
  packages/graphql/tests/tck/issues/4429.test.ts
  packages/graphql/tests/tck/operations/batch/batch-create-auth.test.ts
Labels: graphql, fix

#4494 chore: clean up leftovers of @exclude-directive
  packages/graphql/src/classes/Exclude.ts
  packages/graphql/src/classes/Node.ts
  packages/graphql/src/classes/index.ts
  packages/graphql/src/graphql/directives/arguments/enums/CallbackOperation.ts
  packages/graphql/src/graphql/directives/arguments/enums/ExcludeOperation.ts
  packages/graphql/src/schema/get-nodes.ts
  packages/graphql/src/schema/parse-exclude-directive.test.ts
  packages/graphql/src/schema/parse-exclude-directive.ts
  packages/graphql/src/schema/schema-configuration.test.ts
  packages/graphql/src/schema/schema-configuration.ts
Labels: graphql

#4507 Fix: 4477 filtering by count on an aggregate
  .changeset/unlucky-forks-pretend.md
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/tests/integration/issues/4477.int.test.ts
  packages/graphql/tests/tck/issues/4477.test.ts
Labels: graphql, fix

#4557 build: revert rabbitmq:3.12-management image hash
  examples/neo-place/docker-compose.yml
  examples/subscriptions/apollo_rabbitmq/docker-compose.yml
  packages/graphql-amqp-subscriptions-engine/docker-compose.yml
Labels: fix

#4580 Refactoring: harmonized authorization handling
  packages/graphql/src/schema-model/annotation/AuthorizationAnnotation.ts
  packages/graphql/src/translate/authorization/compatibility/create-authorization-after-and-params.ts
  packages/graphql/src/translate/authorization/compatibility/create-authorization-before-and-params.ts
  packages/graphql/src/translate/authorization/create-authorization-after-predicate.ts
  packages/graphql/src/translate/authorization/create-authorization-before-predicate.ts
  packages/graphql/src/translate/authorization/utils/find-matching-rules.test.ts
  packages/graphql/src/translate/authorization/utils/find-matching-rules.ts
  packages/graphql/src/translate/queryAST/factory/AuthFilterFactory.ts
  packages/graphql/src/translate/queryAST/factory/AuthorizationFactory.ts
  packages/graphql/src/translate/queryAST/factory/OperationFactory.ts
  packages/graphql/src/translate/translate-top-level-match.ts
  packages/graphql/src/types/authorization.ts
Labels: graphql

#4573 fix:#2697 fix aggregation filter for durations
  .changeset/tricky-chairs-learn.md
  packages/graphql/src/translate/queryAST/ast/filters/aggregation/AggregationDurationPropertyFilter.ts
  packages/graphql/tests/integration/issues/2697.int.test.ts
  packages/graphql/tests/tck/aggregations/where/edge/duration.test.ts
  packages/graphql/tests/tck/aggregations/where/node/duration.test.ts
Labels: graphql, fix

#4513 [Bugfix] augment sort for connection of an interface
  .changeset/large-wolves-tap.md
  packages/graphql/src/schema/create-connection-fields.ts
  packages/graphql/tests/integration/issues/4520.int.test.ts
  packages/graphql/tests/schema/experimental-schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
Labels: graphql, fix

#4509 Fixes the missing takeover of custom directives for interfaces
  .changeset/fresh-toys-impress.md
  packages/graphql/src/schema-model/library-directives.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/make-augmented-schema/user-defined-directives.ts
  packages/graphql/tests/schema/experimental-schema/inheritance.test.ts
  packages/graphql/tests/schema/inheritance.test.ts
Labels: graphql, fix

#4515 fix: #4514 augment interfaces the same way no matter if they are used as the target of a relationship or not
  .changeset/light-crews-cover.md
  packages/graphql/src/schema/generation/interface-type.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/tests/schema/experimental-schema/interfaces.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
Labels: graphql, fix

#4618 chore: improve typings for `applyAuthentication`
  packages/graphql/src/translate/authorization/utils/apply-authentication.ts
Labels: graphql

#4512 Harmonize the generation of SubscriptionWhere- & Where- input-types, so they reuse the same logic
  .changeset/sharp-tigers-serve.md
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/ConcreteEntityAdapter.ts
  packages/graphql/src/schema-model/entity/model-adapters/InterfaceEntityAdapter.ts
  packages/graphql/src/schema-model/relationship/model-adapters/RelationshipAdapter.ts
  packages/graphql/src/schema/generation/implementation-inputs.ts
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/src/schema/get-where-fields.ts
  packages/graphql/src/schema/make-augmented-schema.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-types.ts
  packages/graphql/src/schema/subscriptions/generate-subscription-where-type.ts
  packages/graphql/src/schema/to-compose.ts
  packages/graphql/tests/schema/directives/filterable.test.ts
  packages/graphql/tests/schema/directives/selectable.test.ts
  packages/graphql/tests/schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/filterable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/selectable.test.ts
  packages/graphql/tests/schema/experimental-schema/directives/settable.test.ts
  packages/graphql/tests/schema/experimental-schema/issues/3439.test.ts
  packages/graphql/tests/schema/experimental-schema/subscriptions.test.ts
  packages/graphql/tests/schema/issues/3439.test.ts
  packages/graphql/tests/schema/issues/3537.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
Labels: graphql

#4629 chore: remove duplicated code in ReadOperation.ts
  packages/graphql/src/translate/queryAST/ast/operations/ReadOperation.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/connection-auth-filter.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
  packages/graphql/tests/tck/issues/4214.test.ts
  packages/graphql/tests/tck/issues/4292.test.ts
  packages/graphql/tests/tck/issues/505.test.ts
Labels: graphql
