Repository neo4j/graphql, pull requests merged in 2025-02, with the labels that each got.

#5969 Add addVersionPrefix to cypherQueryOptions in LTS
  .changeset/soft-socks-count.md
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/translate/translate-resolve-reference.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/config-options/query-options.int.test.ts
Labels: graphql

#5996 Fix missing schema model on subscription engines init
  .changeset/hip-actors-retire.md
  packages/graphql/src/classes/Neo4jGraphQL.ts
Labels: fix, graphql

#6017 fix: remove comma dangle linting rule (lts)
  .eslintrc.js
Labels: fix

#6029 Add `@sortable` directive
  .changeset/ten-walls-grin.md
  packages/graphql/src/graphql/directives/index.ts
  packages/graphql/src/graphql/directives/sortable.ts
  packages/graphql/src/schema-model/annotation/Annotation.ts
  packages/graphql/src/schema-model/annotation/SortableAnnotation.ts
  packages/graphql/src/schema-model/attribute/model-adapters/AttributeAdapter.ts
  packages/graphql/src/schema-model/library-directives.ts
  packages/graphql/src/schema-model/parser/annotations-parser/sortable-annotation.test.ts
  packages/graphql/src/schema-model/parser/annotations-parser/sortable-annotation.ts
  packages/graphql/src/schema/validation/utils/invalid-directive-combinations.ts
  packages/graphql/tests/schema/directives/sortable.test.ts
Labels: feature, graphql
