Repository neo4j/graphql, pull requests merged in 2025-01, with the labels that each got.

#5934 backport typename filter in v6
  .changeset/fluffy-schools-promise.md
  packages/graphql/src/schema/constants.ts
  packages/graphql/src/schema/generation/where-input.ts
  packages/graphql/src/translate/queryAST/factory/FilterFactory.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/filtering/typename-in.int.test.ts
  packages/graphql/tests/schema/comments.test.ts
  packages/graphql/tests/schema/connections/interfaces.test.ts
  packages/graphql/tests/schema/directive-preserve.test.ts
  packages/graphql/tests/schema/directives/customResolver.test.ts
  packages/graphql/tests/schema/directives/cypher.test.ts
  packages/graphql/tests/schema/directives/default.test.ts
  packages/graphql/tests/schema/directives/filterable.test.ts
  packages/graphql/tests/schema/directives/private.test.ts
  packages/graphql/tests/schema/directives/relationship-aggregate.test.ts
  packages/graphql/tests/schema/directives/relationship-nested-operations.test.ts
  packages/graphql/tests/schema/directives/selectable.test.ts
  packages/graphql/tests/schema/directives/settable.test.ts
  packages/graphql/tests/schema/inheritance.test.ts
  packages/graphql/tests/schema/interface-relationships.test.ts
  packages/graphql/tests/schema/interfaces.test.ts
  packages/graphql/tests/schema/issues/2377.test.ts
  packages/graphql/tests/schema/issues/2993.test.ts
  packages/graphql/tests/schema/issues/3439.test.ts
  packages/graphql/tests/schema/issues/3698.test.ts
  packages/graphql/tests/schema/issues/4511.test.ts
  packages/graphql/tests/schema/issues/4615.test.ts
  packages/graphql/tests/schema/math.test.ts
  packages/graphql/tests/schema/remove-deprecated/comments.test.ts
  packages/graphql/tests/schema/remove-deprecated/directed-argument.test.ts
  packages/graphql/tests/schema/remove-deprecated/options-argument.test.ts
  packages/graphql/tests/schema/remove-deprecated/typename_IN.test.ts
  packages/graphql/tests/schema/subscriptions.test.ts
  packages/graphql/tests/schema/union-interface-relationship.test.ts
Labels: graphql

#5954 Fix for CalVer
  .changeset/serious-paws-hunt.md
  packages/graphql/src/classes/Neo4jDatabaseInfo.test.ts
  packages/graphql/src/classes/Neo4jDatabaseInfo.ts
Labels: fix, graphql

#5952 add new flag: addCypherVersion
  .changeset/soft-socks-count.md
  packages/graphql/package.json
  packages/graphql/src/classes/Executor.ts
  packages/graphql/src/translate/translate-resolve-reference.ts
  packages/graphql/src/types/index.ts
  packages/graphql/tests/integration/config-options/query-options.int.test.ts
  yarn.lock
Labels: graphql

#5971 Fix falkyness of global-authentication tests for subscriptions
  packages/graphql/tests/e2e/subscriptions/authorization/global-authentication.e2e.test.ts
Labels: fix
