Repository neo4j/graphql, pull requests merged in 2025-05, with the labels that each got.

#6274 Backport 6243
  .changeset/late-items-lead.md
  packages/graphql/src/classes/subscription/cdc/cdc-api.ts
Labels: graphql

#6275 Backport 6243 to lts
  .changeset/plain-actors-doubt.md
  packages/graphql/src/classes/subscription/cdc/cdc-api.ts
Labels: graphql

#6279 Update release pipeline to avoid semver tags
  .github/workflows/changesets.yml
  package.json
Labels: fix

#6294 Fix bug that causes 1:1 non-nullable relationship filters to produce invalid Cypher.
  .changeset/plain-bushes-cheat.md
  packages/graphql/src/translate/queryAST/ast/filters/RelationshipFilter.ts
  packages/graphql/src/translate/queryAST/ast/filters/authorization-filters/AuthRelationshipFilter.ts
  packages/graphql/tests/integration/issues/6291.int.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/allow/interface-relationships/implementation-allow.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/interface-relationships/implementation-bind.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/validate/validate.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/connection-auth-filter.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/interface-relationships/implementation-where.test.ts
  packages/graphql/tests/tck/directives/authorization/arguments/where/where.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection-union.test.ts
  packages/graphql/tests/tck/directives/authorization/projection-connection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth-projection.test.ts
  packages/graphql/tests/tck/directives/node/node-with-auth.test.ts
  packages/graphql/tests/tck/issues/2396.test.ts
  packages/graphql/tests/tck/issues/2871.test.ts
  packages/graphql/tests/tck/issues/2925.test.ts
  packages/graphql/tests/tck/issues/3901.test.ts
  packages/graphql/tests/tck/issues/3929.test.ts
  packages/graphql/tests/tck/issues/4077.test.ts
  packages/graphql/tests/tck/issues/4095.test.ts
  packages/graphql/tests/tck/issues/4110.test.ts
  packages/graphql/tests/tck/issues/4115.test.ts
  packages/graphql/tests/tck/issues/4116.test.ts
  packages/graphql/tests/tck/issues/4118.test.ts
  packages/graphql/tests/tck/issues/4170.test.ts
  packages/graphql/tests/tck/issues/4214.test.ts
  packages/graphql/tests/tck/issues/4223.test.ts
  packages/graphql/tests/tck/issues/4292.test.ts
  packages/graphql/tests/tck/issues/4429.test.ts
  packages/graphql/tests/tck/issues/4450.test.ts
  packages/graphql/tests/tck/issues/5023.test.ts
  packages/graphql/tests/tck/issues/505.test.ts
  packages/graphql/tests/tck/issues/5066.test.ts
  packages/graphql/tests/tck/issues/5080.test.ts
  packages/graphql/tests/tck/issues/5143.test.ts
  packages/graphql/tests/tck/issues/5270.test.ts
  packages/graphql/tests/tck/issues/5497.test.ts
  packages/graphql/tests/tck/issues/5515.test.ts
  packages/graphql/tests/tck/issues/5635.test.ts
  packages/graphql/tests/tck/issues/5887.test.ts
  packages/graphql/tests/tck/issues/6291.test.ts
  packages/graphql/tests/tck/issues/missing-custom-cypher-on-unions.test.ts
Labels: fix, graphql

#6307 Fix disableRelationshipTypeEscaping on mutations
  .changeset/loose-fans-dig.md
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-connect-or-create-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-relationship-validation-string.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/get-relationship-type.ts
  packages/graphql/tests/tck/issues/6298.test.ts
Labels: graphql

#6321 Fix disableRelationshipTypeEscaping on mutations
  .changeset/loose-fans-dig.md
  packages/graphql/src/translate/create-connect-and-params.ts
  packages/graphql/src/translate/create-create-and-params.ts
  packages/graphql/src/translate/create-delete-and-params.ts
  packages/graphql/src/translate/create-disconnect-and-params.ts
  packages/graphql/src/translate/create-update-and-params.ts
  packages/graphql/src/translate/translate-update.ts
  packages/graphql/src/utils/get-relationship-type.ts
Labels: graphql

#6327 Remove flakyness in Aura tests for Authorization filters with `@cypher`
  packages/graphql/tests/integration/deprecations/generic-filtering/cypher/relationships/cypher-filtering-relationship-auth-deprecated.int.test.ts
  packages/graphql/tests/integration/directives/cypher/filtering/relationships/cypher-filtering-relationship-auth.int.test.ts
Labels: fix

#6332 Improves handling of invalid identifier check from cdc
  .changeset/small-weeks-ask.md
  packages/graphql/src/classes/subscription/cdc/cdc-api.ts
  packages/graphql/src/utils/error-has-gql-status.test.ts
  packages/graphql/src/utils/error-has-gql-status.ts
Labels: graphql

#6306 Change test setup to use user with restricted permission
  .github/workflows/reusable-integration-tests-on-prem-nightly.yml
  .github/workflows/reusable-integration-tests-on-prem.yml
  packages/graphql/jest.global-setup.js
  packages/graphql/src/classes/Executor.ts
  packages/graphql/tests/integration/aggregations/where/authorization-with-aggregation-filter.int.test.ts
  packages/graphql/tests/integration/issues/464.int.test.ts
  packages/graphql/tests/utils/tests-helper.ts
Labels: graphql
